[2014-06-17 03:57] dinhvh opened #4 "jazzy did not work on MailCore2"
repository: https://github.com/MailCore/mailcore2

[code]

Lots of headers in MailCore are included using for example <MailCore/MCAbstractMessage.h>

Is there anything I'm missing?

[2014-06-17 10:33] DmitrySeredinov opened #5 "Jazzy didn't work on simple Category"
I'm trying to use Jazzy with the project, which uses CoreBluetooth Framework.
And Jazzy unable to find CoreBluetooth/CoreBluetooth file.
The command:

[code]

Affected Category's Header:

[code]

Thanks.

[2014-07-03 04:13] jpsim opened #6 "Index generation"

[2014-07-03 04:13] jpsim opened #7 "Instance/class method distinction"

[2014-07-03 04:14] jpsim opened #8 "Display inheritance graph"

[2014-07-03 04:14] jpsim opened #9 "Add frontend support for conforms"

[2014-07-03 04:14] jpsim opened #10 "Add frontend support for import"

[2014-07-03 04:15] jpsim opened #11 "Add frontend support for availability"

[2014-07-03 04:15] jpsim opened #12 "Syntax Highlighting for source declarations"

[2014-07-03 04:15] jpsim opened #13 "Cross-link to external docsets"

[2014-07-03 04:15] jpsim opened #14 "Search in page"

[2014-07-03 04:15] jpsim opened #15 "Handle availability options"

[2014-07-03 04:15] jpsim opened #16 "Inline code examples"

[2014-07-03 04:15] jpsim opened #17 "Unit tests"

[2014-07-03 04:16] jpsim opened #18 "Fix Lists (unordered/ordered)"

[2014-07-03 04:16] jpsim opened #19 "Generate docsets for Dash & Xcode"

[2014-07-03 04:16] jpsim opened #20 "Pass in arbitrary Mustache templates"

[2014-07-03 04:16] jpsim opened #21 "Support parsing Swift files"

[2014-07-03 04:16] jpsim opened #22 "Parse @name"

[2014-07-03 04:16] jpsim opened #23 "Parse @warning"

[2014-07-03 04:17] jpsim opened #24 "Parse @see"

[2014-07-03 04:17] jpsim opened #25 "Parse enum's"

[2014-07-03 04:17] jpsim opened #26 "Parse instance variables"

[2014-07-03 04:22] jpsim opened #27 "Clean up HTML templates"
There are currently several references to CloudKit and other Apple-specific documentation that we should remove.

[2014-07-03 04:28] jpsim opened #28 "Host sample output"
Hosting some sample generated HTML documentation online will help convey what this project does.

[2014-07-03 07:51] jpsim opened #29 "Last method description is always shown, with visual glitches"
![image](https://cloud.githubusercontent.com/assets/474794/3466779/ca6f2cf8-0286-11e4-92e4-b0c1ca370c05.png)

[2014-07-03 07:52] jpsim opened #30 "Expanding a method description should collapse all others"

[2014-07-03 07:56] jpsim opened #31 "Add footer"
Footer was removed because it was not displayed at the bottom of the page, but rather overlaid on top of other site content.

[2014-07-03 20:37] jeremy-w opened #32 "work with .swiftdoc generated by swift compiler - appears to take reST as input, not Doxygen/Appledoc style markup"
When run as `swift -emit-module foo.swift`, `swift` produces 2 files:
- foo.swiftmodule
- foo.swiftdoc

The swiftdoc file is a binary file that picks up `///` and `/**` style doc comments, but not Qt-style `/*!` comments.

Examining the headers for the Swift stdlib, it appears the input syntax is reST, as pointed out by @jspahrsummers [here](https://twitter.com/jspahrsummers/status/482373414728912

[2014-07-06 08:58] orta opened #33 "Create a DEV_README"
Go through, stating everything needed to get a development environment up & running, I know bunch of people are interested, but like with CocoaPods, they have no idea how to actually get a ruby dev env and a usable binary for testing with,

[2014-07-07 10:53] #33 closed, assigned to jpsim

[2014-07-07 19:10] jpsim opened #34 "Support Xcode 6 GM"
Unfortunately, the approach we took with Xcode 6 Betas 1 & 2 no longer work with Beta 3.

This still works:

[code]

but this no longer works:

[code]

Seems to be an issue with `sourcekitd-test`'s XPC connection with `SourceKitService`, but I'm unsure how to fix it. If anyone has any ideas, I'd :heart: to hear from you!

[2014-07-08 08:33] DaleLJefferson opened #35 "Error: no implicit conversion of nil into String"
Wanted to try out jazzy on my Objective-C project with xcode 6 but I get the following output.

[code]

[2014-07-09 06:43] #35 closed, assigned to jpsim

[2014-07-15 18:30] jverkoey opened #36 "jazzy -h locks up"
Attempting to run `jazzy -h` after installing it via `sudo gem install jazzy` results in jazzy locking up for multiple seconds, _at least_. I have not allowed jazzy to execute for longer for fear of what it might be doing, but here's my interrupt dump:

[code]

[2014-07-17 14:49] frosty opened #37 "Error: no implicit conversion of nil into String"
I'm getting this error both when trying to run Jazzy against a directory, and when simply getting jazzy usage:

[code]

I opened this ticket as I feel it's separate to the (similar, but already closed) #35. I'm using Jazzy 0.0.4, and Xcode6-beta2.

[2014-07-20 21:20] OscarSwanros opened #38 "Jazzy deleted my files on the output folder"
Ran `jazzy -o ~/Desktop/` and it deleted all my files on ~/Desktop.

[2014-07-27 08:42] Isuru-Nanayakkara opened #39 "HTML file missing"
Hi! I'm a little lost on how to use it. I installed jazzy successfully. Now I have created a sample project in Xcode 6 beta 4 using Swift. And I have defined the comments like this.

[code]

Then from the Terminal, I navigated in to the project folder, ran jazzy **jazzy -o ~/Desktop/Sample/**. Three folders get created inside the Sample folder, CSS, JavaScript and Images. But no HTML file.

Am I d

[2014-07-28 19:38] guillaumealgis opened #40 "Assets (CSS/JS) are Apple's"
It seems that the CSS and JS assets are directly extracted from Apple's new documentation pages.

While this works quite well to get started quickly, it may become rapidly a nightmare to maintain (see #29 for example: I though I'd give it a look, but trying to fix a bug hidden in 1.2k lines of obfuscated JS in not particularly fun...).

Is there any plan to re-code the CSS and JS from scratch?

[2014-08-15 19:48] JacobGinsparg opened #41 "sourcekitd-test can't be found for xcrun"
After running

`gem install jazzy`

and running `jazzy` in the terminal, I ran into the following error:

`xcrun: error: unable to find utility "sourcekitd-test", not a developer tool or in PATH`

I did some digging on SourceKit and found that the `sourcekitd` file in the Xcode developer path's sourcekit framework was a binary file and didn't say anything about `sourcekitd-test`.

Is this an issue

[2014-08-16 12:29] #41 closed, assigned to jpsim

[2014-08-31 09:49] Aymenworks opened #42 "xcrun: error: unable to find utility "sourcekitd-test", not a developer tool or in PATH"
Hi

After installed jazzy, it tell me this error

xcrun: error: unable to find utility "sourcekitd-test", not a developer tool or in PATH
/Library/Ruby/Gems/2.0.0/gems/jazzy-0.0.4/lib/jazzy.rb:19:in `+': no implicit conversion of nil into String (TypeError)
    from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.0.4/lib/jazzy.rb:19:in`document'
    from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.0.4/bin/jazzy:4

[2014-08-31 22:32] #42 closed, assigned to jpsim

[2014-09-03 00:22] segiddins opened #43 "Use model objects instead of hashes"

[2014-09-20 13:10] neonichu opened #44 "This should be written in Swift"
🐦🐤🐣

[2014-10-05 15:47] mattapperson opened #45 "Take this to indiegogo!"
I understand this is an OSS project thus more then likely not getting your top priority... I would suggest taking this to indiegogo for funding so that it can be. I know for myself (and I am sure others: https://twitter.com/steipete/status/514652887767863296) would have no issue at all laying down a few hundred or even a grand or 2 to help see this project to a speedy release.

[2014-10-13 20:35] ddlittle opened #46 "still broken for 6.0.1?"
I downloaded Jazzy today and got weird results - IE: no HTML.  Some googling seems that it only supported beta2.  Any ideas how to use with the release version of Xcode 6?

thanks!

[2014-10-13 21:27] #46 closed, assigned to jpsim, segiddins

[2014-10-20 16:27] #38 closed, assigned to jpsim

[2014-11-01 02:22] #34 closed, assigned to jpsim

[2014-11-01 02:26] #45 closed, assigned to jpsim

[2014-11-01 02:43] #43 closed, assigned to segiddins

[2014-11-01 02:45] jpsim opened #56 "Support Objective-C projects"
Objective-C projects are no longer supported since v0.0.5.

[2014-11-01 02:46] #4 closed, assigned to jpsim

[2014-11-01 02:47] #5 closed, assigned to jpsim

[2014-11-01 02:47] #6 closed, assigned to jpsim

[2014-11-01 02:47] #7 closed, assigned to jpsim

[2014-11-01 02:49] #9 closed, assigned to jpsim

[2014-11-01 02:49] #10 closed, assigned to jpsim

[2014-11-01 02:56] #15 closed, assigned to jpsim

[2014-11-01 02:56] #36 closed, assigned to jpsim

[2014-11-01 02:57] #16 closed, assigned to jpsim

[2014-11-01 03:00] #21 closed, assigned to jpsim

[2014-11-01 03:01] jpsim opened #57 "Determine if Swift documentation comments have equivalents for @name, @warning and @see"

[2014-11-01 03:02] #23 closed, assigned to jpsim

[2014-11-01 03:02] #22 closed, assigned to jpsim

[2014-11-01 03:02] #24 closed, assigned to jpsim

[2014-11-01 03:02] #25 closed, assigned to jpsim

[2014-11-01 03:03] #27 closed, assigned to jpsim

[2014-11-01 03:03] #30 closed, assigned to jpsim

[2014-11-01 03:03] #29 closed, assigned to jpsim

[2014-11-01 03:03] #31 closed, assigned to jpsim

[2014-11-01 03:03] #37 closed, assigned to jpsim

[2014-11-01 03:04] #39 closed, assigned to jpsim

[2014-11-01 03:04] #40 closed, assigned to jpsim

[2014-11-01 03:04] #26 closed, assigned to jpsim

[2014-11-01 03:04] #28 closed, assigned to jpsim

[2014-11-01 03:06] #32 closed, assigned to jpsim

[2014-11-01 03:37] jpsim opened #58 "Extract default values from Podspec"
Currently, many values have to be passed in to jazzy manually that could be automated. For example:

* author_name
* module_name
* github_url
* github_file_prefix
* author_url

[2014-11-01 03:41] jpsim opened #59 "Automatically detect links in markdown"
Redcarpet has `:autolink:` support, so it's just a matter of turning it on.

![image](https://cloud.githubusercontent.com/assets/474794/4870648/bf21fece-6178-11e4-8e4a-7448936f3c04.png)

[2014-11-01 03:41] jpsim opened #60 "Render README in index.html"
Cocoadocs does this and it looks great.

[2014-11-01 03:42] jpsim opened #61 "Group documented tokens by MARK-style comments"

[2014-11-01 03:43] jpsim opened #62 "Link to full page in description when available"
For example, `Request.html` exists here, but you can only navigate to it by directly clicking in the nav on the left side. A link should be included in the description:
![image](https://cloud.githubusercontent.com/assets/474794/4870653/2bd8ecb2-6179-11e4-98b0-1a707bb3e1d8.png)

[2014-11-01 03:44] jpsim opened #63 "Display documentation coverage"
Would need sourcekitten support.

[2014-11-01 03:46] jpsim opened #64 "Display full hierarchy in side navigation"
Only top-level tokens are displayed in the side navigation. Nested tokens are only accessible in its parent's HTML file.

[2014-11-01 03:48] jpsim opened #65 "Find associated values or signatures for enums"
For example, `case OPTIONS = "OPTIONS"`, or `PropertyList(NSPropertyListFormat, NSPropertyListWriteOptions)`

![image](https://cloud.githubusercontent.com/assets/474794/4870663/c46f6686-6179-11e4-9579-a2880fe8a07c.png)
- jazzy output: http://static.realm.io/jazzy_demo/Alamofire/Enums/ParameterEncoding.html#/s:FO9Alamofire17ParameterEncoding12PropertyListFMS0_FTOSC20NSPropertyListFormatSi_S0_
- sou

[2014-11-01 03:50] jpsim opened #66 "Find a way to name extensions"
Swift extensions aren't named/labeled, but it'd be nice to find a better way to present them:

![image](https://cloud.githubusercontent.com/assets/474794/4870672/2463abb0-617a-11e4-80a2-cf3810446a43.png)

Maybe by using the MARK-style comment directly above it?

[2014-11-01 03:55] jpsim opened #67 "Allow ignoring certain tokens"
Best way I can think of to do this is to use a flag in the ReST comment. Maybe `:jazzy_ignore:`?

[2014-11-01 04:01] jpsim opened #69 "Add command-line option to set the minimum access control to document"
`--minimum-access-control [public | internal | private]` with `public` as default

[2014-11-01 04:06] stephencelis opened #70 "SourceKitten output error"
I have a project. From its root, I'm merely running:

[code]

And I get:

[code]

Looks like `sourcekitten_output` (in the 4th line of the trace), is an empty string (`""`).

Am I missing something; is this a bug?

[2014-11-01 04:18] jpsim opened #71 "Provide visual feedback during doc building process"
For example, the CLI UI could show

[code]

[2014-11-01 04:21] jpsim opened #72 "Document all Swift files"
A bug was recently added that only documents a single Swift file in the project.

This line is the likely culprit: https://github.com/realm/jazzy/blob/master/lib/jazzy/sourcekitten.rb#L139

[2014-11-01 04:33] #72 closed, assigned to jpsim

[2014-11-01 06:01] #70 closed, assigned to jpsim

[2014-11-01 06:11] jpsim opened #73 "Duplicates sometimes appear"
For example: http://static.realm.io/jazzy_demo/Alamofire/Classes/Manager.html#/s:vC9Alamofire7Manager7sessionCSo12NSURLSession

![image](https://cloud.githubusercontent.com/assets/474794/4870904/afce6ed4-618d-11e4-8a05-e9f9d82d3f25.png)

I think the offending code is here: https://github.com/jpsim/sourcekitten/blob/master/sourcekitten/main.swift#L367.

[2014-11-01 06:39] #71 closed, assigned to jpsim

[2014-11-01 06:52] #59 closed, assigned to jpsim

[2014-11-01 07:16] jpsim opened #74 "editor.open request doesn't return global declarations or enum cases"
Sending a request to SourceKit for `source.request.editor.open` with the following `key.sourcefile` contents:

[code]

will return the following response:
[code]

Missing are the substructures for the global (`source.lang.swift.decl.var.global`) and enum element (`source.lang.swift.decl.enumelement`).

This makes it difficult to determine the structure of this file and sourcekitten does something

[2014-11-01 11:23] #73 closed, assigned to jpsim

[2014-11-01 13:07] roshanrags opened #75 "Jazzy stuck after parsing"
I'm trying to document [TimeExtensions](https://github.com/roshanr95/TimeExtensions) which has only two swift files.
Jazzy's stuck after the parsing stage for a long time. I'm running it in OS X Yosemite.

 Here's the console output:

[code]

[2014-11-01 15:52] stephencelis opened #76 "Extensions don't show correct documentation"
Extensions of native types do this:

![screen shot 2014-11-01 at 8 51 14 am](https://cloud.githubusercontent.com/assets/658/4872318/f495424e-61de-11e4-8a1d-57be1ec2a9ee.png)

My own extensions just re-render the original declaration.

None of the new functions or protocols included in the extensions show up.

[2014-11-01 15:57] stephencelis opened #77 "Better documentation :)"
The README is very light on usage information and how jazzy parses documentation. Does it parse Markdown? reST? Which tokens does it support (in addition to `:param:`, `:returns:`)?

[2014-11-01 15:58] stephencelis opened #78 "Support reStructuredText"
This is what Apple uses, and if you extend String, you'll be reminded that jazzy doesn't seem to support it:

![screen shot 2014-11-01 at 8 51 14 am](https://cloud.githubusercontent.com/assets/658/4872326/f4fcc472-61df-11e4-8057-2d7c55eeaaae.png)

[2014-11-01 20:46] #75 closed, assigned to jpsim

[2014-11-02 16:28] brownleej opened #79 "Timeouts from SourceKitService"
I'm trying to generate documentation for my project [Tailor](https://github.com/brownleej/Tailor), and I'm seeing timeouts from the connection to source kit:

[code]

Sometimes the entire build fails, and other times it is able to restore the connection and keep building. The only workaround I have found is to delete parts of the code from the file that is crashing. When I leave the code and just

[2014-11-02 23:02] #79 closed, assigned to jpsim

[2014-11-06 05:54] segiddins opened #82 "Responsive Web Design"

[2014-11-06 06:10] segiddins opened #83 "Use sass"

[2014-11-10 04:17] segiddins opened #86 "Extensions are duplicated"
See
![screen shot 2014-11-09 at 8 17 22 pm](https://cloud.githubusercontent.com/assets/1946610/4971088/82af45c2-6890-11e4-9aff-c1c5355b7421.png) from Alamofire

[2014-11-10 18:32] #86 closed, assigned to jpsim

[2014-11-10 21:03] #83 closed, assigned to segiddins

[2014-11-14 23:14] #63 closed, assigned to jpsim

[2014-11-15 00:47] #62 closed, assigned to jpsim, segiddins

[2014-11-19 07:48] hattmann opened #91 "JSON::ParserError)"
In a test run this morning your app crashes with the following error message:

Running xcodebuild -dry-run
parsing FBClientSupportFunctions.swift (1/15)
(...)
building site
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/json/common.rb:155:in `parse': 399: unexpected token at ', (JSON::ParserError)

(...)
    from /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr

[2014-11-19 08:45] #91 closed, assigned to jpsim, segiddins

[2014-11-21 01:17] segiddins opened #93 "Add plugin support by moving command infrastructure to CLAide"

[2014-11-23 17:49] juangamnik opened #94 "Handle projects with no documentation comments"
Using jazzy v0.0.14 and ruby 2.1.5 on Yosemite installed via Homebrew I get a JSON parsing error and then a whole bunch of JSON code printed to console.

[code]

Ideas?

[2014-11-24 18:48] jpsim opened #95 "Merge README CSS with body CSS"
#84 introduced separate styling for README body, which should be coalesced with general body CSS.

[2014-11-24 22:35] #61 closed, assigned to jpsim

[2014-11-24 23:44] #60 closed, assigned to segiddins

[2014-11-29 08:31] segiddins opened #96 "Improve CLI output"
Modeled after CocoaPods, of course :)

[2014-11-29 17:47] Aymenworks opened #98 "A demo ?"
Hi,

I was wondering if actually jazzy was in development or it can be used ?
Because I can't find any example on how write the documentation ?

[2014-11-30 07:17] segiddins opened #100 "A clean way / documentation for how to document multiple platforms at once"

[2014-11-30 07:17] segiddins opened #101 "Option to run with multiple source files and xcodebuild arguments"
Will require sourcekitten support

[2014-12-02 15:44] brennon opened #102 "Files with comments being treated as without comments"
I'm getting the same error as #94, but I have comments in all of my files. https://github.com/brennon/SimpleGame is just the base iOS Game template with SpriteKit chosen as the engine, with comments added for each class. GameScene.swift has a comment for the class itself, as well as all of the overridden methods:

[code]

But, sourcekitten seems to return send to STDOUT nothing for this file, and

[2014-12-02 15:45] #102 closed, assigned to jpsim

[2014-12-05 12:09] #98 closed, assigned to jpsim

[2014-12-07 08:24] #12 closed, assigned to jpsim

[2014-12-07 14:36] luketheobscure opened #104 "Alphabetize the menu"
Not sure how the order is determined, but it seems like the lefthand menu should be alphabetized.

[2014-12-07 14:39] luketheobscure opened #105 "Group top-level declarations by folder structure"
I'm looking into using Jazzy to document an app, and it sure would be nice to split the lefthand menu into logical groups like the folder structure of the app. It's not that helpful to see the app delegate in the same view as the models and view controllers.

I'm not sure what this feature would look like... An inline directive for jazzy in the comment? A command line argument that looks for folde

[2014-12-07 14:41] luketheobscure opened #106 "Bug: No description on a param crashes jazzy"
Not leaving a description after a param crashes jazzy during the site build phase.

Works:
`:param: derp A derp`

Crashes:
`:param: derp`

[2014-12-07 19:11] jsbean opened #107 "Bug: init() "see more" file name incorrect"
--> The "see more" link in the init() documentation
![screen shot 2014-12-07 at 10 59 23 am](https://cloud.githubusercontent.com/assets/7040073/5332167/8f6042c8-7e00-11e4-9d10-4449611c8349.png)

--> looks for the file init( x **:** y **:** ).html

![screen shot 2014-12-07 at 10 59 48 am](https://cloud.githubusercontent.com/assets/7040073/5332168/9a9d8aa6-7e00-11e4-9c63-847211960ada.png)

--> but i

[2014-12-07 19:35] jsbean opened #108 "Bug?: Markdown images in Classes.html vs. (ClassName).html"
--> I would like to include images in the documentation of a class.

![screen shot 2014-12-07 at 11 14 01 am](https://cloud.githubusercontent.com/assets/7040073/5332200/762877ec-7e02-11e4-8682-83532dff5863.png)

--> When in Classes.html, the image shows up as desired, though there is a missing line-break in the text.
![screen shot 2014-12-07 at 11 17 38 am](https://cloud.githubusercontent.com/asse

[2014-12-07 20:02] #108 closed, assigned to orta

[2014-12-08 17:37] luketheobscure opened #109 "Feature Request: Show inheritance"
In the official Apple documentation there's a nice little inheritance graph showing the classes the current class inherits from. This would be really nice to have, but at the very least it would be great to just show the single class that the current class inherits from.

It would also be really nice to show if the current class conforms to any protocols (also like in the Apple documentation).

[2014-12-08 17:55] #109 closed, assigned to segiddins

[2014-12-11 07:30] segiddins opened #110 "Don't show 'Show in Github' link for extensions for other frameworks"
![screenshot 2014-12-10 23 30 00](https://cloud.githubusercontent.com/assets/1946610/5390692/76e8ee4a-80c4-11e4-9895-92148c013084.png)

[2014-12-12 17:29] omid1234 opened #111 "When run "jazzy" in a project with .xcworkspace there are only documentation available for one module"
So if i run jazzy in my project folder i get only the result of one new module of the project. The biggest part of the Code that is in the Workspace, would not be parsed. Is there a way to get this up and running?

[2014-12-13 01:58] jpsim opened #112 "Fallback to getting type from string when type can't be resolved"
Replace `<<error type>>`s with substring. Otherwise leads to this: http://static.realm.io/jazzy_demo/ReactiveTask/Functions.html#/s:F12ReactiveTaskP33_8622FA0C3FE9071537A42FE3BB905E3425aggregateDataReadFromPipeERR

This happens when types cannot be resolved (i.e. framework hasn't been downloaded/built/linked properly).

[2014-12-13 08:17] ghost opened #113 "Xcode build succeeds but no output generated"
Using Xcode 6.1.1, I'm running the latest version of jazzy with the following:

[code]

Here's my output:
http://pastebin.com/c7GfGQwe

It looks like xcodebuild succeeds, but something's up with jazzy when it gets round to it. I don't see any errors in the log though. Is there a verbose option?

[2014-12-13 10:23] orta opened #114 "Make a separate "Users Guide" README for people that want to just DL & run it"

[2014-12-14 16:05] luketheobscure opened #115 "Combine abstract and discussion in page overview"
I've got the following file in my project:

[code]

As expected, the whole comment shows up in the "Protocols available globally section" under "Diffable". But if I document the two variables "Diffable" gets it's own section, and we only get the first line of the comment. Removing the blank line gives me two lines of documentation, but we don't get the list. See attached.

_Properties not document

[2014-12-15 01:55] #104 closed, assigned to jpsim

[2014-12-17 07:02] #69 closed, assigned to jpsim

[2014-12-17 07:06] jpsim opened #120 "Generate docsets for Xcode"

[2014-12-17 07:06] #19 closed, assigned to segiddins

[2014-12-17 10:30] #107 closed, assigned to jpsim

[2014-12-17 10:37] #65 closed, assigned to jpsim

[2014-12-17 10:37] #112 closed, assigned to jpsim

[2014-12-17 11:07] #94 closed, assigned to jpsim, segiddins

[2014-12-17 11:10] #101 closed, assigned to jpsim

[2014-12-17 11:18] #106 closed, assigned to jpsim

[2014-12-20 11:14] ndbroadbent opened #123 "Jazzy is crashing on my project with JSON::ParserError"
[code]

Please feel free to check out the full crash log here (warning - it's pretty big): https://gist.github.com/ndbroadbent/112350ea5f4cebc6b84e

Thanks!

[2014-12-23 23:23] segiddins opened #125 "Introduce a CHANGELOG"
I'd like to use the CocoaPods format -- https://github.com/CocoaPods/CocoaPods/blob/master/CHANGELOG.md. This includes:
- Sections
  - Breaking
  - Enhancements
  - Bug Fixes
- Links to issue URL
- Link to change author
- Styling suitable for rendering as Markdown

Basically, every non-trivial change should include a CHANGELOG entry, which can then also function as technical release notes. We shou

[2014-12-25 01:58] #123 closed, assigned to jpsim

[2014-12-25 02:06] #125 closed, assigned to jpsim, segiddins

[2014-12-26 00:20] #111 closed, assigned to jpsim, segiddins

[2014-12-26 01:17] jpsim opened #126 "JSON::ParserError with the following code"
See https://github.com/realm/jazzy/issues/94#issuecomment-68115193

@juangamnik let's resume in here for clarity.

[code]

[2014-12-26 06:54] #126 closed, assigned to jpsim

[2014-12-26 07:00] #113 closed, assigned to jpsim, segiddins

[2014-12-26 07:19] #110 closed, assigned to jpsim

[2014-12-26 07:43] #115 closed, assigned to jpsim

[2014-12-26 11:41] juangamnik opened #127 "Undocumented Extensions are shown in generated HTML"
Although other undocumented structures are hidden/omitted.

[2014-12-26 11:44] juangamnik opened #128 "Option --max-acl"
In order to create separated internal and external documentation there should be an option `--max-acl` (in addition to `--min-acl`)

[2014-12-26 11:49] juangamnik opened #129 "Options for showing undocumented structures"
There should be command-line flags for showing/hiding undocumented structures (separated by type like global function, global variable, selector/method, operator, class, structure, extension, ...). This way an API can be documented completely without having to write documentation to every structure (some are self-explanatory, but still name and type/signature are worthy information).

[2014-12-26 19:58] #128 closed, assigned to jpsim

[2014-12-26 19:59] #127 closed, assigned to jpsim

[2014-12-26 21:42] juangamnik opened #130 "Allowing for Themes"
The generated HTML-code has a nice separation between content and style information via *jazzy.css* and *highlight.css*. In order to enable different themes it would be nice to have a command-line option for the use of someones own CSS-files (and perhaps offer some default themes, that the *community* can provide).

On the one hand supporting this is very easy (its just copying different css files

[2014-12-30 17:28] brennon opened #131 "Unicode characters kill the parsing of all subsequent // MARK tags"
Using `// MARK ...` is super useful in breaking up jazzy's outputted documentation. With code such as this:

[code]

I get delicious output. However, if I change that to this:

[code]

That `// MARK` and every one that follows is not parsed. The difference between the two chunks of source is hard to spot--it's the single quotation mark/inverted comma: ’ vs. '

To be clear, every `// MARK` before t

[2015-01-01 00:25] jpsim opened #132 "Build sourcekitten from source"
I have no clue how to do this. It'd be great to include sourcekitten as a submodule, run `xcodebuild` and move the resulting binary into `$GEMROOT/bin/` or wherever it should be.

It seems like [`Gem.post_install`](http://ruby-doc.org/stdlib-1.9.3/libdoc/rubygems/rdoc/Gem.html#method-c-post_install) might be able to do this, but I'm really not sure.

[2015-01-01 00:58] #131 closed

[2015-01-01 00:59] jpsim commented on #131
Thanks for reporting this! I just pushed a fix to sourcekitten, which will be included in the next release.

[2015-01-01 02:10] jpsim opened #134 "Migrate installation to homebrew"
And deprecate installation via rubygems. This will simplify building sourcekitten from source. Also, if _ever_ we want to port jazzy to Swift, we'll be able to keep installation path.

See https://github.com/thoughtbot/liftoff/issues/49 for other motivations. Any objections, @segiddins?

I think the biggest challenge in doing this will be bundling the other ruby dependencies.

[2015-01-01 02:10] jpsim commented on #132
Closing in favor of #134.

[2015-01-01 02:10] #132 closed

[2015-01-01 04:23] segiddins commented on #134
Yes, objections. Will write them up when I'm back in the office.

In summary, I think offering a homebrew installation path is great, but allowing installation as a gem maintains a lot of flexibility for other tools to hook into, especially things like CocoaDocs.

[2015-01-01 04:27] segiddins commented on #131
@jpsim did you add a small test case for this?

[2015-01-01 10:15] orta commented on #134
FWIW, a lot of CD's dependencies are [in brew](https://github.com/CocoaPods/cocoadocs.org/blob/master/Rakefile#L9).

[2015-01-01 20:18] luketheobscure commented on #115
I'm not sure this worked. Here's the documentation generated with Jazzy 0.0.19: http://luketheobscure.github.io/BlargBucket/Protocols/Diffable.html

Here's the file that was parsed:
https://github.com/luketheobscure/BlargBucket/blob/master/BlargBucket/Models/Base%20Classes/Diffable.swift

[2015-01-01 21:04] jpsim commented on #115
That change hasn't been pushed to rubygems yet. You'll have to run from the current master branch to see the change.

[2015-01-02 17:47] beltex commented on #56
This would imply support for C projects as well, wouldn't it?

[2015-01-02 17:52] segiddins commented on #56
@beltex yes, since Objective-C is a strict superset of C.

[2015-01-02 17:54] beltex commented on #56
Cool, thanks @segiddins!

[2015-01-02 18:03] beltex opened #135 "SourceKit editor.open request doesn't return global declarations or enum cases"
Currently, enum cases (not the enum itself) are only shown if documented individually. However, enum cases are often self-explanatory and wouldn't have any documentation (units, currency, etc.). Thus, I think it be handy to have all cases shown in the enum declaration by default (or at least in the `See more` link).

[2015-01-02 18:30] jpsim commented on #135
This is a bug in SourceKit on Apple's side, unfortunately. See [rdar://18845613](http://openradar.appspot.com/18845613).

We could add a workaround to sourcekitten by making `cursorinfo` requests for offsets at `case *` when an `source.lang.swift.decl.enum` is detected. Only searching for `case *` inside the enum body based on its `bodyoffset` and `bodylength`.

[2015-01-02 18:33] mattapperson commented on #56
@beltex I see the merged PR, so is this ready/working?

[2015-01-02 18:44] jpsim commented on #56
@mattapperson @beltex much of the logic is already in sourcekitten, but we haven't started integrating it in jazzy yet. Trust me, we'll be sure to update this issue as soon as we have a working proof-of-concept.

[2015-01-02 18:45] #129 closed

[2015-01-02 19:03] beltex commented on #135
Darn, thanks @jpsim!

[2015-01-02 19:17] beltex opened #136 "Generate Objective-C interfaces for Swift declarations"
I'm certain this is already known, but thought it be handy to have as a placeholder for reference nonetheless. Feel free to close if not, and of course #56 is a pre-req for this.

Independent of the source of the API (C/Obj-C, Swift), generate the interface (declarations) for both Objectivce-C & Swift (as an option) as seen in Apple's docs already (with the `Language` option). Of course, not every

[2015-01-02 19:53] jpsim commented on #136
Thanks for filing this issue.

We could do this for Swift source right now, but we'd first have to identify how Xcode generates the `-Swift.h` file.

#56 will of course be a pre-requisite to generating the Swift version of Objective-C declarations.

[2015-01-02 20:06] beltex opened #137 "Code not using Menlo font outside of README"
Code inside a README displays fine, uses Menlo at 12px (like Apple's own docs), but anywhere else it's monospace at 11px (which is quite illegible in comparison). Looks like `jazzy.css.scss` doesn't apply the [style](https://github.com/realm/jazzy/blob/master/lib/jazzy/assets/css/jazzy.css.scss#L666-668) to `code` elsewhere.

[2015-01-02 20:32] segiddins commented on #137
We'd love to see a PR changing that! (With screenshots for comparison, to make seeing the before/after difference easier)

[2015-01-02 21:39] jpsim commented on #137
I'm closing this as a duplicate of #95, which would fix this and more.

[2015-01-02 21:39] #137 closed

[2015-01-02 22:16] jpsim commented on #135
Closing as dupe of #74.

[2015-01-02 22:16] #135 closed

[2015-01-02 22:16] jpsim commented on #74
This is a bug in SourceKit on Apple's side, unfortunately. See [rdar://18845613](http://openradar.appspot.com/18845613).

We could add a workaround to sourcekitten by making `cursorinfo` requests for offsets at `case *` when an `source.lang.swift.decl.enum` is detected. Only searching for `case *` inside the enum body based on its `bodyoffset` and `bodylength`.

[2015-01-02 22:40] jpsim commented on #134
Whatever we decide, I'd rather not have to support two different installation methods.

[2015-01-03 02:29] segiddins commented on #134
Lets see how difficult supporting both is before making that decision? I have a feeling that it won't be that hard, and I'm willing to promise maintenance of the gem.

-Samuel E. Giddins

On Jan 2, 2015, at 6:40 PM, JP Simard <notifications@github.com> wrote:

Whatever we decide, I'd rather not have to support two different installation methods.

—
Reply to this email directly or view it on GitHub

[2015-01-04 01:32] beltex commented on #95
One more thing to keep in mind regarding this, though minor, is that section titles (Classes, Global Variables, Structs, etc.) on the left hand menu bar should be black, not grey, so that there is some contrast between them and the items listed in each section (which are grey).

Jazzy

![screen shot 2015-01-03 at 8 29 10 pm](https://cloud.githubusercontent.com/assets/2666961/5604378/7bbe6424-9387-

[2015-01-04 03:39] beltex commented on #137
@segiddins Sure! :)

@jpsim Not a problem. Would you be open to taking a small patch for this in the meantime, since this is user facing?

### Patch

[code]

### Before

![screen shot 2015-01-03 at 10 33 33 pm](https://cloud.githubusercontent.com/assets/2666961/5604650/efaaea36-9398-11e4-8c44-58c8044625e3.png)

### After

Tested on Firefox & Safari.

![screen shot 2015-01-03 at 10 32 42 pm](https:

[2015-01-05 19:49] ADaley121 opened #138 "Documenting wrong .xcodeproj file"
Is there a way to specify which .xcodeproj file for jazzy to document? I have Alamofire imported into my xcode project, and when I run jazzy in the folder containing my .xcodeproj file that I want to document, jazzy decides to delve into my Alamofire folder instead and document the Alamofire.xcodeproj in there instead.

[2015-01-05 19:55] beltex commented on #138
See `jazzy -h` for the list of options. I think the `-x` option is what your looking for:

[code]

[2015-01-06 10:19] juangamnik opened #139 "After updating to v0.0.20 getting error even with -v option"
I updated to v0.0.20 and now I get the following error (independent of using no command-line option or `-c` or `-v`):
[code]

I tried to reinstall all my gems, but the issue remains. Any ideas? Is my environment (ruby installation or sqlite installation) broken?

[2015-01-06 10:21] juangamnik commented on #139
For your information:
[code]

[2015-01-06 13:42] segiddins commented on #139
This seems to me to be an issue with either your ruby install or your SQLite install.

[2015-01-06 15:33] juangamnik commented on #139
Hmm. I tried to uninstall ruby with homebrew and use the apple version again. I uninstalled and installed jazzy again. In the executable script it still uses `#!/usr/local/Cellar/ruby/2.1.5/bin/ruby` which did not work anymore as I deinstalled this ruby-version. I changed the header to `#!/usr/bin/ruby` and now it works again.

[2015-01-06 15:55] juangamnik opened #140 "The font size of the README is bigger than the rest"
The readme-Text generated from a README.md in the project folder looks a little bit odd as it has a bigger font size than the rest. Perhaps this is related to issue #95.

[2015-01-06 15:55] #139 closed

[2015-01-06 16:40] juangamnik commented on #129
I couldn't test the new version until now (had installation problems #139). Every undocumented structure has now a text "Undocumented" like here:
![jazzy_undoc](https://cloud.githubusercontent.com/assets/2939856/5631912/b8f4df0e-95ca-11e4-8444-c1121fa831e6.png)

But if I add some really meaningless documentation I get much more information (the Swift declaration):
![jazzy_decl](https://cloud.githu

[2015-01-06 16:48] segiddins commented on #140
Yup, this is exactly the sort of thing that #95 will address!

[2015-01-06 16:48] #140 closed

[2015-01-06 16:49] segiddins commented on #129
@juangamnik thanks for pointing this out! I completely agree, can you please open up a separate issue?

[2015-01-06 17:15] juangamnik opened #141 "Undocumented structures should show Swift declaration"
Since #129 every undocumented structure has now a text "Undocumented" like here:
![jazzy_undoc](https://cloud.githubusercontent.com/assets/2939856/5631912/b8f4df0e-95ca-11e4-8444-c1121fa831e6.png)

But if I add some really meaningless documentation I get much more information (the Swift declaration):
![jazzy_decl](https://cloud.githubusercontent.com/assets/2939856/5631923/d191bf46-95ca-11e4-8876-6

[2015-01-06 17:16] juangamnik commented on #129
@segiddins done.

[2015-01-06 18:09] segiddins commented on #141
The issue here seems to be that SoureKit won't return any documentation XML when the declaration is undocumented. (See https://github.com/Realm/jazzy/blob/master/lib/jazzy/sourcekitten.rb#L97).

[2015-01-06 18:10] segiddins commented on #138
@ADaley121 yes, a scheme is something like `Release` or `Debug`.

[2015-01-06 18:10] #138 closed

[2015-01-06 19:07] Reflejo opened #142 "sourcekitten.rb exception when using compilation flags"
While trying to build the doc site, jazzy crashes on an example like the following:

[code]

with:

[code]

The reason being that "key.usr" is empty when evaluating "TestA" and therefore doc.usr is empty too, breaking:

[code]

[2015-01-06 19:45] juangamnik commented on #141
Uh. That's bad. But https://github.com/Realm/jazzy/blob/master/lib/jazzy/sourcekitten.rb#L96 (one line before) seems to access `key.doc.full_as_xml`. Perhaps there is another key, for directly accessing the declaration?

[2015-01-06 21:51] jpsim commented on #138
No, `Release`/`Debug` are typically build *configurations*, while a scheme would be a build process associated to a target (typically `MyApp` and `MyFramework`).

[2015-01-06 22:18] #93 closed, assigned to segiddins

[2015-01-07 01:48] ADaley121 commented on #138
Thanks, I got it to work now.

[2015-01-07 20:31] Isuru-Nanayakkara opened #144 "Library not loaded error when running"
After much trouble I finally installed Jazzy successfully. Then from the Terminal, I navigate inside an Swift Xcode project which I have documented according to the new [Swift documentation](http://nshipster.com/swift-documentation/) syntax and ran the command `jazzy`. But it outputs the following error.

**dyld: Library not loaded: @rpath/libclang.dylib
  Referenced from: /Library/Ruby/Gems/2.0.0

[2015-01-07 20:58] beltex commented on #144
Where do you have Xcode installed? It's expected to be under `/Applications/Xcode.app/...`

You can check by running `xcode-select -p`

[2015-01-07 21:21] emaloney opened #145 "Declaration of @noreturn function shows with additional characters at the end"
jazzy 0.0.20 seems to include extra characters at the end of the declaration section for functions declared as `@noreturn`.

In the following screenshot, a portion of the text from the function implementation is visible in the declaration:

![screen shot 2015-01-07 at 4 17 25 pm](https://cloud.githubusercontent.com/assets/3768925/5653505/cd115670-9688-11e4-8dc2-1378a91a7527.png)

The documentation

[2015-01-08 01:40] jpsim commented on #145
thanks for filing this, @emaloney. Declaration parsing is done by SourceKitten, outside of SourceKit itself, and that code isn't very robust at the moment. We're working on a pretty big SourceKitten overhaul at the moment and we'll make sure this is fixed by SourceKitten 0.3.0. This shouldn't take too long, hopefully.

[2015-01-08 10:34] cvasilak opened #146 "Windows / Invalid filename"
Hi all,

noticed an issue when generating 'jazzy' documentation. In particular, if the html filename generated contains a ":" character such as
[code]

fails on windows (eg. checking out a project the contains this file). Is there any way this separator character can be customised in the command line to make windows happy so checking out a project won't fail?

Thank you!

[2015-01-08 16:35] Isuru-Nanayakkara commented on #144
Yes. It returns this.
**/Applications/Xcode-Beta.app/Contents/Developer**

Its the correct path. I have the Xcode 6.2 beta installed.

[2015-01-08 17:02] beltex commented on #144
Not quite. Your's is `Xcode-Beta.app`, while expected is `Xcode.app`. I ran into this before [myself](https://github.com/beltex/SMCKit/issues/3#issuecomment-66921109). Simple work around is to create a symlink to your `lib` dir.

[code]

[2015-01-10 12:44] Isuru-Nanayakkara commented on #144
I see. One question. When I eventualy install a stable Xcode version, do I have to remove the symlink or something?

[2015-01-10 15:57] beltex commented on #144
No. When you install a GM version either manually (by placing it in the `/Applications/` dir) or via the App Store it will overwrite that whole directory path and thus the symlink.

Is it working for you now?

[2015-01-10 17:17] Isuru-Nanayakkara commented on #144
Yep! That solved it. Works fine nwo. Thank you so much :+1:

[2015-01-10 17:17] #144 closed

[2015-01-10 17:21] beltex commented on #144
Nice, np! :)

[2015-01-13 21:32] #100 closed

[2015-01-14 11:43] gavinbunney opened #149 "Markdown Table handling"
Some strange results in the output from markdown tables, when compared to GitHub flavoured rendering.

Looks ok on GitHub: https://github.com/gavinbunney/Toucan#fit-mode

But Jazzy's output seems to ignore the pipe style syntax: http://cocoadocs.org/docsets/Toucan/0.2.0/index.html#fit_mode

It _does_ work when using `<table>` tags, but supporting markdown would be great!

[2015-01-14 19:59] segiddins opened #150 "Move integration specs to a submodule"

[2015-01-15 01:44] Baza207 opened #153 "Incorrect Extension Class Parsing"
After documenting a few of my extension classes I noticed that they were always being parsed correctly. It seems to be mainly header for the class and from all my documented extensions I have had 3 different incorrect results.

All extension classes have the same formatted header where `<Class>` is replaced by the class name of the extension.
[code]

1. The extension class just shows as undocument

[2015-01-15 01:48] Baza207 commented on #153
I've also just noticed, if you use the `--skip-undocumented` flag, then only these incorrect extension classes are built and not any of the supposed correct ones.

[2015-01-15 02:19] jpsim commented on #153
Closing as duplicate of #76.

[2015-01-15 02:19] #153 closed

[2015-01-16 00:49] #58 closed

[2015-01-16 00:50] #149 closed

[2015-01-16 01:08] gavinbunney commented on #149
Thanks!

[2015-01-16 14:27] KyleLeneau opened #154 "Works with objective-c projects yet?"
I am trying to use this on an objective-c only project (static library) and I have gotten it to run just fine with the xcodebuild options but after it builds it still gives me this message `Please pass in xcodebuild arguments using -x` It doesn't look like it is creating anything after this. Any help or guidance would be much appreciated.

[2015-01-16 14:56] khoogheem commented on #66
The other is with Extensions is not only are there multiple of the same name.. all of the links go to the same extension..  It builds all of the single files in the UIColor extension folder. but the uicolor.html is only showing what looks like the first extension of UIcolor it found

Doesn't Sourcekitten provide the filename in its output.. why not use that as part of the

[2015-01-16 14:57] beltex commented on #154
See #56

[2015-01-16 15:23] khoogheem opened #155 "Markdown"
Looks like although the renderer says space after header is false... it is not producing the correct output.

I have a README.md file that has...

[code]

Whats is odd.. is that on Github the readme shows correctly.. but in the preview if I un block the code.. it shows up like jazzy is producing....

Also for the readme ...
if there is a code block using the <code>~~~</code> looks like it needs ha

[2015-01-16 15:35] khoogheem opened #156 "Comments after Function name showing up"
Here is what is generated by jazzy:
[code]

This is the code:

[code]

I would expect that any comments after the { should not be showing up...

[2015-01-16 16:18] #154 closed

[2015-01-16 16:19] segiddins commented on #155
The markdown options have changed slightly on master since the last release.

[2015-01-16 16:35] khoogheem commented on #155
Ok..
trying the master.. but get an error with source kitten..

[code]

probably something I did in building it ;)

[2015-01-16 16:37] segiddins commented on #155
No, I just need to update the vendored sourcekitten binary :)

[2015-01-16 16:43] khoogheem commented on #155
Ok... didn't notice it was using a vended version.. switched out my local one.. the Header stuff works..
But still looks like <code>~~~</code> needs to have a line separation for it to show up correctly as code.

Thanks

[2015-01-16 17:05] emaloney commented on #156
This looks related to an issue I found here: https://github.com/realm/jazzy/issues/145

[2015-01-16 18:13] jpsim commented on #66
@khoogheem actually @segiddins just fixed that! See https://github.com/realm/jazzy/blob/master/CHANGELOG.md#bug-fixes

[2015-01-16 18:21] jpsim commented on #156
@emaloney is right that this is a duplicate of #145.

[2015-01-16 18:21] #156 closed

[2015-01-16 19:09] khoogheem commented on #66
Ok.. I just saw that when using the master branch..

Here is my only problem now with Extensions )-

When I look at UIColor from the left tab bar it puts them all into one single long list of extensions.. (not sure if that is good or bad...)

Say I have NBA Colors in one file
NHL  Colors in another.
it lists them all  in the order of the way the file was read.

What is interesting is that i have /

[2015-01-16 19:12] khoogheem commented on #66
The other oddity is that if you have multiple extension files..I get undocumented...  guess it doesn't know which file to pick up the comment from.

[2015-01-16 22:57] khoogheem opened #157 "Functions in Enums that are Extensions ;)-"
Lets say I have an Extension of GKColor (which is a typedef of either UIColor or NSColor) **which BTW always shows as UIColor in the document..  anyway to get typedefs to show up.. (ok not for this issue).

Here is what I have.

[code]

The document shows AnaheimDucks.. then
[code]
Which is ok.. however I would also expect it to show that the function color can be applied.

[2015-01-16 23:05] jpsim commented on #157
Usually jazzy will show children under the "Show more" link. Is that not the case here?

[2015-01-16 23:09] khoogheem commented on #157
Ok.. I didn't even see that ;)

yes.. it is showing when I hit the show more link

[2015-01-16 23:15] #157 closed

[2015-01-16 23:17] segiddins commented on #150
Closed by https://github.com/realm/jazzy/commit/ecef4ecd4c0452f66dc4790c79bf1aee555ec77a.

[2015-01-16 23:17] #150 closed

[2015-01-16 23:20] segiddins opened #158 "Create CocoaPods plugin to document libs"
`pod lib document` and `pod spec document`

[2015-01-22 17:11] neonichu commented on #78
There appears to be a somewhat usable C library: <https://github.com/gradha/quicklook-rest-with-nim/tree/master/external/lazy_rest-0.2.0-c-sources-macosx-amd64-release>

[2015-01-23 03:49] #155 closed

[2015-01-24 21:11] lukaskubanek commented on #67
This would be a great feature! It would be especially handy for the overridden methods and properties in subclasses of framework classes, because their access level must not be restricted.

@jpsim May I ask whether there is any progress on this feature?

[2015-01-24 21:47] segiddins commented on #67
@lukaskubanek not yet, but feel free to submit a pull request implementing the feature!

[2015-01-30 20:28] maltzsama opened #159 "Library not loaded: @rpath/libswiftCore.dylib sourcekitten"
I did uninstall of jazzy, updated gem, but nothing working
[code]

[2015-01-30 21:03] segiddins commented on #159
@maltzsama do you have Xcode (>= 6.1.1) installed as `/Applications/Xcode.app`?

[2015-01-31 21:11] ProjectDent commented on #159
I'm getting his same issue, and I have XCode 6.1.1 installed.

[2015-02-01 20:51] beltex commented on #159
Seems that for some reason, RubyGems is not downloading the symlink `Current -> A` inside of `lib/jazzy/sourcekitten/SourceKittenFramework.framework`, which is why the `rpath` is failing (as it expects `../Versions/Current/Frameworks`). This may not have been noticed before if you have installed SourceKitten standalone, as it installs the needed `dylib`s at `/Library/Frameworks/SourceKittenFramewo

[2015-02-02 13:32] maltzsama commented on #159
This works fine :+1:

[2015-02-07 20:51] naterhat commented on #159
worked for me too.

[2015-02-08 17:11] AliSoftware commented on #159
This patch does not seem to be sufficient for me. Now it can't find `libclang` :/

I installed jazzy this weekend (during the workshop with @jpsim) with a simple `sudo gem install jazzy` so I got the latest version 0.1.0 right now. (and I never installed SourceKitten itself on that computer)

Before the patch I got this error with `libswiftCore.dylib` not being found like above, so I tried to appl

[2015-02-08 18:44] beltex commented on #159
@AliSoftware As I understand it, `libclang.dylib` is sourced from your Xcode install, and it's expected to be at `/Applications/Xcode.app/...` You can check yours via `xcode-select -p`

Here's the solution to that via [symlinks](https://github.com/realm/jazzy/issues/144#issuecomment-69210893) (preferred solution, as it will persist even if a new version of jazzy is installed). Or alternatively, yo

[2015-02-08 19:28] AliSoftware commented on #159
@beltex I'm ashamed not to have seen that one.
I was quite sure my Xcode was named `Xcode.app` but that's only the case on my work computer; on my personal computer, it was called `Xcode6.app` instead and that's indeed the reason it failed.
Once renamed (and `xcode-select`-ed), `jazzy` worked fine.

Thanks for your insight! :saxophone:

[2015-02-08 19:37] beltex commented on #159
np! :)

[2015-02-08 21:51] AliSoftware commented on #158
Isn't this feature already provided by simply running `jazzy --podspec Foo.podspec`?

[2015-02-08 21:52] segiddins commented on #158
But those aren't CocoaPods commands :)

[2015-02-08 21:56] AliSoftware commented on #158
So basically the CP plugin will just be an exact equivalent of the jazzy one, and the only purpose would be to bring that feature to the CP namespace/command for convenience, nothing much, right?

BTW if we were to do that plug-in, I'm not convinced the `document` subcommand name is appropriate; we should probably prefer `pod lib doc` or `pod lib jazzy` for example.

Or maybe instead we could add

[2015-02-08 22:02] AliSoftware commented on #134
I am not the only one to prefer installing `jazzy` (and CP) with `gem`, the first reason being that I can install a gem even if I'm not a `sudoer` (generally the case on work computers due to some company policies, sadly)

BTW, even Homebrew suggests that gems should still be installed with `gem` and not `brew` :wink:

_(Source: http://brew.sh)_

[2015-02-08 22:05] AliSoftware commented on #77
On a side note, some flags of the CLI seems to lack documentation as well.
E.g. the `--podspec` flag does not have any description in the help banner :wink:

[2015-02-09 01:07] rodriguise commented on #159
I get this error too, and my Xcode is in the usual place. After the "patch" above I still get:

Failed to generate documentation
/Library/Ruby/Gems/2.0.0/gems/jazzy-0.1.0/lib/jazzy/sourcekitten.rb:51:in `run_sourcekitten': Running `/Library/Ruby/Gems/2.0.0/gems/jazzy-0.1.0/lib/jazzy/sourcekitten/sourcekitten doc` failed:  (RuntimeError)
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.1.0/lib/jazzy/doc

[2015-02-09 03:42] segiddins commented on #159
@rodriguise your error is unrelated -- SourceKitten is running for you, but it's encountering an error along the way.

[2015-02-09 17:03] rodriguise opened #161 "Failing but the reason is not clear."
Failed to generate documentation
[code]

[2015-02-09 17:07] segiddins commented on #161
This is a known issue with sourcekitten.

[2015-02-09 22:03] orta commented on #134
Not to mention being able to do versioning.

[2015-02-10 21:16] groue opened #162 "How to write documentation?"
Which format should we use to document our types and methods?

How can we render:
- paragraphs
- lists
- code blocks
- links to the internet
- links to other types and methods
- bold/italic text ?

Maybe the jazzy README could sport sample Swift and Objective-C code, and a link to the generated documentation. That would be a nice introduction.

Today, I have difficulties having jazzy rendering a h

[2015-02-11 01:08] segiddins commented on #162
Have a look at http://nshipster.com/swift-documentation/, it has a nice overview. Otherwise, please be more specific about how what jazzy renders differs from what you were expecting.

[2015-02-11 05:33] groue commented on #162
Thanks @segiddins. I did look at mattt's article.

Let's be specific with, paragraphs, for example. Here is a simple example where jazzy does not render correctly paragraphs:

The doc (https://github.com/groue/GRMustache.swift/blob/faaa1b5e320452a017753108dc9d1221282d0c29/Mustache/Template/Template.swift#L240-L248):

[code]

Xcode shows two paragraphs:

![capture d ecran 2015-02-11 a 06 26 38](htt

[2015-02-13 02:04] jpsim opened #163 "Use new accessibility level in Swift 1.2"
There's a new `key.accessibility` key present when using SourceKit in Xcode 6.3 beta 1, which would provide a more accurate ACL in jazzy.

[2015-02-18 00:21] #159 closed

[2015-02-18 02:25] beltex commented on #159
Same error still :(

Symlinks are there now, but some are not quite correct.

[code]

[2015-02-18 22:28] Simulacrotron commented on #161
@segiddins is there any workaround

[2015-02-20 12:33] anbarasu0504 opened #164 "Problem in installation - Sourcekitten skipping"
can someone help in setting jazzy properly
[code]

[2015-02-21 21:23] segiddins commented on #159
@beltex any chance you could submit a PR fixing this?

[2015-02-23 13:46] Codeido opened #165 "ERROR: Failed to build gem native extension."
Hello.

After entering the command
[code]

i receive this error:

[code]

What is the reason for this error?

[2015-02-23 16:26] segiddins commented on #165
That's an issue with compiling that version of Nokogiri on OS X.

[2015-02-23 17:22] emaloney opened #166 "Line breaks within :param: text not recognized, messes up formatting of other sections"
Jazzy correctly recognizes and interprets line breaks within some blocks (such as `:notes:` and `:returns:`) but not in the `:param:` block.

In the following screenshot, the text from the `:param:` block for the `scheme` parameter appears in two places: the portion before the line break appears correctly in the parameter table for `scheme`, but the portion after the line break is incorrectly inte

[2015-02-24 01:10] segiddins commented on #166
Try indenting the docs:

[code]

[2015-02-24 01:10] #166 closed

[2015-02-24 01:10] #165 closed

[2015-02-24 01:11] segiddins commented on #164
what's the output of `env | grep LANG`?

[2015-02-24 10:30] anbarasu0504 commented on #164
am getting nothing when i ran ```env | grep LANG?``` in terminal

[code]

[2015-02-24 22:05] jballands commented on #159
I'm still getting the same issue. Xcode 6.1.1, Jazzy 0.1.1:

<code>
dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /usr/local/lib/ruby/gems/2.2.0/gems/jazzy-0.1.1/lib/jazzy/sourcekitten/sourcekitten
  Reason: image not found
/usr/local/lib/ruby/gems/2.2.0/gems/jazzy-0.1.1/lib/jazzy/sourcekitten.rb:51:in `run_sourcekitten': Running `/usr/local/lib/ruby/gems/2.2.0/gems/jazzy-

[2015-02-24 22:06] segiddins commented on #159
@jballands where do you have Xcode installed?

[2015-02-25 15:35] jballands commented on #159
@segiddins <code>/Applications/Xcode.app</code>

[2015-02-25 16:54] trishayy commented on #159
I can also confirm that this problem is still occuring.

[2015-02-25 16:56] emaloney commented on #159
I was having this problem as well, and was able to resolve it by manually installing SourceKitten 0.3.1 directly from the .pkg file [downloadable here](https://github.com/jpsim/SourceKitten/releases/tag/0.3.1).

Hope this helps!

[2015-02-26 14:48] 0xced commented on #159
No need to use `install_name_tool`, just fixing the frameworks structure should be enough. For some reason, the frameworks installed inside the sourcekitten directory have a symbolic link for `Current -> Versions/A` instead of `Current -> A`.

Here is how to fix it:
[code]

[2015-02-26 18:12] beltex commented on #159
@segiddins Done! Let me know if it works for you.

And sorry about the late response, was held up with a few things.

[2015-02-26 18:12] segiddins commented on #159
No worries :) I really appreciate the help.

[2015-02-26 19:46] beltex commented on #137
Ping! :)

Only because #95 could take a while till its implemented.

[2015-02-26 19:47] segiddins commented on #137
Sure, send in a PR and I'd be happy to take a look!

[2015-02-26 22:53] beltex commented on #165
@Codeido I ran into this as well. The workaround mentioned [here](http://www.virtlab.cx/ruby-fix-error-install-nokogiri-yosemite/) fixed it, via this [comment](https://github.com/sparklemotion/nokogiri/issues/1231#issuecomment-75485561) from the Nokogiri issue thread.

[2015-02-26 22:58] beltex commented on #137
Awesome! :)

[2015-02-27 02:35] parkboo opened #169 "Wrong parsing with unicode characters"
Thanks for great project!

Jazzy just works fine with english characters but I found that it has some problem when using unicode characters (like Korean, Chinese, etc.) in swift source code like below:

![2015-02-27 11 28 08](https://cloud.githubusercontent.com/assets/4056576/6406411/c7cbe186-be73-11e4-9e50-ed96b455e67d.png)

Text encoding of swift file is utf-8.
Any workaround?

[2015-03-01 15:17] juangamnik opened #170 "Update to jazzy-0.1.2 with XCode 6.3 beta 1(6D520o)"
I updated jazzy to v0.1.2 and my `xcode-select -p` set to:
[code]

When I start jazzy afterwards:

[code]

And a window pops up that there is a problem with the installation of sourekitten.

My hypothesis is that during installation of sourcekitten the swift code couldn't be compiled as it is not swift 1.2 compatible. But what should I do now to get it running again? change xcode-select to XCode 6

[2015-03-01 17:37] segiddins commented on #170
It should be enough to have 6.1 or 6.1 installed at or symlinked to /applications/xcode.app

[2015-03-01 17:48] juangamnik commented on #170
Hmm, I have installed Xcode Version 6.1.1 (6A2006) and it is situated at `/Applications/Xcode.app`.

[2015-03-01 17:49] beltex commented on #170
Hi @juangamnik! This seems to suggest that the symlink to `libswiftCore.dylib` is broken. Strange, as the latest release should have fixed this. Try running a `ls -l` (or even better `tree` if you have it installed; `brew install tree`) from inside of

[code]

This is how it should be

[code]

If `libswiftCore.dylib` is not being found then this path is invalid for some reason

`../SourceKittenFra

[2015-03-01 17:53] juangamnik commented on #170
For me the result of tree is:

[code]

[2015-03-01 17:56] juangamnik commented on #170
`SourceKittenFramework` is no symbolic link but concrete file:

[code]

[2015-03-01 18:04] juangamnik commented on #170
OK, I added by hand the symbolic link `Current -> A` and `SourceKittenFramework -> Versions/Current/SourceKittenFramework`. Now this issue is gone. Perhaps there is something wrong in the installation routine?

[2015-03-01 18:07] beltex commented on #170
Yeah the symlinks are not being created for some reason, so the destination file is being put in its place. The `Rakefile` in `lib/jazzy/SourceKitten/` handles this. I'm not sure why its failing to do so. I just tried a fresh install of jazzy, and the symlinks are created as expected. @segiddins Are you seeing the same?

[2015-03-01 18:12] segiddins commented on #170
It's working for me, so I'm afraid I can't be of much help.

-Samuel E. Giddins

On Mar 1, 2015, at 10:07 AM, beltex <notifications@github.com> wrote:

Yeah the symlinks are not being created for some reason, so the destination file is being put in its place. The Rakefile in lib/jazzy/SourceKitten/ handles this. I'm not sure why its failing to do so. I just tried a fresh install of jazzy, and the

[2015-03-01 18:18] juangamnik opened #171 "jazzy crashes during site building with "in `+': no implicit conversion of nil into String"
After some time of not regenerating the jazzy files for my project I tried it again today and got an error. So I updated to the newest version 0.1.2 and tried again. Still the same error:

[code]

I have installed Xcode Version 6.1.1 (6A2006) and Version 6.3 (6D520o). I am using the beta version of 6.3 and the `xcode-select` path is set to `/Applications/Xcode-beta.app/Contents/Developer`. In #124

[2015-03-01 18:19] beltex commented on #170
Cool, so its not just my machine then! :)

I'll check with the other thread that raised this issue previously.

[2015-03-01 18:21] juangamnik commented on #170
I tried to reinstall jazzy and it didn't help. It works for me now. But if you guys need more information for fixing the underlying problem (or just telling me how I can hold it correctly ;) ) I am eager to help. So just ask.

[2015-03-01 18:40] beltex commented on #159
Hi folks! The latest version of jazzy (`0.1.2`) should have this fixed. There still seems to be some issues nonetheless though - https://github.com/realm/jazzy/issues/170

If you can give it a shot and report back the result it would be most appreciated! :)

[2015-03-01 18:43] beltex commented on #170
Sounds good, will do! :)

[2015-03-01 20:31] segiddins commented on #171
What command did you use to run jazzy?

[2015-03-01 20:50] juangamnik commented on #171
`jazzy`

[2015-03-01 22:48] jpsim commented on #171
@juangamnik running SourceKitten directly on this project should show us where it's failing. If you send me the Xcode project that SK is failing to parse, I'll be able to troubleshoot and fix faster.

[2015-03-02 00:18] segiddins commented on #171
@jpsim it's a `nil` USR

[2015-03-02 00:34] jpsim commented on #171
@segiddins sure, but on what? I'd like to know what type I'm incorrectly assuming to always have a USR.

[2015-03-02 08:15] juangamnik commented on #171
@jpsim its a closed/private project I cannot send it. But I can execute some command on it and send you the result.

Anyways, IMO jazzy/sourcekitten should -- at any time you get aware of an error -- be enhanced with a nice error message. Otherwise it will become a support hell.

[2015-03-02 09:28] jpsim commented on #171
Of course! If there was a silver bullet to never crash unexpectedly and log an error message instead, we'd do it :wink:. When we find the root of this current issue, we'll be sure to a) fix it and b) add logging in the failure case. But I guarantee you, there will always be another bug `¯\_(ツ)_/¯`.

[2015-03-02 18:12] juangamnik commented on #171
That's for sure and I'm Award, nur still, there are some who discourage error message for whatever reason or like it cryptic/generic, but in general this are not the users (git itself is a bad example for that in many cases). But if this is already your policy I didn't say anything. It's just that last time there was a JSON prob and now there is a error log which file couldn't be parsed. Now there

[2015-03-02 18:14] juangamnik commented on #171
Written via smartphone (sorry for the autocorrection)

[2015-03-03 19:16] maplesteve commented on #171
Hi!

Having the same problem here.
I ran `/Library/Ruby/Gems/2.0.0/gems/jazzy-0.1.2/lib/jazzy/sourcekitten/sourcekitten doc` on the project and compared the output (it doesn't crash) with the `Bicycle.json` (fixture from the sourcekitten repo). The JSON doesn't have any entries for either
- `key.parsed_declaration`
- `key.usr`
- `key.doc.full_as_xml`
- `key.annotated_decl`

The other (`setter_acce

[2015-03-03 22:51] trishayy commented on #159
I had a coworker run the latest version of jazzy and he said that he had no issues!

Thanks for everything.

[2015-03-03 23:14] beltex commented on #159
@trishayy Awesome, thanks!

[2015-03-04 14:52] cvasilak opened #172 "Erroneous multiline code block formatting"
Hi,

came across an issue when the comments contain a multiline code block example. That is the following is rendered as single-line instead of multiline

/**
a test function

\`\`\`
var foobar = \[String\]\(\)
foobar.append("foo")
\`\`\`
public func test() {...}

Here is a [screenshot](http://tinyurl.com/lp2du5m) of the render

Note that the same occurs if using the four-space indentation instead

[2015-03-05 08:58] Bierrot commented on #136
Same here. It would be very nice to have both declarations (obj-c and swift) in jazzy doc.

[2015-03-05 13:33] Bierrot commented on #161
Same here, only for objective-c project

[2015-03-06 16:26] K4stor opened #173 "Allow ignoring files"
Hi there,

is there a way to leave files out of the documentation ?
Like the appdelegate. I dont wanna document that one :D

And ofc, thanks for dat awesome tool

Regards

[2015-03-07 02:44] jpsim commented on #173
@K4stor it's not currently possible, though it should be pretty easy to do.

[2015-03-09 14:01] K4stor opened #174 "Intro-page"
Hi

It would be nice,
if I could add an introduction page. I am documenting an SDK so a page
as general overview would be nice !

Or is that actually possible ?

Regards

[2015-03-09 16:02] segiddins commented on #174
Yup! That's exactly what the README option does :)

[2015-03-09 16:27] jpsim commented on #174
It should be as simple as having a `README.md` or similar in the same directory where you run jazzy.

[2015-03-09 16:27] #174 closed

[2015-03-10 06:38] jessesquires commented on #77
@jpsim - It would be cool to be able to specify the path to the `README`.

The use case here:
I'm [working on this framework](https://github.com/jessesquires/JSQDataSourcesKit), and I run `jazzy` from the framework/module directory, but my GitHub `README` is in the root directory.

[2015-03-10 06:50] jessesquires opened #175 "Code font too small?"
Looks like jazzy is using `12px` Menlo. Maybe it should be bumped to `13px` ?

When comparing to docs generated by CocoaDocs (appledoc), jazzy feels/looks odd and is a bit harder to read.

[2015-03-10 07:02] jpsim commented on #77
I definitely agree that jazzy needs much more usage documentation.

In the meantime, you can do the opposite for now: run jazzy from the root directory with the `--source-directory DIRPATH` option.

[2015-03-10 09:02] anbarasu0504 commented on #164
any way to get this working ??

[2015-03-10 14:54] beltex commented on #175
Hi @jessesquires!

The font and size was [picked](https://github.com/realm/jazzy/issues/137) simply to gain parity with Apple’s own document style/theme, which jazzy attempts to duplicate. So it could certainly be changed. In addition, #130 will help with this as well, making styles easy to configure.

As a quick workaround, you can always modify the `jazzy.css.scss` file in your jazzy install, [l

[2015-03-10 16:13] jessesquires commented on #175
Awesome! :+1: Thanks @beltex

[2015-03-10 22:21] emaloney opened #176 "Second and subsequent lines of multi-line function declaration are omitted from docs"
I've created a multi-line function declaration broken up with carriage returns.

The code is formatted as follows:

![screen shot 2015-03-10 at 6 15 06 pm](https://cloud.githubusercontent.com/assets/3768925/6586690/f5ba5b68-c751-11e4-82ec-f7badec66a30.png)

Using `jazzy` version `0.1.2`, only the first line of the declaration appears in the documentation:

![screen shot 2015-03-10 at 6 15 29 pm](h

[2015-03-11 03:51] beltex commented on #175
np! :)

[2015-03-11 13:43] Ross-Gibson commented on #171
I.m having a similar issue too with /Library/Ruby/Gems/2.0.0/gems/jazzy-0.1.2/lib/jazzy/sourcekitten.rb:41:in `+': no implicit conversion of nil into String (TypeError)

[2015-03-12 21:57] WCByrne commented on #67
Before I look into the source, any progress on this? I have internal variables & functions in my SDK that shouldn't appear in the docs.

[2015-03-12 21:59] segiddins commented on #67
@WCByrne for your use case, you might just be able to use the `--min-acl` option

[2015-03-12 22:12] WCByrne commented on #67
@segiddins Awesome, exactly what I needed. Thank you!

[2015-03-12 23:18] WCByrne commented on #162
Is there a reason that things like :see show up as small text rather than a section like the Apple documentation.

Also it would be great to add a quick example usage and maybe a list of supported markup. The NSHipster article only references :params and :returns. Not sure if any sort of code blocks, See Also, Note, or Discussion are supported. Not sure if I am doing something wrong or it just isn

[2015-03-12 23:45] jpsim commented on #162
That's a rendering issue with jazzy's CSS which we haven't gotten to fixing, though you're welcome to do so yourself. Help is always appreciated :smile:.

[2015-03-12 23:47] WCByrne commented on #162
Sounds good. If I get some time I'll play around with it. Thanks

[2015-03-14 01:06] jessesquires opened #177 "--source-directory option broken?"
I'm trying to build docs for [JSQDataSourcesKit](https://github.com/jessesquires/JSQDataSourcesKit).

My project requires the Xcode 6.3 beta, but I switch to the Xcode 6.2 (6C131e) command line tools for jazzy. (Which works fine.)

There's a root workspace with an example and framework project.
[code]

Here's the way I'm currently (successfully) building docs. I'm specifically running jazzy from t

[2015-03-16 00:50] jessesquires opened #178 "Documentation coverage incorrect, issues with subscripts"
Related to #63 and #69.

I have 100% coverage for [JSQDataSourcesKit](http://www.jessesquires.com/JSQDataSourcesKit/), but jazzy is reporting 89%.

If you look at the source, there are a few `public subscript`s that are *not* documented. However, when I attempt to add docs for these, jazzy reports 86%.

------------------------------------------

**Subscripts:**
I'm not sure how this may be improv

[2015-03-16 06:16] m0rt3z4 opened #179 "Missing documentation for "private" methods"
In the documentation site that is generated by Jazzy I couldn't find private methods of the classes

[2015-03-16 06:52] segiddins commented on #179
Have you tried using the `--min-acl private` option?

[2015-03-17 16:02] kfeuerherm commented on #164
@segiddins I've just run a jazzy installation and got the same errors.

In my case, the ouput of env | grep LANG yields LANG=en_CA.UTF-8.

[2015-03-17 17:26] kfeuerherm commented on #164
@anbarasu0504 Ok, found this: http://stackoverflow.com/questions/18235293/ruby-on-rails-unable-to-convert-x89-from-ascii-8bit-to-utf-8-for-xxx-xxxx-x

doing the `sudo gem install rdoc` as suggested there, then uninstalling and reinstalling jazzy gave me a clean instal.

[2015-03-21 14:46] juangamnik commented on #171
@Ross-Gibson same for me: `--skip-undocumented` works.

Hence, the `nil` value seems to come from an undocumented declaration. Please add an output, which declaration is responsible for that `nil` value. The respective information might be the breakthrough ;).

[2015-03-21 14:51] juangamnik commented on #171
Perhaps another interesting information: with `--skip-undocumented` it does not throw any exceptions, but the generated docs just contain my `README.MD` and nothing else. As if I had no documentation at all.

[2015-03-21 17:16] jeeftor commented on #170
Xcode 6.3 beta didn't work for me - but switching to 6.2 worked fine.

[2015-03-22 06:11] jessesquires commented on #178
**Update:**

I just completed docs for [JSQCoreDataKit](http://www.jessesquires.com/JSQCoreDataKit). It also has 100% coverage, but jazzy is reporting 91%.

This framework is much simpler than the one I sited previously in the original issue comment. It has fairly simple classes and structs, no subscripts or generics.

------------------------------------------------

Both of these repos (`JSQData

[2015-03-22 16:09] robb commented on #171
FWIW, I get the same error running `jazzy` on https://github.com/robb/Cartography/commit/7419c2a6d4072533f2b9d4de0eecd920c5ed57b1.

[2015-03-22 20:30] jessesquires commented on #178
**Update:**

Docs hosted by CocoaDocs report incorrect coverage.
My GitHub pages: [JSQDataSourcesKit](http://www.jessesquires.com/JSQDataSourcesKit/) says 89%.
CocoaDocs: [JSQDataSourcesKit](http://cocoadocs.org/docsets/JSQDataSourcesKit/1.0.0/) says 29%.

[2015-03-22 22:41] jpsim opened #183 "Initializers with parameters are incorrectly detected as undocumented"
This is because initializer parameters are detected by SourceKit as local variables and not parameters. Weird. This causes incorrect documentation coverage, as reported in #178.

[2015-03-23 00:12] #179 closed

[2015-03-23 00:21] jpsim commented on #178
@jessesquires first of all, thanks for using jazzy in your projects and reporting these issues!

You bring up a few distinct problems in your comments.

**1. CocoaDocs**

CocoaDocs is running an outdated version of jazzy which considered private declarations in the documentation coverage statistics. I'll see if I can get that version updated.

**2. Initializers with parameters are incorrectly dete

[2015-03-23 00:28] segiddins commented on #178
@jpsim CocoaDocs is running with Jazzy 0.1.2, and I'm pretty sure it has the minimum ACL set to public?

[2015-03-23 00:33] jessesquires commented on #178
@jpsim :+1: No problem! Thanks for the update/info and fixes! :smile:

[2015-03-23 00:57] #183 closed

[2015-03-23 03:58] jpsim opened #185 "Use key.accessibility to determine ACL in Swift 1.2"
It's generally reliable, but this key is sometimes missing. In my initial research, it's only missing for enum elements, typealiases and extensions.

[2015-03-23 04:01] jpsim opened #186 "Increase default minimum ACL to public"
Since most projects being documented by jazzy are frameworks exposing a public interface, I believe this to be a more sensible default. Internal is more appropriate for apps, whereas private will be much more uncommon IMHO. This depends on #185 to be somewhat accurate.

[2015-03-23 07:18] jpsim opened #188 "Don't count external declarations as undocumented tokens"

[2015-03-23 07:31] jpsim commented on #177
I finally got around to looking into this and a fix should be incoming in #189. Thanks for reporting again!

[2015-03-23 07:39] jpsim opened #190 "Use inherited docs when local ones are missing"
For example, Alamofire documents declarations in its protocols, but not the implementations of the types inheriting from those protocols.

See [URLStringConvertible](https://github.com/Alamofire/Alamofire/blob/1.1.4/Source/Alamofire.swift#L162-L174) as an example.

[2015-03-23 16:41] mralexgray commented on #56
Where are we with this.  What still needs to be done?

[2015-03-23 17:15] jpsim commented on #56
Most of the work that needs to be done is in [SourceKitten](https://github.com/jpsim/SourceKitten).

We have a proof-of-concept Objective-C header "parser" in SourceKitten (jazzy's "backend") which generates [this](https://github.com/jpsim/SourceKitten/blob/master/Source/SourceKittenFrameworkTests/Fixtures/Musician.xml). This is tested in SourceKitten. We need to transform this result into the sam

[2015-03-24 04:24] jessesquires opened #191 "deinit methods are documented, but shouldn't be"
Jazzy generates docs for `deinit` methods. Example here for [JSQNotificationObserverKit](http://www.jessesquires.com/JSQNotificationObserverKit/Classes/NotificationObserver.html).

Based on how jazzy works, it makes sense why this is happening. However, I think that `deinit` should be treated as a `private` method. Unfortunately, the `private` modifier cannot be applied to `deinit`.

[2015-03-24 04:40] mralexgray commented on #56
Would it be possible for someone familiar with the project to generate (even if by hand) a "correct" version of [`Musician`](https://raw.githubusercontent.com/jpsim/SourceKitten/master/Source/SourceKittenFrameworkTests/Fixtures/Musician.xml) to illustrate what actually needs to happen in the transformation?  Or (possibly) better.. I would assume the swift code is also, at some point, getting `json

[2015-03-24 07:46] dcharbonnier commented on #171
+1... sounds interesting but with this problem useless...

[2015-03-24 16:53] #171 closed

[2015-03-24 16:54] jpsim commented on #171
I pushed a "fix" in #192. We'll be pushing a release to rubygems in the next few days. Until then, you can run from source.

Please let me know if you're still experiencing related issues.

[2015-03-24 17:39] #188 closed

[2015-03-24 23:53] beltex commented on #95
This should come in handy

[markdown](https://github.com/primer/markdown) - Stylesheets for rendering GitHub Flavored Markdown (via GitHub)

[2015-03-25 02:02] orta commented on #95
and for further reference, CocoaPods.org's rendering, https://github.com/CocoaPods/cocoapods.org/blob/master/assets/stylesheets/pod.scss#L245-L369

[2015-03-25 02:27] segiddins commented on #95
The README CSS is already based upon GitHub's styling.

[2015-03-25 03:23] beltex commented on #95
Indeed! I thought it be helpful to mention nonetheless though, as GitHub just open sourced it. #84 mentioned that it was a basic README rendering, so I thought the official reference could be of some help, especially since it contains the SCSS (the current styling was pulled via web inspector (CSS) right?). Also, syntax highlighting in #84 was via this [Gist](https://gist.github.com/wataru420/2048

[2015-03-25 20:26] p2 opened #195 "Adds `class="para"` to all README <p> tags"
Took me a while to figure out why everything on the index page was so huge, except list items. It looks like v 0.1.4 wraps all README paragraphs in `<p class="para">`. Removing these classes manually after build makes everything look as it should.

[2015-03-25 21:09] segiddins commented on #195
Closing as a duplicate of #95.

[2015-03-25 21:09] #195 closed

[2015-03-26 00:16] segiddins commented on #191
I'd just recommend using `:nodoc:` on their doc comments.

[2015-03-26 01:21] jessesquires commented on #191
Hey @segiddins - can you clarify that?

The following still generates docs for `deinit` with a description of "nodoc".

[code]

[2015-03-26 01:22] segiddins commented on #191
Are you using the latest version of jazzy (0.1.4)?

[2015-03-26 01:30] jessesquires commented on #191
doh! Just updated and it's all good! :+1:

Thanks @segiddins !

[2015-03-26 01:30] #191 closed

[2015-03-26 01:42] jessesquires commented on #178
Fixed in [v0.1.4](https://github.com/realm/jazzy/releases/tag/v0.1.4).

The following now correctly report 100% coverage. :tada: :tada:

* http://www.jessesquires.com/JSQDataSourcesKit/
* http://www.jessesquires.com/JSQCoreDataKit/
* http://www.jessesquires.com/JSQNotificationObserverKit/

Thanks for the hard work @jpsim and @segiddins !

[2015-03-26 01:42] #178 closed

[2015-03-26 01:58] jessesquires opened #196 "When using --source-directory, README is not parsed for index.html"
The `--source-directory` option is now working, however the `README` must be in the specified directory.

As mentioned in #177, I have the following structure:
[code]

Because I specify a source directory of `JSQDataSourcesKit/` for the framework, the `README` at the root directory is not parsed. It makes sense why this would happen, but is this expected behavior?

I'm currently working around thi

[2015-03-26 01:58] jessesquires commented on #177
Hey @jpsim - this is fixed in 0.1.4 :tada: Thanks!

Opening a new, related issue: #196

[2015-03-26 01:58] #177 closed

[2015-03-26 03:53] jpsim commented on #196
Nope :grinning:! But Sam's PR just addressed this. Go Sam.

[2015-03-26 04:37] jessesquires commented on #196
awesome!

![img](http://media.giphy.com/media/aVgaFxzKX9E64/giphy.gif)

[2015-03-26 17:58] #196 closed

[2015-03-26 18:11] jpsim opened #198 "Display inline body source code for declarations"
I'm thinking of having SourceKitten generate a line range which we can use to link to GitHub, and which we can read from jazzy if the file paths are present.

[2015-03-26 21:20] emaloney opened #199 "Line breaks not obeyed consistently"
When documenting the member of a class, struct or enum, the line breaks in the description portion of the comment are ignored.

This source:

![screen shot 2015-03-26 at 5 01 53 pm](https://cloud.githubusercontent.com/assets/3768925/6857239/d5db365a-d3db-11e4-9c11-b027caca819e.png)

produces this documentation:

![screen shot 2015-03-26 at 5 01 41 pm](https://cloud.githubusercontent.com/assets/376

[2015-03-27 15:59] jeeftor opened #200 "Jazzy Fail on parsing"
My Jazzy has failed, but I'm not sure how to diagnose what is causing the issue.  My code builds fine in Xcode.  Any suggestions?

[code]

[2015-03-27 16:14] jpsim commented on #200
That bug was fixed in jazzy 0.1.3, but you're using 0.1.2. Please update and let us know if you're still having issues.

[2015-03-27 16:14] #200 closed

[2015-04-01 18:11] Mozahler opened #201 "How do I change default (html) display to show body of documented items?"
I don't know css, jquery and html coding, and have been trying to figure this out for quite some time. I display jazzy output in a webview on my 6+, and I'd like the right hand side of the screen to be fully expanded when it displays after selecting a class on the left side, rather than have to manually scroll down and click on every link on the page. I don't know where to look/what to update to m

[2015-04-02 16:32] Mozahler commented on #201
I'm thinking it involves the JQuery show() command

[2015-04-02 18:12] jpsim commented on #201
Add the following to the bottom of `lib/jazzy/assets/css/jazzy.css`:

[code]

and remove all the script tags in `lib/jazzy/doc.mustache` and everything will be expanded.

[2015-04-02 18:12] #201 closed

[2015-04-02 22:36] segiddins commented on #199
This is a known issue that @jpsim is working on.

[2015-04-02 22:37] segiddins commented on #161
This should be fixed in Jazzy 0.1.2?

[2015-04-03 16:39] Mozahler commented on #201
thank you, thank you.

[2015-04-03 17:50] jpsim commented on #199
Yes, I'm working on fixing this, and many other markdown rendering issues in the process. I'll update this issue when I have a PR ready with fixes.

[2015-04-03 17:53] jpsim commented on #161
I'm unsure what this issue is, so I can't say if it will be fixed in the next version of jazzy. If you can run sourcekitten on your project and post the output here, I'll be able to help troubleshoot.

[2015-04-04 23:37] jpsim opened #204 "[DocsetBuilder] recursively grabs all files and adds them to the docset root"
Files in green should not be there.

![image](https://cloud.githubusercontent.com/assets/474794/6995116/d5452e30-dae8-11e4-8b2f-2e6d07465f11.png)

[2015-04-04 23:45] Mozahler commented on #201
Not quite there, yet. I added the #reference just inside the bottom/closing brace.
I removed all script tags, as follows (Did I do this wrong? output looks the same as it used to - no expansion)

here's a diff of the edited vs.  original doc.mustache file

[2015-04-04 23:47] jpsim commented on #201
It has to be at the very bottom, not inside the bottom closing brace.

[2015-04-04 23:47] Mozahler commented on #201
Wow that's fast!! thanks again!

[2015-04-05 00:04] Mozahler commented on #201
![screen shot 2015-04-04 at 7 57 16 pm](https://cloud.githubusercontent.com/assets/9641531/6995170/fdc1b5e2-db04-11e4-91eb-0496584c9e10.png)

I moved it outside the closing brace, you can view the results.
I was hoping the blue links on the right would be expanded.

[2015-04-05 00:08] #204 closed

[2015-04-07 07:36] anbarasu0504 commented on #164
@kfeuerherm  Thanks . it worked :+1:

[2015-04-07 13:47] kfeuerherm commented on #164
@anbarasu0504 Glad to hear. If you are aware of any clear documentation on the protocols for using this, let me know. Doesn't seem to be particularly well documented--a real irony for a documentation system....

[2015-04-07 14:54] jpsim commented on #164
I think this issue was fixed in #152. Please let me know if you still run into this even when installing v0.1.4 or later.

Yes, documentation around jazzy has been lacking, mostly due to lack of time to work on it. If you have any specific questions, please ask them.

[2015-04-07 14:54] #164 closed

[2015-04-07 15:19] kfeuerherm commented on #164
I had sent a message to segiddins but got no reply. It’s been a while so I’ve forgotten the details. I think I was wondering what the format for the tags is, e.g. :params: or whatever….

[2015-04-07 15:43] jpsim commented on #164
jazzy will render the same format Xcode expects as documentation (see this excellent NSHipster guide: http://nshipster.com/swift-documentation/). Beyond that, you can use Markdown in your comment and jazzy will render that into HTML.

[2015-04-07 15:50] kfeuerherm commented on #164
I think I’ve read that nshipster article already and it must have left me with some questions. I will have to get back to this. I’m not (yet) familiar with markdown so I will look into that.

Of course… what XCode expects is changing, and that’s half the problem :)

Thanks for the pointers.

[2015-04-08 01:18] jpsim opened #210 "clicking on a token scrolls to the wrong position"
This is an issue with the new HTML/CSS introduced in #203.

[2015-04-08 18:28] #95 closed

[2015-04-08 18:28] #175 closed

[2015-04-09 17:54] #210 closed

[2015-04-10 15:09] emaloney opened #211 "Jazzy 0.1.6 claims to work only with Swift 1.1"
After updating to Jazzy 0.1.6, I am getting an error message when attempting to run Jazzy against a codebase with Swift 1.2 code.

I could've sworn I used the last Jazzy release with Swift 1.2 code, but perhaps I'm mistaken.

The error message I'm getting is:

[code]

I'm running the Xcode 6.3 GM (build 6D570). Also, if it helps:

[code]

and:

[code]

[2015-04-10 17:03] jeeftor opened #212 "Support new Markdown format as per Xcode 6.3"
It looks like the new Xcode release has support for inline markdown

![screen shot 2015-04-10 at 12 59 14 pm](https://cloud.githubusercontent.com/assets/6491743/7092684/e56f53ce-df81-11e4-8dbe-e24989ca4d20.png)

[2015-04-10 17:22] segiddins commented on #212
and does Jazzy v0.1.6 not?

[2015-04-10 17:22] segiddins commented on #211
That is correct, jazzy v0.1.6 only works with swift 1.1

[2015-04-10 17:22] #211 closed

[2015-04-10 17:30] depl0y commented on #211
Weird, because I am only developing in Swift 1.2 (for weeks) and Jazzy has been able to build documentation up until now. Even with Xcode 6.3 betas.

[2015-04-10 17:35] segiddins commented on #211
The fact that it worked would've been by pure coincidence. We're aiming to get a Swift 1.2 release out in the near future, though.

[2015-04-10 17:42] emaloney commented on #211
Thanks a lot for your work on this. Jazzy is a great tool to have.

[2015-04-10 21:15] jeeftor commented on #212
Well 0.1.6 only supports Swift v1.1 so ... I think not

[2015-04-10 23:13] segiddins commented on #212
@jeeftor we do our own Markdown / ReST parsing inside jazzy and sourcekitten, so if things don't show up correctly, that's a bug :)

[2015-04-10 23:13] #212 closed

[2015-04-23 03:21] jpsim opened #214 "Support multiple Swift versions"
In practice, the SourceKit XPC calls and responses don't change much (if at all), so it should be possible to support multiple Swift versions in a single jazzy version.

This will be required for good CocoaDocs integration.

[2015-04-23 18:38] #170 closed

[2015-04-24 06:49] depl0y opened #215 "SourceKit connection interrupt"
I upgraded to Jazzy 0.2 by completely uninstalling jazzy and then running `gem install jazzy`, because I wanted Swift 1.2 support.

When I try to run jazzy inside my project folder, after 5 files (always the same file) I get the following error message:

[code]

The file mentioned is the CocoaLumberjack Swift file you need to add to get CocoaLumberjack to work correctly on swift. It's always this

[2015-04-24 07:02] jpsim commented on #215
Thanks for filing this! Did a previous version of jazzy work before on CocoaLumberjack (prior to Swift 1.2, of course)?

[2015-04-24 07:19] depl0y commented on #215
@jpsim Yes, the previous version working with Swift 1.2 ;) did work without problems on the same project. This file has been in my project since the beginning.

But in the meanwhile Xcode 6.3 was released, so maybe the problem is a combination of things?

[2015-04-24 07:34] jpsim commented on #215
I have 2-3 ideas to fix this, I'll give them a shot tomorrow.

[2015-04-25 10:46] RabbitMC opened #216 "Frameworks, Cocoapods and jazzy"
Hi there,

I have strange behaviour. I have a Xcode workspace because I'm using cocoa pods.
Also I have some own Frameworks added via ProjectSettingsPane -> Add a target -> CocoaTouchFramework to this workspace. I need this custom framework for IBDesignable and IBInspectable Views to be rendered in my storyboard.

When I ran `jazzy` it's only documenting one of my own Frameworks. Everything else i

[2015-04-25 18:25] jpsim commented on #216
Jazzy can only document a single scheme at a time, so you'll have to run jazzy for each scheme you'd like to document.

[2015-04-25 18:25] #216 closed

[2015-04-26 08:28] RabbitMC commented on #216
So there is no way to get a documentation of the hole workspace?

"Jazzy can only document a single scheme at a time, so you'll have to run jazzy for each scheme you'd like to document." -> Will jazzy concat the documentations of schemes?

[2015-04-26 19:24] jpsim commented on #216
Jazzy is really meant to document logically independent modules (like an app, or a framework). Why does your project look like, which parts are you trying to document and why can't those modules be independently documented? I'm sincerely interested in what your use case is and see if that's something we want to support in jazzy.

[2015-04-26 23:04] W2N-git opened #217 "fuzzy generates empty doc"
Just tried on test application with

jazzy -o DOC -a John -m TestSwiftApp -x -project,TestSwiftApp.xcodeproj,-scheme,TestSwiftApp,-sdk,iphonesimulator8.3

what i've got
![p1](https://cloud.githubusercontent.com/assets/7563525/7339716/ae11a604-ec81-11e4-9061-c49ea8b6f353.png)

![p2](https://cloud.githubusercontent.com/assets/7563525/7339717/b2c2fb3a-ec81-11e4-9c50-5160b6518d9c.png)

what am i doing

[2015-04-26 23:48] segiddins commented on #217
Are any of your methods or classes public?

[2015-04-26 23:50] W2N-git commented on #217
Should i set them public explicitly with "public" keyword?

[2015-04-26 23:58] jessesquires commented on #217
@W2N-git - yes, you'll need to make anything you want documented `public`.

jazzy does support documenting `internal` and `private` members, but I would consider this bad practice if you are building a framework. (Also, if making an actual Cocoa Touch `.framework`, you'll need to use `public` anyway.)

[2015-04-27 00:04] W2N-git commented on #217
It works!
jessesquires, I completely agree with you!

[2015-04-27 00:04] #217 closed

[2015-04-27 10:10] RabbitMC commented on #216
I have upload a simple example project: https://github.com/RabbitMC/JazzyExmaple-ios

Run `jazzy`, and you will see, only the framework will be documented

[2015-04-27 11:19] juangamnik commented on #141
Anything on this? The "Undocumented"-text is unfortunately not very informative and the "Declaration" would be very helpful.

[2015-04-27 14:15] juangamnik commented on #171
Seems to be fixed for me (jazzy v0.2.0)

[2015-04-27 14:16] juangamnik commented on #170
update to jazzy v0.2.0 (XCode 6.3 installed) works.

[2015-04-27 17:06] jpsim commented on #216
So you have four targets in that sample project: JazzyExmaple (iOS app), SimpleFramework (cocoa touch framework) and test targets for both.

Although jazzy could technically document your test targets, I have yet to be shown a compelling reason to do so.

Your app target and framework targets are distinct modules and thus should be documented independently.

So jazzy is behaving as designed here.

[2015-04-27 17:10] jpsim commented on #141
I have not worked on this functionality lately, but you're of course welcome to do so. This part of jazzy's functionality is in SourceKitten.

[2015-04-27 20:18] juangamnik commented on #141
@jpsim: I would, but unfortunately I'm neither familiar with ruby, nor with the project itself (from the source code point-of-view). Especially, if it is not an easy one (missing information from SourceKit as @segiddins said), which needs some digging in. My first approach would perhaps be to add some whitespace fake-documentation to each undocumented declaration (or even the words "not documented

[2015-04-27 20:51] jpsim commented on #141
SourceKitten is actually 100% written in Swift. You can find the repo here: https://github.com/jpsim/SourceKitten

[2015-04-28 08:29] juangamnik commented on #141
Oh, cool. I'll look into it as soon as I can. Thanks.

[2015-04-30 13:10] odemolliens commented on #215
Same probleme here:

[code]

[2015-04-30 13:27] jeeftor opened #218 "Auto-detect the language in code blocks with no language specified"
Now that Swift can use markdown in the documentation it would be great if we could do code highlighting in the jazzydoc.  For example there is a picture.  It would be great if there was syntax highlighting coloring for swift in there.

![screen shot 2015-04-30 at 9 24 17 am](https://cloud.githubusercontent.com/assets/6491743/7413585/061cb0fa-ef1b-11e4-8681-f5991dc16d7e.png)

So it looks like there

[2015-04-30 15:03] segiddins commented on #218
Just mark the code block as swift and it should be syntax highlighted

[2015-04-30 16:08] jeeftor commented on #218
But doing so doesn't render correctly in Xcode

Sent from my iPhone

[2015-04-30 18:59] bryanbartow commented on #173
I second this request. It would be extremely helpful (for me at least).

[2015-04-30 20:02] jessesquires commented on #173
Can't you use this?

[code]

[2015-04-30 20:09] bryanbartow commented on #173
@jessesquires That doesn't seem to have any effect for me.

[2015-04-30 20:47] jessesquires commented on #173
@bryanbartow , [here's](https://github.com/jessesquires/JSQCoreDataKit/blob/develop/JSQCoreDataKit/JSQCoreDataKit/CoreDataModel.swift#L120-L127) a working example

[2015-04-30 20:48] jpsim commented on #173
You can use `/// :nodoc:` to ignore explicit declarations, but not entire files.

Adding a feature to ignore files should be very easy: it's just a matter of adding an `--ignored-files` CLI argument in [config.rb](https://github.com/realm/jazzy/blob/master/lib/jazzy/config.rb) and then filter SourceKitten's output based on that list of files in [sourcekitten.rb](https://github.com/realm/jazzy/blob

[2015-04-30 20:51] jpsim commented on #215
@odemolliens the problem you're having is distinctly different. I think I know what's causing it. Can you share which arguments you're passing to jazzy?

[2015-04-30 22:09] jpsim commented on #173
I've opened #219 as a possible implementation of this feature. Let me know what you think!

[2015-04-30 22:40] jpsim commented on #199
This is now fixed.

[2015-04-30 22:40] #199 closed

[2015-04-30 22:42] jpsim commented on #18
Fixed as of #203.

[2015-04-30 22:42] #18 closed

[2015-04-30 22:42] jpsim commented on #17
This is now set up. We should of course add more tests, however.

[2015-04-30 22:42] #17 closed

[2015-04-30 22:49] #57 closed

[2015-04-30 22:51] jpsim commented on #67
This feature was added in #180.

[2015-04-30 22:51] #67 closed

[2015-04-30 22:52] jpsim commented on #76
This is no longer the case.

[2015-04-30 22:52] #76 closed

[2015-04-30 22:56] jpsim commented on #146
Fixing this should simply be a matter of sanitizing the name before making a URL out of it.

[2015-04-30 22:57] jpsim commented on #145
This is fixed as of jazzy 0.1.5. Thanks for reporting, @emaloney!

[2015-04-30 22:57] #145 closed

[2015-04-30 23:00] jpsim commented on #161
@rodriguise @Simulacrotron @Bierrot could you check to see if this issue still happens with the latest version of jazzy (0.2.0)? If it does, please share steps to reproduce. Thanks!

[2015-04-30 23:01] jpsim commented on #162
Closing as a duplicate of #77.

[2015-04-30 23:01] #162 closed

[2015-04-30 23:03] jpsim commented on #163
This is done as of 0.2.0.

[2015-04-30 23:03] #163 closed

[2015-04-30 23:04] jpsim commented on #169
@parkboo sorry for taking so long to get back to you. This is now fixed as of 0.1.5. Could you please try again to confirm? Thanks!

[2015-04-30 23:04] #169 closed

[2015-04-30 23:11] jpsim commented on #172
This is fixed as of 0.1.5. Thanks for reporting!

[2015-04-30 23:11] #172 closed

[2015-04-30 23:12] jpsim commented on #176
This is fixed as of 0.1.5. Thanks for reporting!

[2015-04-30 23:12] #176 closed

[2015-04-30 23:12] jpsim commented on #185
This is done as of 0.2.0.

[2015-04-30 23:12] #185 closed

[2015-04-30 23:12] jpsim commented on #186
Done as of 0.2.0.

[2015-04-30 23:12] #186 closed

[2015-04-30 23:16] jpsim commented on #218
That's a good point! I've renamed the issue to be a feature request to automatically detect the language in code blocks with no language specified.

[2015-04-30 23:26] mattiabugossi opened #220 "undefined method `to_S'"
[code]

[2015-04-30 23:32] jpsim commented on #220
Can you please try running jazzy from the `master` branch? I think I just pushed a fix for this problem earlier today.

The [Development](https://github.com/realm/jazzy#development) section of the README explains how to do run jazzy from source.

[2015-04-30 23:43] jpsim commented on #142
Thanks for reporting this, @Reflejo. This is now fixed.

[2015-04-30 23:43] #142 closed

[2015-05-01 00:21] mattiabugossi commented on #220
Now I obtain this:
[code]

if I run ```jazzy -x -workspace,MyWorkspace.xcworkspace,-scheme,MyScheme```
All fine if I just run ```jazzy``` but same problem as before

[2015-05-01 00:28] jpsim commented on #220
Is there a project you can share which reproduces this issue?

[2015-05-01 00:29] mattiabugossi commented on #220
I can create another project later, the one I'm testing I can't :smile: .

[2015-05-01 00:34] mattiabugossi commented on #220
I tested in a much simpler project and it works, In the one I'm using we have multiple project inside and multiple submodules. But I cannot share it.

[2015-05-01 00:35] mattiabugossi commented on #220
If you update the gem maybe I can try again with that and see if the error is different.

[2015-05-01 03:54] groue commented on #77
Closed issue #162 had specific questions:

[2015-05-01 04:40] jpsim commented on #77
The answer is essentially [Markdown](http://daringfireball.net/projects/markdown/syntax). GitHub also has a good guide: https://help.github.com/articles/markdown-basics/.

Links to other code declarations aren't yet supported, but planned (see #13).

Function parameters and return values, however are defined via [reStructuredText](http://docutils.sourceforge.net/rst.html) and look like this:

[cod

[2015-05-01 14:34] ghost opened #221 "Custom documentation"
Is there any way to include custom documentation pages within the generated jazzy docs? At the moment I'm just putting any custom docs into the Readme file, but it's getting rather long.

[2015-05-01 16:06] jeeftor opened #222 "Documenting embedded carthage frameworks"
We've been working on an iOS application and decided to go the framework route and have been using carthage internally to build various frameworks.  In our "top level" application there are various sub frameworks i'd like to document.

My work around to handle this situation is I've created a HTML file that points to the various documentations for the embedded frameworks and then I have a "mega" s

[2015-05-01 16:26] jpsim commented on #222
I'd stick with your approach. I think there's sufficient custom information that you're passing in for each module that automating it wouldn't help much (you'd still need to specify individual output directories and flags per-module).

Also, as a minor note, as of jazzy 0.2.0, `--min-acl` is `public` by default, so you don't need to pass that in :wink:.

[2015-05-01 16:26] #222 closed

[2015-05-01 16:49] jpsim commented on #221
This is a great idea, but not currently something jazzy offers.

[2015-05-01 19:11] #173 closed

[2015-05-01 20:50] adly-holler opened #223 "Incomplete docs with "`Alamofire` has no USR." error"
Installed latest jazzy, have Xcode 6.3 `xcode-select`ed and I'm importing a bunch of frameworks, including Alamofire, into my project using Carthage. The framework is embedded & imported in Xcode.

I get

[code]

and the generated docs only have a small portion of the content they should have. Can anyone help? I can't post the code because it belongs to a client.

[2015-05-01 21:01] jpsim commented on #223
Are you sure you're importing Alamofire (`import Alamofire`) in every file which uses its symbols? That's typically what the error implies.

[2015-05-01 21:02] adly-holler commented on #223
Oh! I didn't know exactly what it meant by import. I've got about 250 swift files with Alamofire scattered around – there's no alternative is there?

[2015-05-01 21:04] jpsim commented on #223
If I had access to the code I could troubleshoot to see what's causing the issue, otherwise my ability to help investigate is limited.

[2015-05-01 21:19] adly-holler commented on #223
OK we good. I needed to specify `--module [Skynet]` so that it wouldn't try to document Alamofire and my other Carthage frameworks, whose source I didn't import.

[2015-05-01 21:19] #223 closed

[2015-05-05 19:24] stephencelis opened #225 "Properties don't report "get" vs. "set""
It would be great for properties to be given the same treatment they're given in the module interfaces, _e.g._,

[code]

[2015-05-05 19:26] stephencelis opened #226 "Single-line computed property documentation renders source"
I'm seeing some strange behavior with properties that are written on a single line. _E.g._, this:

https://github.com/stephencelis/SQLite.swift/blob/3a0435ebce11fd31e7a4176eacff5f3350e70782/SQLite/Database.swift#L33

Yields this:

![screen shot 2015-05-05 at 3 25 00 pm](https://cloud.githubusercontent.com/assets/658/7481016/05697ea8-f33b-11e4-910d-c364576f46b8.png)

[2015-05-05 19:32] stephencelis commented on #226
Fixing #225 may automatically fix this one.

[2015-05-05 19:49] jpsim commented on #225
Agreed! I think the solution here might be to use SourceKit's declaration, which does this automatically. The reason we haven't done that so far is that 1) it doesn't show default argument values (instead showing `arg: T = default`) and 2) it always uses full type names `Swift.String`/`Foundation.NSDate`.

It might be a bit tricky to solve both issues, but I think it's worthwhile.

[2015-05-05 19:51] jpsim commented on #226
Yes, #225 would fix this one, but I'll keep this issue open because we could fix this separately.

[2015-05-06 17:15] stephencelis commented on #225
Updated to clarify that this impacts non-computed properties, too.

[2015-05-07 10:29] dlbuckley opened #227 "Running $jazzy seems to work but documented files are ignored"
I might just be having a totally stupid moment here, but I've just tried to run Jazzy against a new project with 1 new Swift file added (and documented) as a bit of a test but nothing seems to be generated for that file.

Here is what the project looks like:
![screen shot 2015-05-07 at 11 19 05](https://cloud.githubusercontent.com/assets/349373/7513294/f915acdc-f4aa-11e4-81b0-54427e22b104.png)

Th

[2015-05-07 14:51] jpsim commented on #227
Jazzy only documents Swift declarations with a `public` ACL by default, of which your project has none.

You can override jazzy's minimum ACL level by passing in the command line flag `--min-acl {private,internal,public}`. For documenting frameworks, you usually want `public`. For apps, usually `internal`.

[2015-05-07 14:51] #227 closed

[2015-05-07 15:33] dlbuckley commented on #227
Brilliant! Hit the nail right on the head, it all works perfectly now, thanks.

[2015-05-07 22:04] neonichu opened #228 "Jazzy recommends to install or symlink Xcode, but symlinking doesn't work"
[code]

Seems like `xcode-select -p` actually readlinks before printing the path.

[2015-05-07 22:06] neonichu commented on #228
IMHO, would be nicer to just set `DEVELOPER_DIR` to "/Applications/Xcode.app/Contents/Developer/", check if the version of that is correct and shell out to SourceKitten. Would you accept a PR for that?

[2015-05-07 22:06] segiddins commented on #228
Works perfectly fine for me:

[code]

[2015-05-07 22:07] neonichu commented on #228
hm, maybe Xcode 6.3.1 / 6.4.x changed the workings of `xcode-select -p`?

[2015-05-08 19:59] emaloney opened #229 "Jazzy 0.2.0 renders documentation page for extension despite :nodoc:"
I have an extension to an `enum` in order to implement a specific protocol.

All members of the extension—as well as the extension itself—are marked with `:nodoc:` as follows:

![screen shot 2015-05-08 at 3 55 48 pm](https://cloud.githubusercontent.com/assets/3768925/7544402/bc59565e-f59a-11e4-8bc9-f61cafc27443.png)

Despite this, jazzy is still creating an entry in the *Extensions* section for th

[2015-05-08 20:06] jpsim commented on #229
Thanks for reporting! Definitely a bug, it seems.

[2015-05-14 12:52] orta commented on #221
As a reference, appledocs + CocoaDocs supports these via a concept of programming guides ( http://cocoadocs.org/docsets/TesseractOCRiOS/4.0.0/docs/guides/Installation.html )

[2015-05-15 02:39] emaloney opened #230 "Documented extension is displayed as undocumented"
At the top-level of an extension to a class, although I've provided a description for the extension, it shows as "Undocumented" when the documentation is generated.

The functions in the extension are also documented, and in that case, the documentation is being rendered as expected.

Here's my source:

![screen shot 2015-05-14 at 10 36 07 pm](https://cloud.githubusercontent.com/assets/3768925/764

[2015-05-15 02:43] segiddins commented on #230
Do you have an `import Foundation` or an `import Foundation.NSDate` above the extension?

[2015-05-15 02:47] emaloney commented on #230
I did not. However, I just tried adding it (both ways) & regenerating the docs, and in both cases, the result was the same: still showing the top-level NSDate extension as "Undocumented".

[2015-05-15 03:03] emaloney commented on #230
I should add this is version `0.2.0`.

[2015-05-15 03:14] emaloney opened #231 "Allow Copyright holder to be specified separately from Author"
**_Feature Request_** Currently, the value passed as the `--author` is used for both the *Authors* section of the default index page and for the Copyright tag at the bottom of each page. (Side note: it also seems strange that "Authors" would be plural when the field only seems to take one value.)

In the case of a group of open-source projects I'm working on, we'd like to list authors as the perso

[2015-05-15 03:22] segiddins commented on #231
@emaloney we'd love a pull request implementing this!

[2015-05-15 03:24] emaloney commented on #231
Ok, I'll take a look at what's involved. Any tips on where I should start looking to add something like that would be greatly appreciated. My Ruby knowledge is cursory and several years out-of-date.

[2015-05-15 06:52] emaloney commented on #231
[Pull request submitted](https://github.com/realm/jazzy/pull/232).

Please let me know what you think.

[2015-05-19 19:54] kareman opened #233 "Separate operators from functions"
Even though Swift operators are technically functions I think it would be useful to at least optionally list operators under their own heading. Especially in [this case](http://kareman.github.io/SwiftShell/) where there is a function `$` which now looks like an operator.

[2015-05-21 11:01] christiancabarrocas opened #234 "Only extensions are listed in documentation index"
Working in Xcode 6.2 - When generating docs, only Extensions appear in the left menu, all well documented. No classes or enums appears. Tried with min-acl public, internal and private options. When generating the docs, jazzy shows Parsing classes messages...

Running xcodebuild
Parsing DeviceUtils.swift (1/9)  ---> Class, don't appear in docs
Parsing CircleNumberIndicator.swift (2/9)  ---> Class,

[2015-05-21 11:47] jpsim opened #235 "Update README to reflect minimum Xcode version of 6.3"
Currently says 6.1

[2015-05-21 11:49] jpsim commented on #234
This is probably because Xcode 6.3 is jazzy's minimum supported version. I've just noticed that the README states Xcode 6.1 instead, and just created #235 to make sure we update that asap.

Is it feasible for you to try with Xcode 6.3?

[2015-05-21 11:50] #235 closed

[2015-05-23 16:23] Mozahler opened #236 "Empty comment causes crash with invalid range"
fatal error: Can't form Range with end < start
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.2.1/lib/jazzy/sourcekitten.rb:84:in `run_sourcekitten'
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.2.1/lib/jazzy/doc_builder.rb:53:in `block in build'
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.2.1/lib/jazzy/doc_builder.rb:51:in `chdir'
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.2.1/lib/jazzy/doc_builder.r

[2015-05-25 01:28] Mozahler commented on #234
I'm seeing the same behavior with 6.3.2. Processed 39 classes (files), got one class, one enum, 5 extensions....

[2015-05-25 07:56] depl0y commented on #234
Isn't this because classes etc must be marked public before Jazzy picks them up?

[2015-05-25 10:03] robertmryan commented on #234
Or you can specify `--min-acl internal`. It defaults to `public`. Or you can use `private`.

[2015-05-25 11:30] Mozahler commented on #234
Thank you both so much!  Yes, of course that was the reason.

[2015-05-25 15:42] jpsim opened #238 "Print the number of skipped declarations"
Output could look like this:

[code]

This feature request was prompted by some confusion among new users who reported that none of their declarations were being documented (because none of them were marked `public` and `--min-acl` was set to `public`). See #237.

[2015-05-25 20:14] jpsim commented on #236
Thanks for filing this, @Mozahler. I just pushed a fix to SourceKitten which should land in the next release of jazzy: https://github.com/jpsim/SourceKitten/pull/50

[2015-05-25 20:14] #236 closed

[2015-05-25 20:17] Mozahler commented on #236
Sure. Thank you for all your hard work!

[2015-05-25 21:24] jballands opened #239 "Documents subclasses with extensions as extensions only"
For example:

[code]

`Corgi` will only be documented under the **Extensions** section, but not under the **Classes** section. Preferred behavior would be to put `Corgi` under the **Extensions** section and the **Classes** section.

[2015-05-25 21:27] jpsim commented on #239
We've recently added a "Troubleshooting" section to our README which should provide some guidance in this scenario (see https://github.com/realm/jazzy#only-extensions-are-listed-in-the-documentation).

[2015-05-25 21:28] jpsim commented on #239
So in other words, extensions in Swift are public by default (since there's no ACL modifier for `extension`), but `class`es aren't, so the extension is showing up, but not the class declaration.

[2015-05-25 21:28] #239 closed

[2015-05-26 15:19] depl0y commented on #239
I know this is closed, but is this really also the Swift behaviour? In the example of @jballands he creates a class without the public declaration. So when trying to use this class from within a different project, the class isn't available (So neither are the extensions).

I would think extensions get the same accessibility level as their 'base'.

[2015-05-26 15:23] jpsim commented on #239
No, actually it isn't. But SourceKit doesn't expose the accessibility level of extensions, so to determine that properly we'd have to check the accessibility level of the type being extended, which is non-trivial.

Can you think of a way to determine that?

[2015-05-30 05:04] evgenyneu opened #241 "Two-space indented text is not styled as code block."
## How to reproduce

Clone the Moa repository and generate the docs

[code]

Open docs for Moa class in the browser:

[code]

## Expected behavior

The 2-space indented text in the comments to the Moa class is styled as code block.

## Actual behavior

The 2-space indented text is **not** styled as code block but shown as a single line of text with body text style.

## How it looks in jazzy docs

[2015-05-30 15:58] khoogheem opened #242 "Enhancement - Extensions"
Right now if I have a Class called: SomeClass

I make public extensions to better split up the code (similar to what apple does), however Jazzy treats that as an Extension to SomeClass, just like an extension to String or Int..

Would like to have the ability to put all of the Public Extensions of SomeClass into the same Class documentation.  So all of the functions are found in one place.

[2015-05-30 16:12] khoogheem opened #243 "Exclude option not working?!?"
if I use -e Somefile+Exten.swift it still is picking up the documentation of that file.

[2015-05-30 16:16] khoogheem opened #244 ""View on GitHub" header link shouldn't be generated when no GitHub URL is specified"
I recommend that the Link to GitHub is removed unless you specify the -g option.

OR Better yet.. I would like to actually see a option that we could specify any Project URL so if you host on GitHub or BitBucket, or want to point it back to your Company URL project page..

[2015-05-30 18:48] jpsim commented on #241
Doesn't the markdown spec require indentation of 4 spaces for code blocks?

From http://daringfireball.net/projects/markdown/syntax#precode

[2015-05-30 18:49] jpsim commented on #241
In the spec, I'd expect "1 tab" to mean a single tab character (`\t`).

[2015-05-30 19:00] jpsim commented on #242
That would be a nice option, agreed.

[2015-05-30 19:03] jpsim commented on #243
You have to pass in the absolute path of the file. You can see #219 which added this functionality for all the details of its implementation.

[2015-05-30 19:03] #243 closed

[2015-05-30 19:13] jpsim commented on #244
You're right that the "View on GitHub" link in the upper right of the page still gets generated regardless of if a GitHub url is specified. We'll be sure to fix that.

[2015-05-30 22:40] khoogheem commented on #243
JP -

Thanks.. Sorry to be a pain.. but no one should have to read #219 to figure it out ;)

should make note of that in jazzy -h

[2015-05-31 00:23] evgenyneu commented on #241
@jpsim thanks for looking into it. The 2-space indented code block is recognised by Xcode. Either it is not using Markdown or it is a bug in Xcode.

![bfef3a4c-06dc-11e5-83ae-91f5a6bde766](https://cloud.githubusercontent.com/assets/880411/7899973/0e1edaae-077f-11e5-8fa3-263c88d088b4.png)

[2015-05-31 01:43] khoogheem opened #246 "Enhancement: Computed Property"
Current if you have a computed property it shows up in docs as such:

[code]

Can I suggest that it shows as:

[code]
which is more inline with the way it shows up in Apple Documents

[2015-05-31 02:29] kylef commented on #241
The code documentation is actually reStructuredText, Xcode parses it as reStructuredText, so I would assume this is a block quote as per the rST specification. I believe that is why indenting again `return image` results in a separate block quote within the outer block quote.

[2015-05-31 03:10] jpsim commented on #241
@kylef is right, Xcode is parsing (almost) reStructuredText, while jazzy is parsing comments as Markdown. We made this decision because 1) Xcode isn't consistent, or spec-conforming, in its parsing of rST, 2) there are no generally ruby-friendly rST parsers, 3) users are typically familiar with Markdown and 4) rST is pretty close to markdown.

[2015-05-31 03:11] jpsim commented on #243
Or you could make a PR...

[2015-05-31 03:16] jpsim commented on #220
@mattiabugossi could you try again with the latest version of jazzy available on rubygems? Thanks!

[2015-05-31 03:18] jpsim commented on #246
We're tracking this as #226. Thanks.

[2015-05-31 03:18] #246 closed

[2015-05-31 03:33] mattiabugossi commented on #220
@jpsim trying right now.

[2015-05-31 03:38] mattiabugossi commented on #220
@jpsim Nope, I updated the gem but same error:

[code]

[2015-05-31 03:39] mattiabugossi commented on #220
@jpsim Are you guys in Mountain View?

[2015-05-31 03:55] jpsim commented on #220
We're in SF. We'll need a repro case to make progress on this issue

[2015-05-31 21:15] evgenyneu commented on #241
Very cool, I will just indent the code block with 4 spaces then. Problem solved. Thanks.

[2015-06-01 03:03] jpsim commented on #241
Ok, don't hesitate to share any further feedback you have!

[2015-06-01 03:03] #241 closed

[2015-06-04 09:58] dscreve commented on #220
We have the same issue here : Our project has several schemes and targets.

[2015-06-04 10:54] akashvercetti opened #248 "Xcode Run Script Build Phase"
I would like to be able to generate docs as soon as i Build a target. I believe I need gems path before using the jazzy command in the script. I'm using Yosemite and Xcode 6.3. Can anyone guide me on this?

[2015-06-04 13:01] dscreve commented on #220
I tried to reproduce on another project and cannot...Is there any way that we can help you by providing some logs ?

[2015-06-04 17:22] mattiabugossi commented on #220
@dscreve same as mine, we have several schemes and targets

[2015-06-04 17:43] jpsim commented on #220
I'm happy to look more into it with a project that reproduces the issue. If you have logs, those *may* help too.

[2015-06-04 17:44] jpsim commented on #248
You can find where jazzy is installed on your system by running `which jazzy`, and invoke jazzy by its absolute path in your Xcode build phase.

[2015-06-05 09:17] akashvercetti commented on #248
Worked like a charm!
Thanks a bunch!

[2015-06-05 09:17] #248 closed

[2015-06-07 13:10] groue opened #249 "Swift: unwanted sentence in an extension documentation"
Hello,

In http://cocoadocs.org/docsets/GRMustache.swift/0.9.2/Extensions/Bool.html#/s:vE8MustacheSb11mustacheBoxCS_11MustacheBox, the sentence at the top of the page is irrelevant and unwanted:

The code source that has been used to produce this incorrect documentation is (with highlighting of relevant sentences): https://github.com/groue/GRMustache.swift/blob/v0.9.2/Mustache/Rendering/Box.swift#

[2015-06-07 13:13] groue opened #250 "Swift : misplaced documentation for `subscript`"
Hello,

In the http://cocoadocs.org/docsets/GRMustache.swift/0.9.2/Classes/Context.html page, the documentation for `subscript(_:)` is placed in the "Creating Contexts" section, whereas it should appear under the "Fetching Values from the Context Stack" section, since the declaration of the subscript function is located below the `// MARK: - Fetching Values from the Context Stack comment.`

It loo

[2015-06-08 22:51] segiddins opened #251 "Swift 2 Support"

[2015-06-13 12:13] gutenmorgenuhu commented on #215
Let me throw my hat into the ring:

[code]

[2015-06-13 22:03] jpsim commented on #215
@gutenmorgenuhu I can't do much with that. Could you please share a project that reproduces the issue? Thanks!

[2015-06-14 05:47] gutenmorgenuhu commented on #215
I narrowed it down. There are some extensions in my folder. If I remove the following exension, jazzy runs without a sourceKitten crash:

[code]

[2015-06-18 04:23] wangwangwar opened #252 "fatal error: unexpectedly found nil while unwrapping an Optional value"
When I use `jazzy` to parse my project, but fails to encounter such error:
[code]
I don't know how to collect more logs and how to diagnose the error. Any suggestion? Thanks!

[2015-06-18 04:29] wangwangwar commented on #252
Sorry, I should put the issue in project `jpsim/SourceKitten`.

[2015-06-18 04:29] #252 closed

[2015-06-29 15:13] tachtevrenidis commented on #242
For me, jazzy chokes on most extensions (pretty much all of the ones that I have). Is it just me or should I file this as an issue?

`Parsing AlamofireParameterEncodingExtensions.swift (106/168)`

sourcekit: [1:connection-event-handler:7943: 0.0000] Connection interrupt

sourcekit: [1:pingService:7943: 0.0007] pinging service

sourcekit: [1:sourcekitd_send_request_sync:1551: 0.0013] request droppe

[2015-06-29 16:18] jpsim commented on #242
@tachtevrenidis that seems like an unrelated issue, although I'd love if you could share a sample project that reproduces that connection interrupt. Without those, it's a bit hard to fix.

[2015-06-29 16:21] emaloney commented on #242
I've seen this sort of issue when running the Xcode 7 beta side-by-side with Xcode 6.3.x.

The latter is required for jazzy to run correctly, so generating documentation with jazzy when both are installed works best when you do the following before invoking jazzy:

[code]

This is what fixed the issue for me; hope it works for you.

(Note that some Swift 2.0 constructs will cause jazzy to choke. T

[2015-06-29 16:28] tachtevrenidis commented on #242
Thanks guys (please let me know if i need to transfer this to a new issue). I am using 6.3.2 and 6.4 beta and I am not noticing any difference in behavior with jazzy. I don't have xcode 7 installed. The code is in Swift 1.2. Here is one of the files that it chokes on (I had to redact some code, only method signatures are shown):

import Foundation
import Alamofire

extension Alamofire.Request {

[2015-06-29 16:35] jpsim opened #253 "SourceKit connection interrupt"
Taken from https://github.com/realm/jazzy/issues/242#issuecomment-116748774:

[code]

[code]

/cc @tachtevrenidis

[2015-06-29 16:36] jpsim commented on #242
@tachtevrenidis I've opened a new issue (#253) where we can continue discussing the connection interrupt issue you're having, so as to not confuse this current issue, which is meant to track improving documentation around extensions.

[2015-06-30 14:37] Vaseltior opened #254 "Failing with incomplete comments"
If, in Swift, I put the following comments before a function or property :

[code]
or this

[code]

respectively, instead of

[code]

and

[code]

I get this

[code]

[2015-06-30 16:41] jpsim commented on #254
Well that's unfortunate! Sorry you're having this much trouble :grimacing:. I'll look into this asap and report back.

[2015-06-30 18:48] Vaseltior commented on #254
Ok thx, byt the way do you know why some of my other files that are parsed, are not present in the documentation? Event if I put comments on them? I think I'm doing it wrong somewhere. Let me reformulate. What is needed in Swift for a file being present in the documentation? Thx

[2015-06-30 18:50] jpsim commented on #254
The html files are only built once the parsing successfully completes, which isn't the case here.

[2015-06-30 18:58] Vaseltior commented on #254
No, I did it using a cleaned version, removing every parasite in my code that could cause jazzy stopping.

[2015-06-30 19:02] jpsim commented on #254
could it be that you're documenting code with an ACL that's lower than `--min-acl`? It defaults to `public`.

[2015-06-30 19:02] Vaseltior commented on #254
For instance

[code]

![capture d ecran 2015-06-30 a 21 01 01](https://cloud.githubusercontent.com/assets/915156/8439274/411e3658-1f6b-11e5-95d1-910cc7a1540f.png)

[2015-06-30 19:03] Vaseltior commented on #254
I added `--min-acl` after reading documentation. ??? here is the file content

[code]

[2015-06-30 19:05] Vaseltior commented on #254
Command line is:

[code]

[2015-06-30 19:35] jpsim commented on #254
Usage for `--min-acl` is `--min-acl [private | internal | public]`, so you're missing a parameter value there.

[2015-07-02 02:16] ryujik opened #255 "Not generate documentation in swift with jazzy"
Hi, I have a project test and I want generate document this project. Although show me success in console generate document jazzy, but not generate document for swift project. It's blank. I'm sure doing something wrong, but I don't know what. Do I need configure something? or Do I documenting wrong in my code? Please help me, about how use correctly jazzy. Thanks you for your help. (This example cl

[2015-07-02 02:43] ryujik commented on #255
Apparently I solved put 'public' the class and methods, but these is correct?

[2015-07-02 02:48] segiddins commented on #255
@ryujik yes, by default jazzy only documents `public` members. You can change this by passing the `--min-acl` flag, with an option of `internal` or `private` if you'd like to document those ACL levels as well.

[2015-07-02 03:04] #255 closed

[2015-07-02 05:58] ryujik opened #256 "Is supported in japanese chracters?"
Hi, I have a project documented in japanese characters. But, I when execute in jazzy command show me falta error:
[code]
Is there problem using the Japanese characters in use jazzy?

[2015-07-02 08:17] Vaseltior commented on #254
Oh great, thank you.

[2015-07-02 18:14] jpsim commented on #254
Glad we worked this out.

[2015-07-02 18:14] #254 closed

[2015-07-02 18:15] jpsim commented on #256
Jazzy is built on SourceKitten, and it has tests for multi-byte characters (see https://github.com/jpsim/SourceKitten/blob/master/Source/SourceKittenFrameworkTests/StringTests.swift).

Perhaps those tests aren't extensive? If you could share an Xcode project that reproduces this issue with me, I'd be able to investigate further.

[2015-07-07 19:29] jpsim commented on #20
Done in #257.

[2015-07-07 19:29] #20 closed

[2015-07-09 07:15] ryujik commented on #256
Sorry I can't show the code directly because it's a commercial project. But, I check when that bug reproduces and report in this issue. Thanks.

[2015-07-09 16:49] jpsim commented on #256
Or you could add a test to https://github.com/jpsim/SourceKitten/blob/master/Source/SourceKittenFrameworkTests/StringTests.swift

[2015-07-14 14:25] jpsim commented on #74
This is resolved as of Xcode 7 Beta 3 and ship with jazzy along with Swift 2.0 support.

[2015-07-14 14:25] #74 closed

[2015-07-14 16:22] segiddins commented on #74
Does it return them as functions now?

[2015-07-14 16:29] jpsim commented on #74
No, see https://github.com/jpsim/SourceKitten/commit/fe140070b06340b02d3f677e0e5a98a3144ecbe2

[2015-07-14 22:19] tadija commented on #230
I have the same problem in version 0.2.2.

[2015-07-16 10:21] toshi0383 commented on #56
I'm counting on this :+1:

[2015-07-23 20:55] jballands opened #259 "Cannot generate documentation for targets with spaces in the name"
I am currently working on an Xcode project that contains multiple source targets, specifically an iOS target and a WatchKit extension target. I would like to document the code for both targets with Jazzy.

At first, I just ran Jazzy on the Xcode project. From my testing, it *appears* that Jazzy (or SourceKitten) is picking a target at random and documenting it. So I found the `-x` switch for Jazzy

[2015-07-25 19:10] jessesquires commented on #78
As of Xcode 7, Swift docs use markdown. Is this still relevant?

[2015-07-25 19:15] jessesquires commented on #251
Hey @segiddins - what's the level of effort here?

Also, quick note/reminder, as of beta4:

[2015-07-25 19:16] segiddins commented on #251
@jpsim has a branch he's been promising to push up

[2015-07-25 19:38] jpsim commented on #251
The required work is almost entirely contained in SourceKitten, which has a [`swift-2.0`](https://github.com/jpsim/SourceKitten/tree/swift-2.0) branch, but I haven't tried this with jazzy yet.

[2015-07-25 19:48] jpsim commented on #78
It's unlikely that jazzy will ever support reST given that it's difficult to find a nice way to parse it from ruby (or Swift, for that matter) and that Swift 2.0 uses Markdown for doc comments.

If Apple was strongly supporting the continued use of Swift 1.2, I might feel otherwise, but since Swift 2.0 will really be the only way to write Swift once Xcode 7 goes GM, I feel comfortable closing this

[2015-07-25 19:48] #78 closed

[2015-07-29 21:53] jpsim opened #263 "Improve support for symlinked files"
For example, Realm Swift now symlinks `RealmSwift-swift1.2` or `RealmSwift-swift2.0` into `RealmSwift` depending on which Xcode is building the project.

This means that links that point to say `https://github.com/realm/realm-cocoa/tree/v0.94.0/RealmSwift/Realm.swift#L143-L145` won't resolve, since git will actually store the file in `https://github.com/realm/realm-cocoa/tree/v0.94.0/RealmSwift-sw

[2015-07-30 09:25] Vaseltior commented on #253
I get the same results

[2015-07-30 15:31] tachtevrenidis commented on #253
thanks @Vaseltior. @jpsim, are there any updates here?

[2015-07-30 15:40] groue opened #266 "Missing function in documentation"
Hello,

In http://cocoadocs.org/docsets/GRDB.swift/0.7.0/Extensions/Database.html, the documentation for this function is missing: https://github.com/groue/GRDB.swift/blob/v0.7.0/GRDB/RowModel.swift#L684-L698.

I don't quite know why.

Thank you!

[2015-07-30 15:43] groue commented on #8
:+1: How yeah that would help navigation a lot!

[2015-07-30 16:01] groue opened #267 "What are Swift extensions?"
What are extensions? I want to question the way to document them in a separate page.

Today, it is a tool for the developper. Everybody copies the way the Swift standard lib is written, and everybody writes tiny extensions which have *no purpose for the end user*, since it's only the current trend in swift coding.

Unfortunately coding a library is not the same task as using this library, and part

[2015-07-30 16:29] jpsim commented on #253
I think the situation has improved in Swift 2 Beta 4.

[2015-07-30 16:30] jpsim commented on #266
It looks like it's there? http://cocoadocs.org/docsets/GRDB.swift/0.7.0/Extensions/Database.html#/s:FC4GRDB8Database5fetchERR

[2015-07-30 18:14] groue commented on #266
No, it is not the same signature, even if they look pretty similar.

[2015-07-30 18:20] jpsim commented on #266
Ah, yes you're right... this need some more serious debugging.

[2015-07-30 18:22] jpsim commented on #266
Can you please share the parameters you're passing to jazzy? Is it possible you're passing `-dry-run` to xcodebuild? That could lead to this sort of error.

[2015-07-30 21:32] groue commented on #266
No, not really. It's just cocoapods documentatilon generation, and I don't quite know how they generate documentation with jazzy (maybe you could get in touch with them).

Yet, your initial confusion may put you on the right track; both functions look like they are the same, but they are not. I'm not sure any parameter has anything to do with it.

[2015-07-31 03:50] #214 closed

[2015-07-31 07:30] groue commented on #266
For reference, here are the two similar functions (only one is documented by jazzy):

[Function 1](https://github.com/groue/GRDB.swift/blob/v0.7.0/GRDB/Database.swift#L298-L311) (documented), [function 2](https://github.com/groue/GRDB.swift/blob/v0.7.0/GRDB/RowModel.swift#L684-L698) (not documented):

[code]

We have the same issue here: http://cocoadocs.org/docsets/GRDB.swift/0.7.0/Classes/Databa

[2015-07-31 23:17] jpsim commented on #266
It could very well be failing because Jazzy only works on Swift 1.0, 1.1 and 1.2 at the moment. Maybe try generating your docs with #261?

[2015-08-01 04:08] stevestreza commented on #251
Running this against a Swift 2 codebase I'm working on with Xcode 7 beta 4, it seems that there are some elements that SourceKitten is not returning a `key.substructure` for. This is causing a crash in [lib/jazzy/sourcekitten.rb:182](https://github.com/realm/jazzy/blob/swift-2.0/lib/jazzy/sourcekitten.rb#L187). I worked around this for now by checking for nil in the preceding if check but I'm not

[2015-08-01 04:11] jpsim commented on #251
@stevestreza are you using the `swift-2.0` branch of jazzy? You'll need Xcode 7 beta 4 installed under `/Applications/Xcode-beta.app` and have it selected under `xcode-select` for the time being, if you're using that branch. We'll have fewer hoops to jump through once we make an official release of it, I promise :wink:.

[2015-08-01 04:16] stevestreza commented on #251
Yep, on the `swift-2.0` branch, with `xcode-select` pointing at the `/Applications/Xcode-beta.app`. Just wanted to bring up one issue I ran into in practical use. I understand the development-y state of things. :)

[2015-08-01 04:38] jpsim commented on #251
Hmmm, that's odd then. I don't suppose you can share code that reproduces the issue?

The `swift-2.0` branch has some integration tests for `Alamofire` and `RealmSwift` at the moment and we're not seeing that particular issue. If you find a project that exhibits the same problem, please share it with us so we can troubleshoot further!

Thanks!

[2015-08-04 07:15] jcayzac commented on #56
Any progress? FWIW I can't get sourcekitten to even parse a single objective-c file successfully. Compilation works but it always ends up saying it couldn't generate the doc. No reason given.

If you're serious about Obj-C support you should look elsewhere for parsing. How about Doxygen's XML output?

[2015-08-04 15:27] segiddins commented on #56
@jcayzac there's  a PR open over on SourceKitten

[2015-08-05 12:09] groue commented on #266
It looks like Cocoadocs.org uses jazzy 0.2.3 (https://github.com/CocoaPods/cocoadocs.org/blob/64cfbd344b6bdf0e8f15847ef474247a4e4b9559/Gemfile.lock#L76).

Yet the two following functions don't use Swift 2 features, and yet only one is documented:

[code]

I strongly believe that there is a bug in the way jazzy identifies functions. Do you think it could be a bug in https://github.com/jpsim/SourceK

[2015-08-05 12:53] damianesteban opened #272 "sourcekit - Connection interrupt"
I've been using Jazzy for several months and have never had any issues with it.  I'm wrapping up a project and went to generate some documentation last night and I got the following error:

    sourcekit: [1:connection-event-handler:7943: 0.0000] Connection interrupt
    sourcekit: [1:pingService:7943: 0.0007] pinging service
    sourcekit: [1:sourcekitd_send_request_sync:1551: 0.0012] request dro

[2015-08-05 13:26] beltex commented on #272
Hi @damianesteban!

See #215 & #253.

[2015-08-05 14:07] jpsim commented on #266
I think it's either a bug in SourceKitten, or the fact that this is a Swift 2 code base. Jazzy itself actually has no knowledge of Swift parsing, all of which is done by SourceKitten.

[2015-08-05 14:08] jpsim commented on #272
The best thing we can get to help troubleshoot in these cases is a project that reproduces the issue. Would it be possible for you to share that with us?

[2015-08-05 14:55] groue commented on #266
OK. Do you know who is responsible of function identification ? I mean, does SourceKitten exposes an AST that jazzy visits in order to extract functions, or does SourceKitten expose a pre-built list of functions declared in a swift file?

[2015-08-05 15:43] damianesteban commented on #272
Unfortunately I can't share the project, but I will look at the above issues and give you a more detailed log.

[2015-08-05 16:15] jpsim commented on #266
This. See [Source/SourceKittenFrameworkTests/Fixtures/Bicycle.json](https://github.com/jpsim/SourceKitten/blob/master/Source/SourceKittenFrameworkTests/Fixtures/Bicycle.json) for an example SourceKitten doc output in the format that jazzy consumes. It's generated from this [Source/SourceKittenFrameworkTests/Fixtures/Bicycle.swift](https://github.com/jpsim/SourceKitten/blob/master/Source/SourceKitt

[2015-08-05 16:17] jpsim commented on #272
I find it useful to use [SourceKitten](https://github.com/jpsim/SourceKitten) via Xcode when debugging these sorts of issues. If you "Build & Run" the "sourcekitten" target, setting `doc` as an executable argument and the working directory to your project's root in the scheme's build setting, you should have all the power of LLDB at your fingertips.

[2015-08-07 00:59] jcayzac commented on #56
@segiddins Thanks. I suppose you're talking about jpsim/SourceKitten#57. Looking forward to it building successfully.

[2015-08-07 01:42] jpsim commented on #56
@jcayzac https://github.com/jpsim/SourceKitten/pull/57 builds & tests successfully with Xcode 7 beta 4. The Travis CI builds fail since its latest supported Xcode version is 6.4.

[2015-08-07 01:44] jcayzac commented on #56
@jpsim that's great to know! Thanks! :+1:

[2015-08-08 03:40] pcantrell opened #277 "deduplicate_declarations merges distinct methods that should not be merged"
It’s unclear when and why it happens — I’m unable to reproduce it in a small test case, so it may be a SourceKit bug — but sometimes, multiple variants of a method end up with the same USR. For example, in [Siesta](https://github.com/bustoutsolutions/siesta), [these methods](https://github.com/bustoutsolutions/siesta/blob/master/Source/Resource.swift#L283-L408):

    request(_:requestMutation:)

[2015-08-08 03:41] segiddins commented on #277
@pcantrell it actually is supposed to touch methods -- it's needed to play nice with documenting podspecs. The issue there is the `ERR` at the end of the USR -- that indicates generating a USR actually failed

[2015-08-08 03:47] pcantrell commented on #277
Ah, somebody else is up too late too. :)

What does the podspec case look like? As you see, I have a fix coming in a larger PR, and can account for the podspec if I know what I'm looking for.

[2015-08-08 03:48] segiddins commented on #277
The same module is documented potentially many times. I'm fairly confident that the current `deduplicate_declarations` is correct, and it's the inability to properly generate the USR that's the real issue here.

[2015-08-08 03:53] pcantrell commented on #277
In the cases where [USR, type] fails to be globally unique as Jazzy expects, [USR, type, name] works. Would that break the podspec case?

[2015-08-08 03:54] segiddins commented on #277
No it wouldn't break the podspec case, but again, this feels like a bandaide versus figuring out why you're getting error types when running SourceKitten at all.

[2015-08-08 03:58] pcantrell commented on #277
Does the `ERR` suffix come from Sourcekitten? I thought it was a SourceKit thing.

If it’s from Sourcekitten, then yes, it’s a band-aid and I’ll track down the underlying bug.

If it comes from SourceKit, then there’s an underlying Apple bug, but that doesn’t change the fact that Jazzy’s assumption of the global uniqueness of USRs is incorrect.

[2015-08-08 04:05] segiddins commented on #277
It does come from SourceKit, but it means the xcodebuild arguments passed are incorrect, or theres a missing `import` statement somewhere -- valid programs never actually contain error types, regardless of what SourceKit occasionally says.

[2015-08-08 04:12] pcantrell commented on #277
Indeed, you’re right — a seemingly unrelated compile error elsewhere in the project (a `.h` file, not even in Swift!) triggered the problem. Sorry for the noise!

[2015-08-08 04:12] #277 closed

[2015-08-08 04:14] segiddins commented on #277
No worries whatsoever!

[2015-08-13 14:25] JorgenAndreasson commented on #165
Also having difficulty installing jazzy.
Here is the output I receive;

    Building native extensions.  This could take a while...
    /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/bin/ruby extconf.rb
    creating Makefile
    make "DESTDIR="
    make: *** No rule to make target `/Applications/Xcode-            beta.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacO

[2015-08-13 17:54] pcantrell opened #282 "Some special list items (e.g. SeeAlso) get stripped"
The following gets stripped from a doc comment:

      - SeeAlso: foo and bar

It’s due to 34796f3d0ea83bfb846a8d1933308c730b57aa74, which seems to be intentionally stripping these items…? Some of them (e.g. Parameter) apparently get handled elsewhere, but most don’t. They just disappear.

[2015-08-13 17:55] pcantrell commented on #267
#278 fixes this.

[2015-08-13 17:57] pcantrell commented on #242
#267 appears to be a duplicate of this issue. PR #278 addresses the concern.

[2015-08-14 14:36] isaacroldan commented on #253
This is happening to me in Beta4 and Beta5 :(

[2015-08-17 19:32] brownleej commented on #272
I ran into this issue in one of my projects (https://github.com/brownleej/tailor/). Through trial and error, I traced the problem down to the documentation for a generic equality operator:

    public func ==<T: Persistable>(lhs: T, rhs: T) -> Bool

Once I removed the comments from this method, it was able to generate the documentation.

I ran this inside of SourceKitten, it was crashing in SwiftX

[2015-08-22 20:55] jpsim commented on #282
I believe SourceKit properly parses these (just like `parameter` and `returns`) but we're not rendering them appropriately in the generated HTML. So I think this issue is entirely jazzy-related (i.e. not SourceKitten or SourceKit).

Thanks for reporting.

[2015-08-23 00:31] pcantrell commented on #282
Per your comment, I took a look at the SourceKitten output for Parameter (which works) and SeeAlso (which doesn't).

Here’s a parameter:

    /**
      Returns the value of the HTTP header with the given key.

      Entity does not support multi-valued headers (i.e. headers which occur more than once in the response).

      - Parameter key: The case-insensitive header name.
    */
    public func

[2015-08-23 01:37] jpsim commented on #282
`key.doc.parameters` is created by SourceKitten by parsing `key.doc.full_as_xml`, but this is special-cased. The same could be done with every "special" list item by applying the same approach.

That certainly would make jazzy a lot simpler, but this was avoided in the past because SourceKit's markdown rendering was pretty horrible. But I have a feeling it's gotten much better in recent Xcode 7 be

[2015-08-23 02:06] pcantrell commented on #282
On casual inspection, it looks pretty good in XC7b5.

Would you be interested in seeing a PR for a rough draft of this?

[2015-08-23 16:36] jpsim commented on #282
Absolutely!

[2015-08-23 16:48] jpsim commented on #267
Thanks for posting this thought-out description of why jazzy should improve its extension support. I agree with @pcantrell that #278 goes a long way towards addressing this and that #242 sufficiently tracks this feature request, so I'm closing this as a duplicate.

[2015-08-23 16:48] #267 closed

[2015-08-23 16:58] jpsim commented on #253
note to all: whenever you see a "sourcekit connection interrupt" logged, that's Apple's SourceKit service itself crashing, and you should file a radar since this is something only Apple can fix. Here's one I just filed as an example: [rdar://22394418](http://www.openradar.me/22394418).

[2015-08-23 17:00] jpsim commented on #272
Cross-posting from #253 (and closing this as a duplicate):

[2015-08-23 17:00] #272 closed

[2015-08-27 01:55] damianesteban commented on #272
I should have added to this discussion before, I apologize.  As soon as I uninstalled Xcode 7 Beta all was well.

[2015-08-31 17:27] jpsim opened #287 "Use declaration name in URL rather than USR if there's no collision"
Jazzy uses USRs for URLs because Swift allows overloading declarations with the same name, but with different type signatures. However, since overloading is the minority case, we could use the name instead of the USR if there's no collision which would look a lot nicer:

[code]

Ideally, we'd have `id` tags for both name and USR, which would help with auto-linking. For example, if you reference `R

[2015-09-02 05:52] nicolas-miari commented on #161
I get a similar error log (Xcode 7 Beta 5, Swift 2):

    fatal error: unexpectedly found nil while unwrapping an Optional value
	    from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.2.4/lib/jazzy/sourcekitten.rb:71:in `run_sourcekitten'
	    from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.2.4/lib/jazzy/doc_builder.rb:53:in `block in build'
	    from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.2.4/lib/jazzy/doc_bu

[2015-09-02 06:33] jpsim commented on #161
@nicolas-miari the version of jazzy you're using only targets Swift 1.2. For Swift 2.0 support (only with Xcode 7 Beta 6), please use the `swift-2.0` branch (#261).

[2015-09-02 06:39] nicolas-miari commented on #161
Great, thanks! Sorry I missed that.

[2015-09-02 08:10] nicolas-miari commented on #161
I had some issues building `json -v 1.8.3` during the `bundle install` part, but after installing the xcode command line tools (as suggested somewhere), it worked! All my project's classes and extensions are documented (`--min-acl internal`)

Because of the wording of Jazzy's README.md page, I was afraid I also would have to build sourcekitten from source, but that doesn't seem to be the case.

[2015-09-02 08:23] nicolas-miari commented on #161
...aaaand, the same command fails when I paste it to Xcode's RunScript phase (so that my docs update everytime I build the target):

    /Users/(my_username)/Projects/Jazzy/jazzy.gemspec:17: warning: Insecure world writable dir /usr in PATH, mode 040777
    /Users/(my_username)/Projects/Jazzy/lib/jazzy/sourcekitten.rb:72:in `run_sourcekitten': undefined method     `as_env' for nil:NilClass (NoMeth

[2015-09-02 16:00] jpsim commented on #161
@nicolas-miari in your case, jazzy is failing because it can't find an Xcode version for the version of Swift you've requested (or 1.2 by default). Could you please open a new issue so we can troubleshoot?

[2015-09-03 01:20] nicolas-miari commented on #161
Weird... I did run xcode-select to point to the (laterst) beta. Will open issue now, thanks!

[2015-09-03 01:25] nicolas-miari opened #288 "Can't Run swift-2.0 Build from Xcode "Run Scripts" Phase"
I got the `swift-2.0` branch working from the command line, but when I attempt to run the same command from my Xcode target's "Run Script" build phase, I get this error output:

    /Users/(my_username)/Projects/Jazzy/jazzy.gemspec:17: warning: Insecure world writable dir /usr in PATH, mode 040777
    /Users/(my_username)/Projects/Jazzy/lib/jazzy/sourcekitten.rb:72:in `run_sourcekitten': undefined

[2015-09-03 01:28] segiddins commented on #288
Did you pass the `--swift-version 2.0` option to `jazzy` ?

[2015-09-03 01:52] nicolas-miari commented on #288
Oh, I didn't know that option (nor did I think it woukld be necessary... I'm using a version of jazzy built from the `swift-2.0` branch after all).

Also, from the command line it is working without the switch.

If I add that switch, the build finishes without errors but it takes forever (Xcode progress bar gets stuck at about 80%): several minutes for a project that should build in one or two sec

[2015-09-03 05:22] pcantrell commented on #282
FYI, haven't forgotten about sending a PR draft of a key.doc.full_as_xml approach. Just waiting for the swift-2.0 merge to be completed and my other PRs to get done, so I don't go into a local merge hell.

[2015-09-03 15:40] damianesteban commented on #253
Has anyone gotten jazzy working with Xcode 7 Beta _ yet?  It has been over a month for me and still no luck.

[2015-09-03 16:15] pcantrell commented on #253
@damianesteban: It’s working just great for me with Xcode 7, and successfully generating [docs for a Swift 2.0 project](http://bustoutsolutions.github.io/siesta/api/).

Things to check:

- Did you check out Jazzy’s `swift-2.0` branch? (And — sanity check — are you using that `jazzy` instead of accidentally picking up the distro version from the gem in your path?)
- Did you use `xcode-select` to po

[2015-09-07 19:09] jpsim commented on #244
Fixed in #292.

[2015-09-07 19:09] #244 closed

[2015-09-08 19:38] mbogh commented on #146
@cvasilak, can you provide some way of replicating this outcome?

[2015-09-08 19:48] jpsim commented on #146
I believe the proper fix here is to be URL escaping the declaration name.

[2015-09-08 20:51] mbogh commented on #146
@jpsim are you thinking something as simple as adding the following to sourcekitten.rb
[code]

[2015-09-08 21:59] jpsim commented on #146
it does make for fairly uglier URLs, but I believe that's the safest way to generate URLs.

[2015-09-09 13:20] mbogh commented on #146
I'll have a go at it if I'm not overwhelmed by todays event :smile_cat:

[2015-09-10 07:39] cezheng opened #295 "Display `throws:` for swift 2.0"
Although I have written

[code]
in my header doc, there's no way readers can see it from jazzy generated docs.

[2015-09-10 13:58] pcantrell commented on #295
This is probably #282.

[2015-09-10 14:49] jpsim commented on #295
This is indeed a duplicate of #282. This shouldn't be too much work to implement.

[2015-09-10 14:49] #295 closed

[2015-09-11 00:03] xsahoo opened #297 "Can't Hide Percentage Documented?"
Is there no way to hide the "(X% documented)" that appears at the top left of the page? It seems more intuitive that this would be hidden by default and only displayed when an option is specified.
![screen shot 2015-09-10 at 5 02 52 pm](https://cloud.githubusercontent.com/assets/7671705/9804019/d2badc60-57dd-11e5-9963-42351854714b.png)

[2015-09-12 11:51] nickygerritsen commented on #259
It seems to also be the case for targets with a dash (`-`) in it.

[2015-09-13 14:28] jpsim commented on #259
You should be able to wrap your arguments in single quotes:

`jazzy -x '-target,Summit WatchKit Extension'`

[2015-09-13 14:33] nickygerritsen commented on #259
That doesnt seem to work.

My script to create documentation is:

[code]

And the output can be found at http://meuk.nickygerritsen.nl/jazzy-output.txt (didn't paste it here because it is really big).

[2015-09-13 14:48] jpsim commented on #259
Thanks for posting the like to that output, I think I know why this is happening.

tl;dr; `-m "StreamOne iOS SDK"` should actually be `-m StreamOneSDK`

The longer explanation: jazzy uses SourceKit to extract documentation the same way Xcode does. To do this, it needs to know which compiler arguments are required to build the module. The best way I've found to get the appropriate compiler argument

[2015-09-13 14:53] nickygerritsen commented on #259
I changed it to `StreamOneSDK` but that did not seem to do the trick. I've updated the jazzy-output.txt file with the new output...

[2015-09-13 14:56] jpsim commented on #259
could you try disabling incremental builds in Xcode and trying again?

[2015-09-13 14:59] nickygerritsen commented on #259
I'm trying to find this in XCode, but fail to do so :(. Google does not really help, so where can I find this?

[2015-09-13 15:14] jpsim commented on #259
Hmmm, the incremental build really shouldn't be affecting this. Running the following, I can get the compiler arguments:

[code]

which is what jazzy does to get its compiler arguments. If I had access to the Xcode project I could debug further, but barring that, I don't know what else could be going on here.

[2015-09-13 15:17] nickygerritsen commented on #259
OK I pushed the repo to https://github.com/nickygerritsen/tmp-ios-sdk for the moment being.

Maybe you can find something using that :)

[2015-09-13 16:03] jpsim commented on #259
Ok, you've found a bug in jazzy! I've been able to reproduce this problem and have a proper fix on the way. Here's a temporary fix for you for now:

[code]

[2015-09-13 16:11] nickygerritsen commented on #259
Great, thanks!

[2015-09-13 16:33] #259 closed

[2015-09-14 23:49] aure opened #299 "Example of categories JSON or YAML file with custom groupings"
From jazzy --help:
   --categories file            JSON or YAML file with custom groupings

Can someone give me a hint what the categories file can/should look like?

Thanks

[2015-09-15 01:36] pcantrell commented on #299
It's something of a work in progress, with the categories file to be replaced by a more generic `.jazzy.yaml` config file.

For the current usage, though, here is a [sample config file](https://github.com/bustoutsolutions/siesta/blob/gh-pages/_templates/api-categories.yaml) and [its output](http://bustoutsolutions.github.io/siesta/api/).

You can follow discussion on the feature on #281. Note that

[2015-09-15 02:25] aure commented on #299
Gorgeous!

[2015-09-15 02:25] #299 closed

[2015-09-15 09:23] nickygerritsen opened #300 "Allow to specify documentation header title"
Now that @jpsim merged #298 you use the module name both for getting the module out of XCode and for the name of the documentation pages (shown in the header).

Although this is now overridable by specifying both `-m X` and `-x '--module-name,Y`, I think it would be better if we could set the title to something different, for example by passing `--title=X` or similar.

What are your thoughts on th

[2015-09-15 11:21] jpsim commented on #300
Thanks for sharing this use case. My first inclination would be to recommend that you use custom templates (#257). I'm open to making this a feature, but I'm under the impression that the case in which the title is different than the module name is actually fairly rare in practice.

[2015-09-15 15:05] mbogh commented on #288
Getting the same error, can't even `rake spec` without a lot of errors like

[code]

[2015-09-17 10:31] ivanicspeter92 commented on #288
Same problem here, I am trying to run jazzy from my project's folder, then the following error appears:
/Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.1/lib/jazzy/sourcekitten.rb:116:in `run_sourcekitten': undefined method `as_env' for nil:NilClass (NoMethodError)
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.1/lib/jazzy/doc_builder.rb:56:in `block in build'
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.

[2015-09-20 08:32] tkrajacic opened #301 "Improve output when Framework has no source files"
When creating an empty iOS/OSX framework jazzy will produce countless screens of useless output that ends with

[code]

As soon as one adds a source file to the framework, jazzy's output is nice and concise.

One might argue that a framework without a source file is pointless anyway, but I think that jazzy should always deliver nice output, no matter what.

[2015-09-20 08:48] tkrajacic opened #302 "Add option to put build products in Xcode's DerivedData"
At the moment _xcodebuild_ creates a `build/` dir for output in the projects directory.

One could set the `CONFIGURATION_BUILD_DIR` environment variable but it would be great if _jazzy_ would automatically use the `DerivedData/` directory from the project file.

The directory for the project could probably be obtained via:

`xcodebuild -project MyProject.xcodeproj -showBuildSettings`

Sure, one c

[2015-09-20 09:14] jpsim commented on #302
I absolutely understand why you'd want to avoid writing to a `build/` directory, and I'd definitely recommend setting `CONFIGURATION_BUILD_DIR` to do this.

It's not apparent to me that adding a new configuration parameter would be worthwhile given that it does the same thing as an existing environment variable, only with a different default, and would go against what users may already be familiar

[2015-09-20 09:14] jpsim commented on #301
Absolutely agreed, we should have better error handling in this case! Thanks for reporting this.

[2015-09-20 09:30] tkrajacic commented on #302
I agree it was a bad idea suggesting a new configuration parameter.

The proposal should have been:
_Jazzy should honor the build directory of the project_

Would that make sense to you?

[2015-09-20 10:33] jpsim commented on #302
Jazzy shells out to `xcodebuild`, and if a custom build directory is set in the Xcode project, it should respect that. However, `Xcode.app` and `xcodebuild` have different *defaults*. It may be preferable for jazzy to override the default to mimic `Xcode.app` but I'm still not convinced.

[2015-09-20 16:51] tkrajacic commented on #302
Maybe you could leave the issue open? See what others think.

I am still strongly favoring jazzy using the DerivedData directory as default, as it would be difficult to manually set this (you can't know the exact directory name including the hash value unless you check the project file manually)

[2015-09-20 16:57] pcantrell commented on #302
I’m sure I’d have spent an hour digging for the output the first time I used Jazzy if it defaulted to DerivedData.

[2015-09-20 16:58] tkrajacic commented on #302
@pcantrell I think you are mistaking 'output' in this context. I don't mean the documentation! I mean the build products of `xcodebuild` which you most certainly never need...

[2015-09-20 17:09] pcantrell commented on #302
Ah, I see what you mean. Using DerviedData (or any tmp dir) does make sense.

But why don't I get a `build` dir when I run jazzy? My project doesn't override `CONFIGURATION_BUILD_DIR`. I do override the derived data dir globally in my Xcode prefs … but isn't that what you're saying doesn't work and you want to work?

[2015-09-20 17:16] tkrajacic commented on #302
I think you are seeing what @jpsim was mentioning (and I didn't know).
When you do not set a build directory implicitly, _Xcode_ and _xcodebuild_ have different defaults.

_Xcode_ defaults to `DerivedData/`, and _xcodebuild_ to a local `build/` directory.

When you __do__ set a directory then _jazzy_ will pick up on it.
Since I (and I can only assume most others?) am using the default `DerivedData

[2015-09-21 19:19] mbogh commented on #146
Hmm simply using `URI.escape(doc.name)` gives us `Global%20Variables.html` which makes Safari and Chrome really sad on OS X.

If we use `doc.name.gsub(/[^\w\.]/, '_')` instead we would gain filenames like `Global_Variables.html`.

Any comment on this @jpsim ?

[2015-09-21 20:31] jpsim commented on #146
I get the feeling that this has already been solved by other ruby projects in a general way, and that `gsub(/[^\w\.]/, '_')` may not be sufficient to clean up URLs.

[2015-09-21 21:07] tkrajacic commented on #302
@jpsim Would you mind leaving this open (re-open it), or is anything like discussed here completely out of the question? I don't think the request is unreasonable, or maybe someone will come up with a better solution.

[2015-09-21 21:15] jpsim commented on #302
You're absolutely right that the request is reasonable, I just can't think of a solution that wouldn't be just as confusing to others. If anyone can make a PR that does this in a nice way, without shifting the confusion from one set of users to another, I'd be happy to consider it.

[2015-09-22 07:33] mbogh commented on #146
True, so a gem like https://github.com/agilecreativity/filename_cleaner

[code]

Would result in `Global.Variables.html`

[2015-09-22 15:53] GawenBerger opened #305 "Building site fail"
I started to use jazzy today, and when I tried to build the documentation (using this command `jazzy --swift-version 2.0 -x -workspace,XXXX.xcworkspace,-scheme,XXXX`) I got a sourcekitten error.
My output is as followed :

[code]

I looked in sourcekitten.rb and it seemed that this line `docs.each do |doc|` fail because docs is nil.
This is the first time I use this kind of tools so maybe I did so

[2015-09-22 22:15] jpsim commented on #305
Is there any chance you could send us either the project itself, or another project that exhibits the same issue? That would help greatly in troubleshooting what's happening.

[2015-09-23 10:18] GawenBerger commented on #305
Ok, I spend a lot of time this morning trying to identify what made that happened and I finally identified it, I'm not sure if this is a bug or if this is simply a misusage, but what causes this is the presence of an empty swift file.
In my case, it was a full swift file commented but any swift file without functions/classes/enums/structs & co will make the build phase fail.

[2015-09-23 12:46] p2 commented on #305
I have the same issue, trying to build documentation for the master branch of [the Swift-SMART](https://github.com/smart-on-fhir/Swift-SMART/) project.

[2015-09-23 14:44] GawenBerger commented on #305
I think it doesn't work for you because of [this file](https://github.com/smart-on-fhir/Swift-SMART/blob/master/Tests/BaseTests%2BiOS.swift). I tested this morning and an include in a file is not enough to avoid a crash, so I guess you could try to add something like "class ThisIsATest {}" in this file to see if this come from that.
I'm not sure if this will be enough because I got a lot of errors

[2015-09-23 14:52] p2 commented on #305
Whoa, I did see your comment and checked, but indeed this file is wrongly assigned to the main target, needs to be on the test target! I just removed it and indeed, that was it.

You got all these errors because of missing submodules, this framework must be cloned with `--recursive`, but you don't need to bother now. :)

Thanks a lot!

And to the maintainers, looks like Swift files that do not con

[2015-09-24 14:17] orta opened #306 "make_source_declarations failed"
[code]

Running on Xcode 7 against RxSwift. Doing CocoaDocs stuff so didn't bother digging into why.

[2015-09-24 16:01] mbogh commented on #297
We could add an option:
`--[no-]hide-documentation-coverage    Hide (X% documented) from the generated document`

[2015-09-24 16:55] #306 closed

[2015-09-24 16:56] jpsim commented on #297
@mbogh that sounds fine to me. @xsahoo another way to do this is to use custom templates

[2015-09-24 17:23] mbogh commented on #297
Cool, I'll submit a PR.

Should a new integration spec be made or should one of the existing be modified (e.g. `misc_jazzy_features`)?

[2015-09-24 19:20] #297 closed

[2015-09-26 14:07] Mozahler opened #309 "Can't debug Xcode 7 build - how do I view build progress?"
<img width="784" alt="screen shot 2015-09-26 at 9 45 47 am" src="https://cloud.githubusercontent.com/assets/9641531/10117851/d3957354-6433-11e5-9cd9-79e4bcd3d56a.png">

The above picture shows activity approximately 10 minutes after starting a jazzy build.
I don't see a cmdline verbose option to running jazzy, but need to understand why my project fails to build. Is there an intermediate file I ca

[2015-09-26 14:27] Mozahler commented on #309
The build I documented above finished after I opened the issue (it ran for 45+ minutes on a 13" retina MacBookPro on OS X 10.10.5, freshly rebooted before I started). Instead of an expect 108 or so classes/protocols/extensions, I got 3. I have no idea why. jazzyCmd.sh is the command line mentioned above. (jazzy --skip-undocumented --swift-version 2.0 --min-acl internal)
$ ./jazzyCmd.sh
Running xco

[2015-09-26 15:13] segiddins commented on #309
Perhaps it would help if you specified xcodebuild arguments in your invocation of jazzy?

[2015-09-26 15:57] Mozahler commented on #309
I don't understand 😕

[2015-09-26 15:58] segiddins commented on #309
[code]

[2015-09-26 15:59] Mozahler commented on #309
Which ones are need beyond those I documented above?

[2015-09-26 16:00] Mozahler commented on #309
I see. I need to understand how to use xcodebuild. Fair enough. Thanks.

[2015-09-26 16:02] Mozahler commented on #309
💃🏾👯🎉🐢💨🎉👯🎉💃

[2015-10-02 17:44] jdraymon commented on #251
I see that the SourceKitten version has been bumped to 5.0 - is this fixed now?

[2015-10-02 17:45] jpsim commented on #251
Indeed, jazzy officially supports Swift 2 now. Thanks for pointing this out.

[2015-10-02 17:45] #251 closed

[2015-10-02 18:44] gsapienza opened #311 "Xcode 7.1"
Is there support for Xcode 7.1 yet? Can't get anything documented, maybe I am missing something.

This is what I am seeing. Im sure my comments are formatted correctly

![No documentation](https://s3.amazonaws.com/f.cl.ly/items/0H081G2m3F2r3M422T44/Screen%20Shot%202015-10-02%20at%202.41.46%20PM.png)

[2015-10-02 18:46] jpsim commented on #311
Sure, Xcode 7.1 works, what command did you run to generate these empty docs? What project is this running on? Is the framework you're documenting empty?

[2015-10-02 19:43] gsapienza commented on #311
Just used the plain 'jazzy' command. It is running on a project that contains cocoa pods. I'm not sure if that makes a difference. Which framework would you be referring to?

[2015-10-02 19:44] segiddins commented on #311
try running `jazzy --swift-version 2.1`?

[2015-10-02 20:51] gsapienza commented on #311
this is what that returns

/Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.1/lib/jazzy/sourcekitten.rb:116:in `run_sourcekitten': undefined method `as_env' for nil:NilClass (NoMethodError)
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.1/lib/jazzy/doc_builder.rb:56:in `block in build'
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.1/lib/jazzy/doc_builder.rb:54:in `chdir'
	from /Library/Ruby/Gems/2.0.0/gems/

[2015-10-02 20:52] jpsim commented on #311
Looks like jazzy can't find Xcode 7.1 on your machine. Are you sure you have that version installed?

Sorry for the stack trace there, we should really be catching that error more elegantly.

[2015-10-02 20:53] jpsim commented on #311
Actually that error message should be improved as of #303, which still needs work before we can merge it.

[2015-10-02 21:10] gsapienza commented on #311
Yep here is a screenshot of the version
![Xcode](https://s3.amazonaws.com/f.cl.ly/items/0v1j0e2o3k3o1u1s2v2R/Screen%20Shot%202015-10-02%20at%205.03.23%20PM.png)

Is there a way to point jazzy to the correct version of Xcode?

[2015-10-02 21:12] jpsim commented on #311
Yes, specifying `--swift-version 2.1`. Jazzy uses Spotlight to find an Xcode with an appropriate Swift version, so maybe check that Spotlight is turned on and has indexed this Xcode installation?

[2015-10-02 21:59] gsapienza commented on #311
Yep its there in spotlight :(

[2015-10-02 22:02] jpsim commented on #311
Then I don't know why Jazzy can't find it. But that's orthogonal to your initial issue though, which is your docs being empty.

So are you using jazzy to document an iOS app rather than a framework? Please keep in mind that Jazzy's minimum ACL to document is `public` by default, so if your app only has `internal` or `private` declarations, jazzy won't pick up anything. You can pass `--min-acl inte

[2015-10-02 22:12] gsapienza commented on #311
Ok I did that and interestingly it only documented my watch extension.

[2015-10-02 22:15] jpsim commented on #311
So that must be the default scheme that's built when you run `xcodebuild` in your project's root too, then?

You can specify which module to document by passing in the `--module` parameter.

[2015-10-02 22:23] gsapienza commented on #311
Ok where can I find the exact name of each module?

[2015-10-02 22:27] jpsim commented on #311
In Swift, when you write `import ****` that's the module name. So for your app, it's the app's name.

[2015-10-02 22:35] gsapienza commented on #311
didn't work :/ tried jazzy --module APP_NAME

[2015-10-02 22:37] jpsim commented on #311
To be able to help you further, could you please post the exact steps we can take to reproduce your situation?

[2015-10-02 23:35] gsapienza commented on #311
Sure, so I have an iOS project running swift 2.1, with a watch app and cocoa pods installed. I installed jazzy and documented a few non private methods to test it. I then ran the 'jazzy' command in the apps directory. From there I opened the docs in the project to find them empty. However, like I said earlier, it seems to be only documenting the files in my watch extension

[2015-10-03 15:18] jpsim commented on #311
Here's what I think is happening:

1. When Xcode adds a watch extension target, it uses the naming scheme `$app_name WatchKit Extension` and `$app_name WatchKit App`.
2. When Jazzy is passed the `-m $app_name` argument, it will not only match `$app_name` but also the watch targets because of how SourceKitten extracts the compiler arguments for the given module: https://github.com/jpsim/SourceKitte

[2015-10-03 15:31] gsapienza commented on #311
Ok that is almost there! It parses the correct files, but unfortunately throws me this and doesn't make the docs

building site
/Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.1/lib/jazzy/sourcekitten.rb:233:in `make_source_declarations': undefined method `each' for nil:NilClass (NoMethodError)
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.1/lib/jazzy/sourcekitten.rb:235:in `block in make_source_declarati

[2015-10-04 12:57] CCDSY opened #313 "Documentations from the standard library not included in the generated HTML docs."
I got a `struct` that conforms to `SequenceType`, and the documentation for the method `generate()` is provided in the standard library. I can even view it in Xcode.
<img width="502" alt="2015-10-04 7 10 27" src="https://cloud.githubusercontent.com/assets/9509755/10267580/2f7568fc-6acc-11e5-85b0-0a22cf6adfd7.png">
But in the HTML docs generated by jazzy, it says undocumented. Even the declaration

[2015-10-04 15:08] segiddins commented on #313
Can you include some more information about the code you're trying to document so we can reproduce this ?

[2015-10-04 15:55] CCDSY commented on #313
The code for the method I mentioned above is just like this. I didn't write any documentation or comment for it, because it's already provided in the standard library for `SequenceType`.
<img width="388" alt="2015-10-04 11 21 14" src="https://cloud.githubusercontent.com/assets/9509755/10268653/b0336028-6af1-11e5-871a-e3f2f516177b.png">

This is the declaration for `generate()` in the generated hea

[2015-10-04 16:17] segiddins commented on #313
Ah. In that case, this is actually a feature request that's being tracked at https://github.com/realm/jazzy/issues/190.

[2015-10-04 16:30] CCDSY commented on #313
Then what about the wrong declaration?
The declaration for `generate()` should be
[code]
or
[code]
not
[code]

At least, a method declaration should start with a `func` keyword not a `struct`, right?

[2015-10-04 17:21] segiddins commented on #313
ah yeah I missed that bit

[2015-10-05 16:06] jpsim commented on #311
@gsapienza please show me some code that reproduces that. I don't have much to go on at the moment.

[2015-10-05 16:07] jpsim commented on #313
@CCDSY you seem to have found a bug where if the declaration cannot be parsed, it falls back on the parent declaration.

[2015-10-05 22:37] jpsim commented on #146
I'm curious, what do you mean by this? Does it cause issues with Safari and Chrome? This seems like a simpler & better supported solution rather than `filename_cleaner`.

[2015-10-07 06:06] mbogh commented on #146
@jpsim I might have misunderstood the issue but if `URI.escape()` is applied both to the filename and the link then Safari and Chrome is not able to load the `Global Variables`.

Should `URI.escape()` only be applied to the link itself?

[2015-10-07 17:28] jpsim commented on #64
@yoshyosh do you think you could help out with the front-end web portion of this? My skills are definitely lacking in that area, and you're a pro!

[2015-10-07 17:56] jpsim commented on #146
What happens if you try that?

[2015-10-07 18:31] mbogh commented on #146
Then everything is fine, file is named `Global Variables.html` and link is `href="Global%20Variables.html"`.

But the file name of the OP will remain and cause trouble? I don't even know how the filename mentioned by OP would come into question.

[2015-10-07 18:32] jpsim commented on #146
The issue wasn't in saving the file, but rather accessing it unescaped via a URL in a browser.

A file name like `init(baseURL:sessionConfig:requestSerializer:responseSerializer:).html` would happen if there's a nested type in there, which is weird but could happen.

[2015-10-07 18:37] mbogh commented on #146
But `URI.escape()` would not fix the "weird" filename.

[code]

[2015-10-07 18:43] jpsim commented on #146
Ah you're right. Reading the original issue description again, the issue was that the filename is invalid on Windows because it contains colons. I'm not sure how much of a problem this actually is in practice then, because jazzy only runs on OS X and who in the world would run a webserver for Swift documentation on IIS.

I'm inclined to just close this as "won't fix". Am I crazy for thinking this

[2015-10-07 18:45] mbogh commented on #146
We could apply `URI.escape()` to be good web citizens?, but yeah it seems unlikely to host swift documentation on an IIS.

[2015-10-07 18:48] jpsim commented on #146
But then this would uglify URLs for everyone, with the only benefit being allowing these docs to be hosted on Windows?

[2015-10-07 18:52] mbogh commented on #146
True, it would seem that all modern browser does not break if whitespace e.g. is not escaped.

Should I simply delete my branches(prs)?

[2015-10-07 18:53] jpsim commented on #146
I think so. I really appreciate you digging into this though, but it feels better to leave this one as-is IMO. Closing.

[2015-10-07 18:53] #146 closed

[2015-10-07 20:59] jpsim commented on #198
Something like Ruby's docs "toggle source" would be great here:

![test](https://cloud.githubusercontent.com/assets/474794/10350911/8c5ca2e8-6cfb-11e5-8e8b-2d41b4c69882.gif)

[2015-10-07 21:01] jeeftor opened #314 "Support for Non-Github projects?"
Any chance we could have an "any-url" support here?  For say Atlassian Stash or BitBucket?  We run stash and gitlab internally at my office.

[code]

[2015-10-07 21:35] jpsim commented on #314
You could pass in `--github_url` and `--github-file-prefix` along with custom templates that can display whatever you want instead of "View on GitHub" and the little octicon glyph.

[2015-10-08 14:17] jeeftor commented on #314
I created a pull request for this guy! :+1:

https://github.com/realm/jazzy/pull/315

[2015-10-08 16:38] jeeftor opened #316 "How to update the integration tests to accept a new file."
Hi,

I have a pull request #315 that is currently failing because I've added new file to the template `bb.png` which is a bitbucket icon.  The problem is i'm not a ruby developer and I'm having trouble tracking down which file i need to update to get the integration tests to pass.  I believe somewhere I need to tell "something" that its ok for this file to exist in the `after` directory.

Any sugg

[2015-10-08 16:47] jpsim commented on #316
You're right that this should be documented!

There's a rake task to regenerate the integration fixtures: `bundle exec rake rebuild_integration_fixtures` (make sure you've run `bundle install` at least once before).

Once the integration specs have been rebuilt, you can make a PR at https://github.com/realm/jazzy-integration-specs and update the git submodule in this repo to point to the new commi

[2015-10-08 18:39] jeeftor commented on #316
So I forked the integration-specs repo - and I guess I will update my pull request to point to my version of the integration repo - then re-run the integration tests ... if they pass I will re-point to your repo, and submit a pull request on the integration repo - and then once that is updated my pull request should pass?

Is this the best way to do this?

[2015-10-08 18:44] jpsim commented on #316
I think so. It's certainly messy, but still better than having that huge repo combined in jazzy proper.

[2015-10-09 14:09] mkieselmann opened #317 "Support all Swift 2 doc keywords"
Hi,
is there any possibility to treat the `throws` keyword in Swift 2 as a special case for methods; just like `returns` or the parameters.
For example:
[code]
The returns description is styled in a special way just as the parameters, which are formatted with a table. It would be great to have a special style for the throws keyworks that is applied automatically for any `- throws: description`decl

[2015-10-09 15:10] gsapienza commented on #311
Anything particular that would help? unfortunately, I'm not allowed to share the project that I am trying to integrate jazzy with

[2015-10-09 15:26] jpsim commented on #311
Whatever it would take for someone without access to your project to trigger the same issue you're getting.

[2015-10-09 23:14] brandoncgray opened #318 "delete"

[2015-10-09 23:26] brandoncgray opened #319 "Xcode 7/Swift 2.0 Failed to generate documentation"
Xcode 6 worked just fine but Xcode 7 doesn't work. Here is part of my bash file:

"`dirname "$0"`"/jazzy-master/bin/jazzy \
--output "${outputName}" \
--clean \
--author_url "${companyURL}" \
--module "XXXXXXX" \
--source-directory "`dirname "$0"`" \
--copyright "${copyright}" \
--swift-version "2.0" \
--min-acl "internal" \
-x -scheme,"XXXXXXX Prod" \
--skip-undocumented

This is the results in t

[2015-10-12 05:53] shashankdekate81 opened #320 "Jazzy `run_sourcekitten': undefined method `as_env' for nil:NilClass (NoMethodError)"
Hi
I have install jazzy for swift html documentation. when i run jazzy command it alway show me

/Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.1/lib/jazzy/sourcekitten.rb:116:in `run_sourcekitten': undefined method `as_env' for nil:NilClass (NoMethodError)
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.1/lib/jazzy/doc_builder.rb:56:in `block in build'
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.1/lib/j

[2015-10-12 12:36] segiddins commented on #320
This has a better error message on master.

[2015-10-13 20:30] jpsim commented on #320
...and that error message would say that jazzy couldn't find an Xcode that could build the requested Swift version.

[2015-10-13 20:31] jpsim commented on #319
Could you please print the result of the following command? `xcodebuild -scheme "XXXXXXX Prod"`

[2015-10-13 21:06] #320 closed

[2015-10-13 21:26] brandoncgray commented on #319
It is a massive amount of text, it wont let me paste it here... I also tried to attach it and it won't attach. Is there a specific part you are looking for?

[2015-10-13 21:29] jpsim commented on #319
The part that's making this fail... You should be able to post it in a [gist](https://gist.github.com) and paste the link here.

[2015-10-13 21:32] brandoncgray commented on #319
https://www.dropbox.com/s/0j1khlvga5abdab/xcode_build_results.txt?dl=0

[2015-10-13 21:37] jpsim commented on #319
Alright, it looks like the scheme name ("XXXXXXX Prod") doesn't match the module name ("XXXXXXX Prod"), causing jazzy (well, SourceKitten really) to not find which module to build docs for. Could you please try passing in `--module-name XXXXXXX` to jazzy?

[2015-10-13 22:20] brandoncgray commented on #319
I am getting this error: invalid option: --module-name (OptionParser::InvalidOption)

[2015-10-13 22:22] jpsim commented on #319
That's my mistake, I didn't remember the name of the parameter. It's `--module` not `--module-name`

[2015-10-13 22:26] brandoncgray commented on #319
Ok no problem, so this is what I am using to run jazzy. I was already using the `--module` in the file you looked at.

# Start constants
company="Some Company";
companyID="Some Company ID";
companyURL="http://www.SomeCompany.com";
outputName="~/Documents/Auto Documentation";
copyright="© 2015 All Rights Reserved.";
appName="XXXXXXX";
swiftVersion="2.0";
# End constants

"`dirname "$0"`"/jazzy-mast

[2015-10-13 23:07] brandoncgray commented on #319
So I commented the `--swift-version "${swiftVersion}" \` line and I actually saw the build folder get created and I received this error. The app(My App) has spaces in it and for some reason "My\\ App" has double slashes instead of a single slash.

[code]

[2015-10-13 23:41] brandoncgray commented on #319
Ok So I got it working... --module "My App Name" brakes it. In other words spaces in the app name looks like the cause of the issue. So apps without a space in the name would work properly. I changed my code and this works minus the name of my app on the jazzy site.

[code]

[2015-10-14 03:01] jpsim commented on #319
I believe this is actually the same issue as #259, which was addressed by #298 but has yet to be included in a release. I'll try to cut a release tonight since it's been about a month since our last one.

I'm closing this issue in the hopes that it's the one I recently fixed, but please reopen if you manage to reproduce it again with 0.3.2, which should be out shortly.

[2015-10-14 03:01] #319 closed

[2015-10-14 03:53] jpsim commented on #319
0.3.2 is out: https://github.com/realm/jazzy/releases/tag/v0.3.2

[2015-10-14 18:44] #318 closed

[2015-10-15 23:45] jpsim commented on #317
We should totally support this, along with all the other keywords described here: http://ericasadun.com/2015/06/14/swift-header-documentation-in-xcode-7/

[2015-10-18 18:20] jessesquires opened #322 "Support -throws:, -note:, and -warning:"
Currently, it looks like the latest version of jazzy does not parse/render `-throws:`, `-note:`, `-warning:`.

[2015-10-19 16:50] jpsim commented on #322
Absolutely. I really haven't had much time to dedicated to jazzy lately, but this is high on my list, and already being tracked in #317.

[2015-10-19 16:50] #322 closed

[2015-10-19 18:47] jessesquires commented on #322
Thanks @jpsim ! Sorry for the dupe! :blush:

[2015-10-19 18:50] jpsim commented on #322
No worries at all, the previous one wasn't very descriptively named, so I just renamed it :stuck_out_tongue:

[2015-10-24 17:57] jpsim commented on #317
@mkieselmann and @jessesquires, you may be interested in #323, which provides support for this.

[2015-10-24 19:53] jpsim opened #325 "Improve SASS"
#323 introduced a ton of new CSS classes and SASS variables that I'm sure could be refactored to be much DRYer, but my SASS skills are lacking.

[2015-10-24 19:53] #317 closed

[2015-10-27 22:48] C4Framework commented on #311
`--swift-version 2.1` worked for me

[2015-10-28 23:13] #311 closed

[2015-10-29 00:33] mattgabor commented on #288
Hey all, any solution to this issue? I am running Xcode 7.1 and when I Jazzy through gem. When I type jazzy in my project's directory I get the following error:

/Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.2/lib/jazzy/sourcekitten.rb:125:in `run_sourcekitten': Unable to find an Xcode with swift version 2.0. (RuntimeError)
	from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.2/lib/jazzy/doc_builder.rb:56:in `

[2015-10-29 00:36] jpsim commented on #288
@mattgabor as the error message indicates, jazzy was `Unable to find an Xcode with swift version 2.0.`. Since you've said you have Xcode 7.1 installed, you'll have to pass in `--swift-version 2.1` for jazzy to use Xcode 7.1.

[2015-10-29 00:36] jpsim commented on #288
I'm closing this issue, but if anyone can provide steps for us to reproduce, I'll be happy to reopen.

[2015-10-29 00:36] #288 closed

[2015-10-29 00:50] mattgabor commented on #114
I am confused about how to view the documentation. I ran jazzy --swift-version 2.1 in my project directory and it created a folder called docs, but when I open index.html, it looks like this:

<img width="675" alt="screen shot 2015-10-28 at 5 50 42 pm" src="https://cloud.githubusercontent.com/assets/5590876/10807393/6ee0fa64-7d9c-11e5-8894-7e8fb8cf387c.png">

I have my comments in the Apple Markdo

[2015-10-29 00:51] jpsim opened #327 "Disable autolinking in code"
The autolinking introduced in #324 creates hyperlinks in code/pre blocks, which it really shouldn't IMHO. One way to do this, from a comment in that PR:

[2015-10-29 00:52] jpsim opened #328 "Support autolinking more than top-level declarations"
The autolinking introduced in #324 only links top-level declarations. To make autolinking work with declarations deeper than top-level ones, we'd have to only autolink if it's on the same page (IMO).

[2015-10-29 00:52] jpsim opened #329 "Tone down hyperlinks created by autolinking"
As described in #324.

[2015-10-29 00:54] jpsim commented on #114
No, I never ended up taking the time to write something like that. My guess is that you don't have any declarations in your module with a `public` ACL, or that the scheme detected by jazzy isn't what you want to document. You can address either of these issues by passing `--min-acl` and `--module` to jazzy respectively.

[2015-10-29 03:37] pcantrell commented on #328
I’ve been documenting Siesta assuming that it might eventually work as follows:

- A program element name must match a complete backticked block in order to autolink; you’ll never get links inside larger code blocks, or in plain text.
- If an element contains a dot, it matches a chain of nested elements from the top level down: `Class.method(_:foo:)`
- If an element does not contain a dot, then it

[2015-10-29 06:20] devxoul opened #330 "Using existing build data for generating docs"
Hi,

I'd like to generate document on CI server, but `xcodebuild` takes too long to compile the whole project again just after the testing has done.

Can I use existing build data (which is generated during testing) for generating docs?

Thanks!

[2015-10-29 06:32] devxoul opened #331 "Runtime Error when parsing Swift file."
**Environment**

- Jazzy 0.3.2
- OS X 10.11.1
- Ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin15]
- Xcode 7.1 (7B91b)
- Swift 2.1
- Building iOS 7.0 target project

**Command**

[code]

**Output**

[code]

Am I doing wrong?
Thanks!

[2015-10-29 13:59] AfricanSwift opened #332 "Fails to create documentation"
After parsing all the swift files it ends with the following message:

parsing ....

/Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.2/lib/jazzy/executable.rb:35:in `execute_command': /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.2/lib/jazzy/SourceKitten/bin/sourcekitten "doc"] (RuntimeError)

parsing...

from /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.2/lib/jazzy/sourcekitten.rb:128:in `run_sourcekitten'
	from /L

[2015-10-29 14:54] AfricanSwift commented on #332
Additional error, occurs first, followed by the rest.

/Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.2/lib/jazzy/executable.rb:35:in `execute_command': /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.2/lib/jazzy/SourceKitten/bin/sourcekitten ["doc"] (RuntimeError)

[2015-10-29 14:55] AfricanSwift commented on #332
First error, followed by the above.

/Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.2/lib/jazzy/executable.rb:35:in `execute_command': /Library/Ruby/Gems/2.0.0/gems/jazzy-0.3.2/lib/jazzy/SourceKitten/bin/sourcekitten ["doc"] (RuntimeError)

[2015-10-29 14:58] segiddins commented on #331
Looks to me like source kitten choked at some point?

[2015-10-29 18:42] mattgabor commented on #114
Thanks @jpsim, I am still having this issue. I run  `jazzy --swift-version 2.1 --min-acl --module TheGame`
and jazzy runs properly, but my docs are still empty. Just to confirm, is this the format I should be using to document my code?
[code]

[2015-10-30 21:27] pcantrell opened #333 "Members added to extension of nested type show up in the parent"
Realm adds a `description` extension to the nested type `Realm.Configuration`:

https://github.com/realm/realm-cocoa/blob/master/RealmSwift-swift2.0/RealmConfiguration.swift#L168-L173

…but Jazzy puts it on `Realm:`

https://github.com/realm/jazzy-integration-specs/blob/c14d4041795d0ab886977729e81afd92372b4e6b/document_realm_swift/after/docs/Extensions/Realm.html#L235-L264

[2015-10-30 22:17] pcantrell opened #334 "Sourcekitten does not return extension declarations"
For an extension of `A`, sourcekitten gives the original declaration of `A` instead of the extension declaration:

      {
        "key.kind" : "source.lang.swift.decl.extension",
        ...
        "key.annotated_decl" : "<Declaration>public final class List&lt;T : <Type usr=\"s:C10RealmSwift6Object\">Object<\/Type>&gt; : <Type usr=\"s:C10RealmSwift8ListBase\">ListBase<\/Type><\/Declaration>",

[2015-10-31 17:42] AfricanSwift commented on #332
This seems to be part of the same issue as [Illegal instruction: 4] (https://github.com/jpsim/SourceKitten/issues/75)

[2015-10-31 19:07] AfricanSwift commented on #332
This is a small rendition is what caused the SourceKitten crash.

extension NSColor {
    public var red: CGFloat {
        /// crash scenario -  This line crashes source kitten.
        let multiplier: CGFloat = 255.0
        return self.redComponent * multiplier
    }
}

[2015-10-31 22:45] orta opened #335 "Swift version and tvOS support"
Hello there, I spotted that a bunch of popular pods were failing with jazzy, as they were getting classed as a `2.0` project but were `2.1` because they supported tvOS, which requires a later build of Xcode.

I've made the conversion to default to `2.1` on CocoaDocs, but it might be prudent to do the same for everyone. More info: https://github.com/CocoaPods/cocoadocs.org/issues/399

[2015-10-31 22:53] segiddins commented on #335
Jazzy doesn't do any thinkin here. It has a default of 2.0, and any other version needs to be specified as an option.

[2015-10-31 22:59] orta commented on #335
Perhaps raise the default to 2.1 as that is now the version installed by the Mac App Store?

[2015-11-01 02:09] segiddins commented on #335
@orta I think we could accept a PR doing that 😉

[2015-11-02 05:13] mattgabor opened #336 "Docs not being generated with Xcode 7.1 and Swift 2.1"
Has anyone been able to successfully run Jazzy with Xcode 7.1 and Swift 2.1?

I run` jazzy --swift-version 2.1 --min-acl --module MyProject`
and jazzy runs properly, but my docs are still empty.

This is the documentation style I am using in my code:
[code]

[2015-11-02 05:35] segiddins commented on #336
You have to actually specify a minimum acl, as in `--min-acl internal`

[2015-11-02 05:49] mattgabor commented on #336
Sorry about that, thanks for the help.

[2015-11-02 05:49] #336 closed

[2015-11-02 23:58] jpsim commented on #330
Yes, but some changes would have to be made to SourceKitten to allow that. For example, instead of passing in `xcodebuild` arguments, SourceKitten would have to support passing raw swiftc arguments.

For now, I think the simplest solution would be to run jazzy *before* your CI server builds and tests your project.

[2015-11-03 00:07] jpsim commented on #335
I just cut SourceKitten "0.5.2: Grumpy Cat " with support for Xcode 7.1: https://github.com/jpsim/SourceKitten/releases/tag/0.5.2

Now, I'll be working on updating jazzy to use that as well as updating the integration fixtures too.

[2015-11-03 00:14] pcantrell commented on #328
It’s bugging me enough that I’m getting together a PR for what I described above to see how it plays out.

Lest you all catch up with merging my submissions.

[2015-11-03 00:40] jpsim commented on #335
PR in #338.

[2015-11-03 00:41] jpsim commented on #332
This was fixed in https://github.com/jpsim/SourceKitten/pull/79 and will be included in the next release of jazzy.

Thanks for taking the time to share details on what wasn't working for you!

[2015-11-03 00:41] #332 closed

[2015-11-03 00:48] jpsim commented on #335
Done.

[2015-11-03 00:48] #335 closed

[2015-11-03 00:49] jpsim commented on #331
@devxoul could you please share the contents of the Swift file that crashes jazzy? That should help us troubleshoot. Thanks!

[2015-11-03 00:50] jpsim commented on #114
@mattgabor that looks like an appropriate format. Please share *full* steps that I can follow to reproduce the issue you're having, otherwise it'll continue to be quite difficult for me to help you troubleshoot.

[2015-11-03 01:21] mattgabor commented on #114
I had to specify a min-ace with --min-acl internal, not just --min-acl

[2015-11-03 01:27] jpsim commented on #114
Ok, thanks for letting us know! That should be made clearer with #337.

[2015-11-03 06:28] pcantrell commented on #328
All right, so I have a draft implementation for this. It can auto-link siblings, top-level elements, and dot-separated chains:

<img width="738" alt="screen shot 2015-11-03 at 12 18 19 am" src="https://cloud.githubusercontent.com/assets/378162/10902260/c478306e-81c0-11e5-85bd-425ebc3a9fd0.png">

It allows a `(...)` for long parameter lists, and per the original implementation, does not link from a

[2015-11-03 07:21] devxoul commented on #331
@jpsim, I think it has been fixed in https://github.com/jpsim/SourceKitten/issues/75 and shipped with 0.5.2 release. Running `$ sourcekitten` with 0.5.2 works properly.

How can I use jazzy with SourceKitten 0.5.2? It seems that submodule is pointing the latest commit of SourceKitten, but I don't think the latest release of jazzy uses it. Should I have to build and run manually?

Thanks!

[2015-11-03 07:22] devxoul commented on #330
@jpsim, thanks for your answer. I'll check it +1

[2015-11-03 07:22] #330 closed

[2015-11-03 15:13] segiddins commented on #331
@devxoul for now you'll need to run jazzy from master, but I can imagine we'll be putting out a new release sometime soon.

[2015-11-03 17:20] segiddins commented on #158
Closing as unnecessary.

[2015-11-03 17:20] #158 closed

[2015-11-03 18:33] jpsim commented on #331
Closing as this is fixed on master. I intend to cut a jazzy release as soon as possible.

[2015-11-03 18:33] #331 closed

[2015-11-03 18:36] zolomatok opened #340 "ObjC support"
Not really an issue, just the Readme says ObjC support is coming soon. Any estimate on that? :O

[2015-11-03 18:41] segiddins commented on #340
See https://github.com/realm/jazzy/issues/56.

[2015-11-03 18:41] #340 closed

[2015-11-03 19:02] jpsim commented on #328
That looks good, @pcantrell!

[2015-11-03 19:04] jpsim commented on #56
Progress update, there's still more cleanup to do in https://github.com/jpsim/SourceKitten/pull/57 until we can officially ship Objective-C support with Jazzy, but I'm hoping to have that done by the end of this week.

Thanks for your patience.

[2015-11-03 20:13] zolomatok commented on #56
:+1: !

[2015-11-04 04:56] devxoul commented on #331
:+1:

[2015-11-04 10:48] toshi0383 commented on #56
:clap:

[2015-11-06 16:59] danthorpe commented on #335
Hi! Related to this issue, I'm trying to run jazzy from source using the latest master 155238c, on a framework which is Swift 2.1 and supports tvOS, including in its .podspec.

Executing it like this:

[code]

Which is a bit weird as I definitely have 0.39 installed. So did a bit of digging, and of course it's because the `Gemfile.lock` in the repo has `cocoa pods (~> 0.38)` so the instructions to

[2015-11-06 23:17] jpsim commented on #335
It looks like you should be providing a module name so that Xcode doesn't instead just build the dependency: `jazzy --swift-version=2.1 --module=Money`?

[2015-11-06 23:21] danthorpe commented on #335
Hi @jpsim, thanks for getting back to me,

I did also try passing in the module name, it doesn't change the crash/error or log.

Over the weekend, I'll see if I can make a project which reproduces the error. I've since been able to get jazzy to build a different project with the same command - so pretty sure it's the dependency/ aggregate target causing the problem.

[2015-11-10 05:49] jverkoey opened #342 "Generated docs html is escaped"
The docs generate fine. But for some reason the content has links to &lt;a href="../Enums/.html"> strewn about. I've ran this in Nimbus' `src/core/src` directory with the following arguments:

    jazzy --objc --framework-root . --umbrella-header NimbusCore.h --module NimbusCore --output docs

This is using the freshly-landed objective-c support (which is rad, btw) :)

![screen shot 2015-11-10 at

[2015-11-10 06:01] jpsim commented on #342
Whoa, that's a pretty crazy bug. I'm pretty interested in digging into this to see how this would even come to happen.

[2015-11-10 06:23] jpsim commented on #342
So it turns out that jazzy (well `libClang`, really) thinks that the name of the `NINimbusErrorDomainCode` enum is actually an empty string, which then leads the autolinker to match every word break as a reference to this empty string enum. Yay. This is a really funny bug. I'll keep you posted as I continue to investigate this. It should be pretty easy to fix.

[2015-11-10 06:30] pcantrell commented on #342
I have a PR coming to the autolinker that I think will fix the link-related portion of this.

[2015-11-10 06:32] jverkoey commented on #342
Happy to help find edge cases :)

[2015-11-10 07:25] #342 closed

[2015-11-10 07:38] jpsim commented on #342
This is now fixed. Thanks for reporting this funny bug. The remainder of the rendering issues are due to jazzy attempting to render your comment blocks as Markdown.

[2015-11-10 12:08] orta commented on #231
^ this can be closed, as it was merged.

[2015-11-10 15:12] #231 closed

[2015-11-10 16:32] jverkoey opened #345 "Can't select iOS SDK"
When I run the following:

    jazzy --objc --framework-root . --umbrella-header NimbusCore.h --module NimbusCore --output docs

This error is logged: `fatal error: 'UIKit/UIKit.h' file not found`

I'm not sure how to change the default SDK path, which appears to be the OSX SDK.

    /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk

I was able to

[2015-11-10 16:35] jpsim commented on #345
For the time being, you can specify the full clang arguments yourself like so:

[code]

But this is something I'll want to simplify soon.

[2015-11-10 17:47] jverkoey commented on #345
Ah hah, `xcrun --show-sdk-path --sdk iphoneos` is what I was looking for :) Those args worked, thanks!

[2015-11-10 17:47] #345 closed

[2015-11-10 18:23] jverkoey opened #346 "Is indirect documentation possible?"
This may be impossible, but in doxygen-land you can write documentation for an API that lives separate from the declaration of the API. For example:

[code]

I realize that jazzy uses Clang, so any features are limited by what Clang is able to do. I'm asking this more as a "is this even possible?" rather than a feature request :)

Assuming it's impossible at the Clang level (which I'm expecting),

[2015-11-10 23:33] jverkoey opened #347 "Asterisk wall interpreted as a list"
It's not uncommon to see comment blocks like

[code]

These comment blocks are interpreted as a ul, presumably by the markdown parser.

I realize Swift docs generally don't use the asterisk wall, but this presents somewhat of a challenge for the ObjC code that does :)

[2015-11-10 23:41] jpsim commented on #347
Ah, thanks for letting me know... I may be naïve, but I think solving this may be as simple as adding the asterisk to the whitespace and newline character set used here: https://github.com/jpsim/SourceKitten/blob/master/Source/SourceKittenFramework/String+SourceKitten.swift#L301-L319

What do you think?

[2015-11-10 23:48] jpsim commented on #346
It'd be possible to do this, but I'm not sure I'd want to. I'm not convinced that adding in the necessary complexity to make this happen would be worthwhile, to be honest.

[2015-11-11 00:28] jverkoey commented on #347
Oh, nifty! That sounds like exactly the place to fix this :) Lemme try putting together a PR quick.

[2015-11-11 00:47] jverkoey commented on #347
What was `lineLeadingWhitespace != line.characters.count` guarding against? I'm considering removing it because it causes empty lines like `_*` not to be considered (where _ is a space).

[code]

In that case `_*_` is being selected as the prefix.

[2015-11-11 02:09] jverkoey commented on #346
Cool, good to know. Thanks for the feedback!

[2015-11-11 02:09] #346 closed

[2015-11-11 02:10] #347 closed

[2015-11-11 04:48] jverkoey opened #353 "Is it possible to generate both the Swift and Objective-C signature for a token?"
Asking in case anyone knows the answer already, but digging in right now :)

[2015-11-11 05:16] jpsim commented on #353
The very very first version of jazzy used an internal binary to do this called `sourcekitd-test` that shipped with the first two betas of Xcode 6 IIRC: https://github.com/realm/jazzy/blob/0.0.4/bin/generate_swift_header.sh

This first version of jazzy was designed to just build docs for Objective-C headers with both Swift and Objective-C interface declarations.

When this private binary disappeare