[2016-06-20 18:57] colincornaby commented on #518
I've added a Github project for my issue:
https://github.com/colincornaby/JazzyMultiFolderFrameworkIssue

Should get something like this for output:
[code]

[2016-06-21 12:46] orta commented on #566
@dh-- you could expand out the .jazzy.yml to include theme config variables?

[2016-06-21 12:48] orta commented on #14
https://pspdfkit.com/blog/2016/adding-live-search-to-jazzy/

[2016-06-23 00:10] jpsim commented on #14
Hopefully @esad can upstream those changes back in here 😄

[2016-06-23 01:20] ewanmellor commented on #593
@GuoZhiQiang Do you have a space in your Xcode directory?  Is it something like "/Applications/Xcode 7.0"?  If so, try removing the space.  My guess is that `No rule to make target "/Applications/Xcode'` is indicating that the path has been chopped at the space.

[2016-06-24 00:29] steipete commented on #14
Yes - still scheduled. We're a bit swamped by other things but will open a PR hopefully soon.

[2016-06-26 10:18] hossamghareeb opened #599 "Group generated classes to be categorized"
After generating the documentation, under Classes I see a huge list of classes for my MVC. Is it possible to group them?, for example Model classes, View Controllers classes, .... etc. I already have groups for Enums and Extensions and don't know if its possible to add custom ones.

[2016-06-26 13:53] orta commented on #599
You can use custom_categories in your `.jazzy.yml` file to move types in to thier own categories: e.g https://github.com/ReSwift/ReSwift/blob/master/.jazzy.json#L15

[2016-06-27 11:29] thibaudrobelain opened #600 "Using --abstract completely overwrites the existing abstract for non-custom categories."
The README states "Using the --abstract options, extra markdown can be included after the heading of section overview pages. Think of it as a template include."

Currently, it works fine if you're providing .md files for entirely new sections, but if you provide say "MyClass.md", it will overwrite the existing abstract for MyClass with the .md one instead of simply appending it at the end.

I'm as

[2016-06-27 11:39] agentk commented on #600
That's a good catch @thibaudrobelain, I had only ever thought of it as a fix for custom sections not having an abstract. I think appending the existing content should be the correct behaviour. I don't see much point in adding an option to choose between behaviours.

I would be interested to see what anybody else using the --abstract option has run into too.

[2016-06-28 06:16] ashishkarna commented on #255
jazzy --min-acl internal

Running xcodebuild
Could not parse compiler arguments from `xcodebuild` output.
Please confirm that `xcodebuild` is building a Swift module.
Saved `xcodebuild` log file: /var/folders/0h/7_n82hbn4rxgr5ngmhvjgvd80000gp/T/xcodebuild-7A035436-70E9-4DE1-9124-A45056593C0A.log
Failed to generate documentation
/Library/Ruby/Gems/2.0.0/gems/jazzy-0.7.0/lib/jazzy/executable.rb:36:i

[2016-06-28 11:16] douglasalexandre commented on #255
@ashishkarna  You can try to delete the folder `/docs` into project and run again jazzy` --min-acl internal`.

[2016-06-28 12:11] vnramachandra opened #602 "Source code alignment issue in swift."
Hi Jazzy Team,

      We are very much happy on jazzy eased our work for documenting Objective-C and Swift code. We are making use of the awesome features that jazzy offers.

     I would like to bring it to your notice on some minor changes with respect to swift code documentation.
Please find the attached snapshot herewith which depicts the support needed.

<img width="1434" alt="screen shot 201

[2016-06-28 12:53] gretzki commented on #518
I ran into the same issue and have fixed this issue (according to @jpmhouston's idea) in the following PR  https://github.com/realm/jazzy/issues/518.
Works for me now, so check it out.

Cheers,
Chris

[2016-06-28 13:38] benrudhart commented on #518
@gretzki sound's great - have to check that later. I think you're speaking of PR #603

[2016-06-28 14:33] gretzki commented on #518
Yeah, you're right. Fixed my comment.

[2016-06-29 23:19] ksumman opened #604 "Runtime error when running Jazzy for unit tests target"
I'm trying to use Jazzy to generate documentation for a unit-tests target in my Xcode project. This target has only Objective-C files.

Here are a couple of commands I've tried:

[code]

Unfortunately these commands result in this runtime error:

[code]

Is anyone else running into a similar issue? Please let me know if I am using correct options in the command.
Thanks in advance for your help.

[2016-07-03 01:03] agentk opened #605 "New Apple docs style theme"
Now that Apple has updated the documentation site style, does anybody want to see a Jazzy theme with a similar style?

It would be interesting to build it as a React based theme which loads all of the documentation as a chunk of JSON and doesn't need page reloads (not that jazzy sites are slow). This would also make searching fairly straight forward too. Jazzy already has all the moving parts it n

[2016-07-03 01:06] agentk commented on #602
Also for reference the link for the docs in the image is:

http://pyze.com/api/iOS/Classes/Pyze.html#/c:objc(cs)Pyze(cm)showInAppNotificationUI:forDisplayMessages:msgNavBarButtonsTextColor:msgNavBarButtonsBgColor:msgNavBarBgColor:msgNavBarCounterTextColor:withDelegate:

[2016-07-03 01:30] agentk commented on #602
Based of looking at Apple's new docs (https://developer.apple.com/reference/uikit/uiview/1622418-animatewithduration), they are creating manual line split at render time based on the browser width.

<img width="559" alt="screen shot 2016-07-03 at 11 24 45 am" src="https://cloud.githubusercontent.com/assets/117041/16543306/f4558ac4-4110-11e6-9896-216fc1c74ee3.png">

This is going to be VERY hard to

[2016-07-06 10:50] GuoZhiQiang commented on #593
As I said above，I have installed two versions of Xcode. When I remove One of the Xcodes, jazzy installed successed.

[2016-07-06 11:13] GuoZhiQiang commented on #593
I suppose because of I have installed two versions of Xcode, One name of the Xcodes is `Xcode`, Another name is `Xcode2`(the high version's name). That lead to *jazzy* cannot adapt itself( it may be puzzled on  which one to depend)

[2016-07-06 12:53] jpsim commented on #593
This shouldn't happen.

[2016-07-08 08:08] GuoZhiQiang commented on #593
But it happened. I don't know why

[2016-07-08 14:01] jpsim commented on #593
It seems more likely that one of the versions of Xcode you previously had installed isn't compatible with the version of ruby or redcarpet you were installing.

[2016-07-09 03:24] GuoZhiQiang commented on #593
My system is OS X 10.11.2, the ruby's version is 2.0.0（2015-04-13 revison 50299）. And the versions of Xcode I previously had installed are Xcode7.0 and Xcode7.3. But I can hardly to know this may effect the jazzy

[2016-07-09 16:28] arikis opened #606 "Failed to build Swift documentation even though build finished successfully"
Software versions:

[code]

I'm building documentation for a Swift framework with following xcodebuild arguments in `.jazzy.yaml`:

[code]

I also pass `--swift-version 2.2` and `--clean` arguments to `jazzy`. However, process fails and outputs following:

[code]

What is strange is that build finishes successfully, judging by the `.log` file from the `xcodebuild` output.
[Link to the Gist](https:

[2016-07-12 09:37] loretoparisi commented on #570
@jpsim this issue was closed, but it is still an issue on `El Capitan`. I got the same error:

[code]

so which is the official solution?

[2016-07-12 10:20] agentk commented on #570
@loretoparisi Can you check too see if `/Users/admin/bin` IS in your PATH?

What does `echo $PATH` produce?

Also are you only using the system ruby? Again: `which ruby; ruby --version`

To see if it helps, before `gem install jazzy --user-install -n~/bin`
Try: `PATH="$HOME/bin:$PATH"`

You would still need to add the PATH command to `~/.bash_profile` if it works to make it permanent.

[2016-07-12 12:32] agentk commented on #606
It looks like sourcekitten is being run from the directory jazzy is run from. Which would be the correct behaviour. How is sourcekitten supposed to know that you are not in the folder with the xcodeproj?

The way I've been handling it with ReSwift (and my preferred way of building docs) is just with a build script that changes to the folder containing xcodeproj first, then popping at the end.

Ie,

[2016-07-12 12:35] agentk commented on #602
@vnramachandra Have you tried running jazzy with the default theme? How does the output alignment compare? Would this be a better option for you use case?

[2016-07-12 12:43] agentk commented on #599
@hossamghareeb Have you had any progress trying custom categories?
For documentation maintenance, Jazzy provides good command line output to indicate when a class has changed and is missing from the .jazzy.json file.

[2016-07-12 12:45] agentk commented on #597
Hi @YinChangDao if the documentation you are generating for an open source library? Or are you able to put together the smallest possible demo test case?

[2016-07-12 12:53] agentk commented on #593
Hey @GuoZhiQiang.
Have you tried updating ruby? Ie, `brew install ruby`
Jazzy from stock install activesupport which requires ruby 2.2.2.
I've just installed it successfully from a clean system after installing brew and ruby (2.3.1).

[2016-07-12 14:20] YinChangDao commented on #597
Hi @agentk I'd like to generate a documentation for my open source library. After I used jazzy, there are both Objective-C and swift API references in the index.html file. But I hope there is Objective-C API reference alone. Do you know what should I do?

[2016-07-12 14:32] agentk commented on #597
I don't have any idea without seeing what's going on in your case.

I haven't dealt with a library generating both objc and swift personally, but having an example project of the issue or your specific library would be REALLY helpful to see more about what's going on.

[2016-07-12 14:59] YinChangDao commented on #597
Thanks for your reply, for I didn't have that case in my hand, tomorrow I will post the screenshot of the index.html file. @agentk

[2016-07-12 15:29] herzi opened #607 "Incomplete Enum Comments causing Misleading Documentation"
I have an enum type with 90%+ if the enum values being very self-explanatory, so I only documented the important ones like this:

    /// This is a good type.
    typedef NS_ENUM(NSInteger, MyEnum) {
        // This is completely self-explanatory and thus, won't get a doc-comment.
        MyEnumFirst,
        /// This is a very special second value.
        MyEnumSecond,
        // This one, again

[2016-07-12 15:48] ort11 opened #608 "Fatal Issue, Can not find UIKIT for objective C project"
XCODE 7.3.1
Jazzy 0.7.0

Have been using for SWIFT build fine, trying to get to work with an Objective C Build.

jazzy \
--objc \
--umbrella-header MediumSDKObj-C/AppDelegate.h
--sdk iphoneos \
--clean \
--author "Author" \
--copyright "Copyright" \
--xcodebuild-arguments '-project,mediumSDKObj-C.xcodeproj,-scheme,mediumSDKObj-C' \
--min-acl internal

Output

fatal error: 'UIKit/UIKit.h' file not

[2016-07-13 05:40] hossamghareeb commented on #599
@agentk I used custom_categories inside `.jazzy.yml` and I got the job done. It was pretty easy

[2016-07-13 08:12] danielbowden opened #609 "Swift interface for Objective C header AnyObject!"
I've just documented an Objective C framework and noticed the Swift interfaces in the Jazzy output docs for these Objective C headers to be different to what I was expecting. Most data types are listed as `AnyObject!`

From this PR jpsim/SourceKitten#95 and realm/jazzy#530 it seems like this is supported so I'm thinking I might be missing some modern ObjC syntax to have the headers be parsed nicel

[2016-07-13 12:28] agentk commented on #599
I'm happy you found a solution. I'll close this for now. Feel free to reopen if it's still an issue. 👍

[2016-07-13 12:28] #599 closed

[2016-07-13 12:33] agentk commented on #566
Hey @dh--, have you made any progress with the theme? For ReSwift I only needed some preprocessing of the markdown files. I will look at creating a React based frontend soon to alleviate some of the need for template parameters, but it won't encompass every requirement or be a quick project.

[2016-07-13 12:38] agentk commented on #565
Hi @ad-van-erp, have you made any progress with using `--abstract`?

We are using it actively on ReSwift if you want to see a reference. The files from `Docs/*.md` have some simple string replacement done on them before being copied into `Docs/tmp/api/` and running `jazzy`.

https://github.com/ReSwift/ReSwift/blob/master/.jazzy.json#L11
https://github.com/ReSwift/ReSwift/tree/master/Docs

[2016-07-13 12:56] ianpartridge opened #610 "Cannot use --swift-version with swift.org toolchain"
[code]

However, this does work:

[code]

I would like to be able to use a swift.org toolchain with `--swift-version`, or `swift_version:` in `.jazzy.yml`

[2016-07-13 22:51] marioarbras opened #611 "Feature request: Support Swift Markdown documentation syntax with Objective-C and C++ code"
It would be interesting if we could use Swift Markdown documentation syntax with Objective-C and C++ code, assuming that the code can be compiled with Clang.

[2016-07-14 01:00] negebauer commented on #439
I'm having the same issue with my pod
I found that this piece of the `podspec` triggers the run of `xcodebuild`  multiple times
[code]
If I change it to this
[code]
`xcodebuild` runs only one time and the warnings aren't generated

[2016-07-14 03:22] segiddins commented on #593
@agentk you can just `gem install activesupport -v '< 5'`

[2016-07-14 03:24] agentk commented on #593
Oh. That tip will come in handy thanks @segiddins !!

[2016-07-14 03:25] segiddins commented on #610
@ianpartridge what's the output of `swift -version` using the custom toolchain via `xcrun`?

[2016-07-14 06:26] codeOfRobin opened #612 "Class documentation missing"
Jazzy doesn't seem to be documenting the classes in my workspace properly.

The command I'm running is: ` jazzy --xcodebuild-arguments '-workspace,todoApp.xcworkspace/,-scheme,todoApp' -m 'todoApp'`

If I look in `undocumented.json`, it seems to only pick up enums and global constant variables.

I've read that the modules need to be made public for it to work, any clues on how to do that?

[2016-07-14 06:33] codeOfRobin commented on #612
Well, adding a bunch of `public` ahead of functions and classes seems to have helped. But is there a better way? Arbitrarily appending `public` to everything in my project seems like a bad idea, architecture wise.

[2016-07-14 08:39] ianpartridge commented on #610
[code]

[2016-07-14 09:18] alexmx commented on #609
I'm experiencing the same issue with jazzy for Obj-C projects. I've tried on versions: 0.6.2 and 0.7.0.

Configuration: `jazzy --objc --umbrella-header "MyLib/MyLib.h" --framework-root "." --sdk iphonesimulator`

The doc set is generated successfully without any errors or warnings.

But parameter types are not translated properly for swift interface:
[code]

[2016-07-14 09:46] GuoZhiQiang commented on #593
Thanks all of you, as I have said above, i just had Xcode7.0 removed. Then Jazzy was installed successed（I have not  updated ruby）. Do you mean that I can just have ruby updated（ if I don't remove the Xcode） and Jazzy will be installed successed? @agentk

[2016-07-14 10:18] agentk commented on #593
It's an odd error that I'm not able to replicate. So this is a bit of stabbing in the dark. The tip from @segiddins is spot on for installing jazzy with the stock ruby. I wonder if it's to do with the selected Xcode?

To check which of the versions is selected use:
[code]
And double check with
[code]

I'm wondering if the latest Xcode needs to be selected for you to install jazzy. You can switch t

[2016-07-14 10:26] sh-a-n commented on #407
same error. Please fix this issuer.

[2016-07-14 13:11] codeOfRobin commented on #612
Never mind. Changing the `min-acl` worked. I should get better at reading docs 😅

[2016-07-14 13:11] #612 closed

[2016-07-14 14:04] segiddins commented on #610
So if you specify `3.0-dev` as your swift version, does that work?

[2016-07-14 14:10] ianpartridge commented on #610
No.

[code]

[2016-07-14 14:21] YinChangDao commented on #597
Hi @agentk I just wrote a test demo. Here I post the result screenshot in which the problem can be shown.
![Uploading IMG_2470.PNG…]()
![Uploading IMG_2467.PNG…]()
![Uploading IMG_2468.PNG…]()
![Uploading IMG_2469.PNG…]()

[2016-07-14 15:04] YinChangDao commented on #597
Hi @agentk I just wrote a test demo. The problem occurs, but I can't post the result screenshot, it always remind me that the server can't process my picture file. Here is my code.
 `@interface Header : NSObject

/**
 *  Signal quality.
 */
typedef struct
{
    /**
     *  Signal quality range [0, 100].
     */
    uint8_t quality;
} SignalQualit;

/**
 *  The connectivity status of the device.
 *

[2016-07-14 15:13] YinChangDao commented on #597
Hi @agentk I just wrote a test demo. The problem occurs, but I cannot upload the result picture, the server always remind me that it cannot process my picture file. Here is my code in header file.
@interface Header : NSObject

/**
 *  Signal quality.
 */
typedef struct
{
    /**
     *  Signal quality range [0, 100].
     */
    uint8_t quality;
} SignalQualit;

/**
 *  The connectivity status of

[2016-07-14 15:22] YinChangDao commented on #597
Hi @agentk I just wrote a test demo. The problem occurs, but I cannot upload the result picture, the server always remind me that it cannot process my picture file.
``
@interface Header : NSObject

/**
 *  Signal quality.
 */
typedef struct
{
    /**
     *  Signal quality range [0, 100].
     */
    uint8_t quality;
} SignalQualit;

/**
 *  The connectivity status of the device.
 */
@property (as

[2016-07-14 15:23] YinChangDao commented on #597
Hi @agentk I just wrote a test demo. The problem occurs, but I cannot upload the result picture, the server always remind me that it cannot process my picture file.
[code]

[2016-07-14 15:24] YinChangDao commented on #597
Hi @agentk I just wrote a test demo. The problem occurs, but I cannot upload the result picture, the server always remind me that it cannot process my picture file.
[code]
My jazzy command:
jazzy --objc --clean --umbrella-header Header/Header.h --framework-root . --output jazzy/doc

[2016-07-18 15:48] vnramachandra opened #613 "Multiple markdowns support"
Hi Jazzy Team,

Could you please brief me about how to use multiple markdown files while creating docs?

I have multiple markdown .md files and I would want jazzy to generate seperate HTML files for each markdown. In current project we are using below option,

[code]

If we keep two markdown files under folder, it picks up the only one file instead of both.

   is this possible and available? Plea

[2016-07-18 15:55] vnramachandra commented on #602
@agentk  If I used default theme [apple], the content sometimes get's clipped, so I am using 'fullwidth'.

[2016-07-18 18:04] jpsim commented on #610
I recommend using `TOOLCHAIN_DIR` for now.

[2016-07-18 23:54] rbonestell commented on #499
I am experiencing the same symptoms with my project which has an umbrella header referencing files in other folders as well. However, I moved all files referenced by the umbrella header into the same folder as the umbrella header and it did not resolve the issue.

Subscribing to this issue for updates!

[2016-07-19 11:34] narlei commented on #14
 Search is very important to a documentation.
![screen shot 2016-07-19 at 08 14 44](https://cloud.githubusercontent.com/assets/8092922/16948531/a3c50b8e-4d8b-11e6-8bd5-9fcfc317fa3e.png)

[2016-07-19 19:42] seanh-spindance opened #614 "First run fails.. Bad setup?"
Not exactly sure what's wrong here. Any ideas?

[code]

[2016-07-19 22:48] PumpMagic commented on #550
This is caused by invoking Jazzy with a nonexistent custom theme. It's worth noting that the Jazzy readme's example command uses a custom theme, so new users pasting example commands without too much thought will experience this.

Sorry to necromance, but I experienced this myself and came here from a Google search, thought it might be useful for others.

[2016-07-20 10:06] riksof-arqam opened #615 "How to document the parameters like response: Response<AnyObject, NSError> etc?"
How to document the parameters of the following functions?

1.
 /// - Parameter response: Response<AnyObject, NSError>
func myFunction(response: Response<AnyObject, NSError>) {
       // function body
}

2.
func search(searchTerm: String, searchCategory: String, callback: (Response<AnyObject, NSError>) -> Void ) {
        Alamofire.request(.GET, Constants.apiSearchUrl, parameters: ["searchTerm": s

[2016-07-20 10:14] riksof-arqam opened #616 "How to fix "type_body_length" and "file_length"?"
Warnings are as follows:

warning: Type Body Length Violation: Type body should span 200 lines or less excluding comments and whitespace: currently spans 203 lines (type_body_length)

 warning: File Line Length Violation: File should contain 400 lines or less: currently contains 420 (file_length)

[2016-07-20 12:58] p2 opened #617 "Support including multiple files called `README.md`"
This is related to #565 and #556 with one difference: all files I'd like to include are named `README.md`.

To be compatible with the Swift Package Manager, modules of our framework live in `/Sources/Module` directories, and each of those directories contains a README file so it displays nicely on GitHub. I have a jazzy configuration that basically replicates this setup using `custom_categories`,

[2016-07-20 19:13] jpsim commented on #545
Closing as a duplicate of #190.

[2016-07-20 19:13] #545 closed

[2016-07-21 10:41] ilandbt opened #618 "Separating UIViewControllers into its own group"
Hi,
I creating an internal documentation for a team.
So i want them to be able to see the UIViewControllers in a separate group (like enums, classes, ect')
Is there a way to do this?

Thanks

[2016-07-22 05:42] yeluolei commented on #608
same issue with the same environment. and the error include such things

[code]

[2016-07-22 21:11] ort11 opened #619 "jazzy version: 0.7.0, can't get --exclude to ignore files"
Putting in the full file spec / path / name but jazzy is still include the file / class in the docs

Have tried /*, /filename.swift, etc.

Any help would be appreciated.

[2016-07-23 22:23] aramikg opened #620 "some extensions render as undocumented"
I have a few extension that are being generated just fine but then also some that are being generated as undocumented.

Undocumented extensions:
- UIBarItem
- UIBarButtonItem
- UIViewController

sourcekitten 0.13 and 0.7 version of jazzy

[2016-07-25 17:57] jpsim commented on #614
Looks like you might have too new of a `json` gem version. Try uninstalling the `json` gem, and re-installing `jazzy`? Roughly:

[code]

[2016-07-25 23:20] narlei commented on #608
Same issue here.

[2016-07-26 12:10] seanh-spindance commented on #614
That worked! Thanks!

[2016-07-26 12:10] #614 closed

[2016-07-26 23:19] jpsim commented on #609
What happens when you generate the Swift interface for your projects in Xcode @danielbowden @alexmx? Jazzy uses the same mechanism, so if the interface generated by Xcode is the same as what jazzy is rendering, then you should file a bug at bugs.swift.org to improve this interface generation in Swift/SourceKit itself.

[2016-07-26 23:20] jpsim commented on #616
Pretty sure you meant to file this on the SwiftLint repo, no jazzy.

[2016-07-26 23:20] #616 closed

[2016-07-26 23:20] jpsim commented on #618
`custom_categories`

[2016-07-27 02:48] liuxuan30 opened #621 "Is there any guide that can take jazzy docs into Dash docset easily?"
Hi there,
Great project. Now I generated the docs using jazzy, and want to put it in Dash docset, so other people can download it via dash. However I don't see a clear steps doing so.

I just want to follow what Realm did for the dash here:https://realm.io/docs/swift/latest/api/

How can I do it like that?

To be more specific, I am stucking at

[code]

and further from Docset Generation Guide
Doe

[2016-07-27 03:11] liuxuan30 opened #622 "Can't generate docs given a project file"
I want to create docs for https://github.com/liuxuan30/Charts/tree/APIDocs/

The structure looks like:
root
____|ChartsRealm/ChartsRealm.xcodeproj
____|Charts/Charts.xcodeproj

I was able to go to the sub ChartsRealm folder and run jazzy, it produces docs perfectly;

However, if I run jazzy at root folder, with below command:
`jazzy --xcodebuild-arguments -project,ChartsRealm/ChartsRealm.xcodeproj

[2016-07-27 05:38] liuxuan30 opened #623 "Support for generating docs that contains several projects?"
Please take a look at https://github.com/danielgindi/Charts which I am trying to add docs
This project contains several folders like Charts, ChartsDemo, ChartsRealm, and each sub folder contains a Xcode project.

The exception is, ChartsDemo Xcode project will include Charts and ChartsRealm Xcode project.

I tried to generate jazzy doc under ChartsDemo, which I guess could include both Charts and

[2016-07-27 06:50] ilandbt commented on #618
Thanks,
Where can i find more information about custom_categories?

[2016-07-27 09:18] alexmx commented on #609
@jpsim Xcode generated interface looks fine:

[code]

[code]

Jazzy generates:

[code]

I observed that only `Foundation` types were translated wrong for my project, so I have fixed the issue by explicitly importing `Foundation` in the source files for which the generated interface was wrong.
However I don't need this import as I'm importing the `UIKit` which exposes the foundation classes.

So Ja

[2016-07-27 16:25] segiddins commented on #621
jazzy already should be creating a dash docket for you

[2016-07-27 23:56] jpsim commented on #609
@alexmx if you can share a sample project and exact steps to follow in Xcode that can generate a Swift interface for an Objective-C project that's different than the one jazzy generates, I can look into this more, reverse engineering what Xcode does and identifying what we may be doing differently.

[2016-07-28 00:03] jpsim commented on #618
There's some minimal documentation in the README: https://github.com/realm/jazzy/blob/master/README.md

The integration tests contains a project that uses custom categories: https://github.com/realm/jazzy-integration-specs/blob/master/misc_jazzy_features/before/.jazzy.yaml

And a GitHub search for `custom_categories filename:.jazzy.yaml` reveals many projects using jazzy with custom categories: ht

[2016-07-28 00:53] liuxuan30 commented on #621
@segiddins I don't see it under docs, where is it? Or what parameter should I use?

[2016-07-28 00:58] jpsim commented on #621
it's generated in `docs/docsets`, for example: https://github.com/realm/jazzy-integration-specs/tree/master/misc_jazzy_features/after/docs/docsets

[2016-07-28 01:00] liuxuan30 commented on #621
where.. I do see the docsets folder, but it's empty

[2016-07-28 01:03] jpsim commented on #621
That's not normal. Please share steps to reproduce your issue and we'll look into it to determine why the docset isn't generated.

[2016-07-28 01:15] liuxuan30 commented on #621
simply download https://github.com/danielgindi/Charts, go to ChartsRealm folder and type jazzy.

I do see some warnings, like:
[code]
But I was able to see the html files

[2016-07-28 01:40] liuxuan30 commented on #618
@jpsim one more question, it seems like custom_categories does not support reg expression?
Let's say I have many classes with some prefix: some starts with Line, some starts with Bar.
I want to group them into Line Type and Bar Type,
[code]
It won't have any effect. Instead, I have manually list all the classes. Am I wrong?

[2016-07-28 02:14] liuxuan30 opened #624 "support nested custom_categories"
Asking for support of nesting custom_categories:
For example:
[code]

[2016-07-28 03:40] agentk commented on #621
@liuxuan30 It may not be able to infer the target URL for the docset.

Are you specifying the `--root-url`, `--dash_url` and `--module` when calling `jazzy`?

[2016-07-28 04:09] liuxuan30 commented on #621
@agentk I don't specify anything, do I need to specify --dash_url?

[2016-07-28 04:12] agentk commented on #621
`dash_url` is mandatory. If you have a look at the templates, they don't output a dash link unless `dash_url` is passed to the template.
https://github.com/realm/jazzy/blob/master/lib/jazzy/themes/apple/templates/header.mustache#L7-L9

[2016-07-28 04:48] liuxuan30 commented on #621
I just did a quick test, if I specify dash_url with some random url, the docset folder is still empty.

[2016-07-28 09:25] alexmx commented on #609
@jpsim Sure.

I've made a sample project where I'm able to reproduce the issue with `UIKit` types.

[TestProj.zip](https://github.com/realm/jazzy/files/388010/TestProj.zip)

Inside the root folder is the script `generate-docs.sh` which invokes `jazzy`.

This is a screenshot from my Xcode where you can see the Swift generated interface.
![screen shot 2016-07-28 at 9 31 28 am](https://cloud.githubus

[2016-07-28 12:23] danielbowden commented on #609
Thanks for continuing this @alexmx, I've been caught up

[2016-07-28 14:52] csauvage opened #625 "Problem generating docs for App and Watch Extension"
Hi everybody & maintainers.

I'm stuck in a problem while generating docs for my project :

Here is the project structure :
- **Project**
  - _AppConseiller_
- **Targets**
  - _AppConseiller_
  - _AppConseillerTest_
  - _AppConseillerUITest_
  - _AppWatchConseiller_
  - _AppWatchConseiller Extension_

I'm trying to generating docs for the apps but when I'm running `$ jazzy`
It runs successfully bu

[2016-07-29 07:33] vnramachandra commented on #613
Hi Jazzy team,

Any update on this?

Thanks,
Ramachandra V N.

[2016-08-01 15:15] preraksola opened #627 "xcodebuild successful, but no docs"
When I run the command `jazzy` from my project's root directory, I get the error `Could not parse compiler arguments from`xcodebuild`output.` in the console. But in the log file, I could see that xcodebuild command was executed sucessfully.

I am using following config in my `.jazzy.yaml` file:

[code]

[xcodebuild-4AB3D10E-97C4-48B0-A4E0-E61FEEC9E73A copy.txt](https://github.com/realm/jazzy/files

[2016-08-01 18:29] blochberger opened #628 "Example Swift code can not contain blank lines"
I documented example usage of a function by providing Swift code with

[code]

And the output is something like

It works fine in the `README.md` file I use as the appendix.

[2016-08-01 18:39] blochberger opened #629 "Swift code formatting does not work properly for some callouts"
I tried to document postconditions with the `postcondition` callout, providing example Swift code for assertions for the documented postconditions:

[code]

This works fine in Xcode, but renders incorrectly with `jazzy`:

If I add another new line before the code example, like:

[code]

The output looks like:

Note that the output is no longer in the block describing the postcondition.

[2016-08-01 21:31] blochberger commented on #141
Interestingly if you have a documented class declaration and an undocumented member function, then the class declaration is shown as declaration for the member function, which is just erroneous:

[code]

The class documentation will render as:

and the member function declaration of `doSomething()` will render as:

Adding an empty documentation explicitly will show the correct declaration, but wil

[2016-08-01 22:01] blochberger opened #630 "Example Swift code can not contain string interpolation"
Documenting a function providing example code renders incorrectly if the example code contains string interpolation:

[code]

Which will render as:

Where the quotation is done by HTML quotes:

[code]

This issue does not arise when using i.e. `README.md` as abstract. There the quotation marks are rendered as characters as appearing in the source code `"`.

This might be related to #628.

[2016-08-01 22:28] blochberger opened #631 "Swift documentation can not contain bold code"
I try to use the following markdown in a Swift documentation comment:

[code]

Which will render as:

I would expect it to be rendered as:

So there is no way to render a text bold and monospaced at the same time.

This works in a `README.md` used as abstract.

[2016-08-02 22:13] jpsim commented on #622
I haven't had the chance to look into this, or to confirm the bug, but labelled it as such so I can reprioritize when I have some time.

[2016-08-03 10:34] blochberger opened #632 "List of todos"
In [Doxygen](http://doxygen.org) you have the possibility to export a list of todos, which is quite useful. Would be nice if `jazzy` would support something similar.

[2016-08-05 13:40] ds1239 commented on #621
I'm having this issue too.

[2016-08-05 23:29] AndyIbanez opened #633 "Jazzy won't parse symbols that have the @available attribute."
It looks like Jazzy cannot currently parse symbols that have the @available attribute.

I currently have something like this:

[code]

Jazzy will treat it as an error and not process it. Removing the @available attribute will let it generate the documentation fine.

[2016-08-08 13:41] vnramachandra commented on #613
For your reference, I am here by attaching sample for further details. Please do let me know If I could do anything to troubleshoot this issue and also let me know about how to read multiple markdown files support.
[TestApplication.zip](https://github.com/realm/jazzy/files/406901/TestApplication.zip)

[2016-08-09 00:55] kh4iri opened #634 "Can jazzy generate all files include alamofire,chart and myproject.xcodeproj into one display html?"
Hello,
I have a problem. I try using jazzy to generate html of all files that include alamofire, chart and myproject into one html display. I try using code `jazzy`--min-acl-internal` but display on html show about alamofire and other files and other project do not show in html. How can i generate all files into one html display output like doxygen?

Sorry My English Is Bad.

[2016-08-09 22:46] pcantrell opened #635 "Doc truncated after "Example:""
The docs for this method:

https://github.com/bustoutsolutions/siesta/blob/1.0-beta.8/Source/ConfigurationPatternConvertible.swift#L36-L57

…get truncated in Jazzy’s output:

http://bustoutsolutions.github.io/siesta/api/Extensions/String.html#/s:FE6SiestaSS20configurationPatternFCS_7ServiceFCSo5NSURLSb

Xcode picks it all up correctly:

<img width="553" alt="screen shot 2016-08-09 at 5 44 22 pm" s

[2016-08-10 13:19] p2 commented on #233
FWIW, Xcode 8b5 now allows to move these into the type bodies, wohoo!

[code]

[2016-08-12 13:11] TitouanVanBelle opened #636 "error: use of '@import' when modules are disabled"
I am running into these errors when running the following command

[code]

I checked and modules are enabled for the target

[code]

I am using the following version of jazzy

[code]

I created a simple project that can reproduce the issue
https://github.com/TitouanVanBelle/JazzySampleProject

[2016-08-12 22:44] garricn commented on #619
Really enjoying our first time using jazzy, but this is also happening to us (me & @n4tr0n)

[2016-08-12 23:39] lloydsargent commented on #605
As long as I don’t have to click on something to see the doc, it would make me really happy. Right now I have to click on everything in order to find what I want. Very irritating.

[2016-08-14 00:04] lloydsargent commented on #605
Okay, I’ve modified the CSS file. But to make it easier, I went ahead and made it its own theme. You can find it here.

https://github.com/lloydsargent/JazzyThemeMod

[2016-08-15 14:58] seivan commented on #619
Not just files, but also directories.
This is what we've tried with:
[code]

[2016-08-16 02:22] samsonjs opened #637 "Docs for methods include parameters and returns asides in the abstract, and once again after that"
version 0.7.0

A screenshot probably describes this best:
![example output](https://samhuri.net/f/jazzy.png)

You can see that the docs for `a()` says: "Does stuff - x: foo - y: bar - Returns: something" ... if I have an empty line in between it's formatted as a nice aside, but still duplicated. It looks like there were some changes around this code last summer: https://github.com/realm/jazzy/comm

[2016-08-16 05:43] seivan opened #638 "Should using a podspec automatically call 'install'?"
I'd like to use the podspec for share content like licence, git_url and etc. Not necessarily cloning and trying to generate a documentation for it.

Is there a way to disable that, if not, would that be interesting to have?

[2016-08-16 15:03] segiddins commented on #638
It should just pull metadata from the podspec if the podspec is in the current directory and you don't specify the `--podspec` option

[2016-08-16 18:08] kylebrowning commented on #487
This would be a great feature as I have a framework with no Xcode project.

[2016-08-17 01:14] skyline75489 opened #639 "Jazzy should ignore properties annotated with NS_UNAVAILABLE"
Sometimes we don't want to expose certains methods and using `NS_UNAVAILABLE` like this:

[code]

It's clear that we don't want these methods to be available to users. Yet jazzy still marks these as `Undocumented`.

[2016-08-17 01:19] seivan commented on #638
@segiddins What if it isn't in the current directory? It's the json format, not ruby.
I can move things around, so this issue could be closed but why is installing the default behaviour, it wasn't expected on my end.

[2016-08-17 03:20] segiddins commented on #638
Installing is only done when using the `--podspec` option

[2016-08-17 03:22] seivan commented on #638
@segiddins specifying the podspec path is also using ```--podspec```

[2016-08-17 22:04] lloydsargent commented on #602
I’ve created a theme that looks very similar to the Apple doc (as of Aug 2016). I actually only changed the CSS, but to make it easier, I went ahead and made it its own theme. You can find it here.

https://github.com/lloydsargent/JazzyThemeMod

It is set to wrap on full words. So you get something like this:

![____untitled](https://cloud.githubusercontent.com/assets/1956960/17754761/b192bd48-649

[2016-08-18 10:17] mobdim commented on #559
I also get an error when adding:
`objc: true`
in .jazzy.uml

`Unrecognized arguments: -awrpcosek, -semch`

[2016-08-19 19:00] colincornaby opened #641 "Jazzy overgrabs for headers"
In my project Jazzy is using pragma marks and comments for previous sections for decorating headers in the class page. You can see the issue with some Realm's documentation here.
https://realm.io/docs/swift/latest/api/Classes.html

Is there a workaround for this issue?

[2016-08-19 21:17] radutzan commented on #619
Same. Using the following statement on my .jazzy.yaml file:

    exclude:
      - Project/File.swift
      - Project/Directory/*

[2016-08-20 18:40] teo029 commented on #259
I need to add:

Whitespaces are replaced with underscores. Words are not concatenated.

[2016-08-23 07:35] JanC commented on #368
Hi,
I'm also looking for a way to include code snippets in the documentation. As mentioned the `@code` and `@endcode` do not work. When I use the markdown
[code]
 the generated jazzy html formats correctly the code but not Xcode when I option click on a method.

[2016-08-24 05:51] poborin opened #642 "links to referenced objects"
Is it possible to reference objects from external frameworks in Objective-C?

Lets say I have a framework **A**, that depends on framework **B**. Dependency management leveraged by [Carthage](https://github.com/Carthage/Carthage). My class **Foo** from framework **A** inherits protocol **Bar** from framework **B**. e.g.

[code]

The generated doc contains **Foo** description only without a link to

[2016-08-24 07:27] poborin opened #643 "xcodebuild arguments issue"
I'm using a .jazzy.yaml file to configure a project
[code]

if I set **-scheme** and **-project** in `xcodebuild_arguments` I get an error
[code]
If I don't set them I get
[code]

[2016-08-25 02:08] poborin commented on #642
It actually referencing every object. My problem was I haven't passed correct xcodebuild arguments, thus jazzy could not find referenced objects

[2016-08-25 02:08] #642 closed

[2016-08-25 02:09] poborin commented on #643
My problem was I haven't passed correct xcodebuild arguments, thus jazzy could not find referenced objects

[2016-08-25 02:09] #643 closed

[2016-08-25 19:16] williamFalcon opened #644 "Jazzy crashes when parsing extension with init"
Jazzy crashes when parsing this file.

[code]

[2016-08-26 08:20] bgalamb opened #645 "Jazzy 0.7.0 not compatible with latest XCode8 betas"
Hi
since we upgraded from Xcode8 beta 3 to Xcode8 beta 6 we are seeing that document generation fails. Most probably because there were some changes in the inheritance modifiers e.g. open

it dies always after the last file is parsed and documentation is not generated at all.

[code]

And a different error as well :

[code]

[2016-08-26 15:50] rafiki270 opened #646 "Jazzy can not parse open classes from Swift 3"
[code]

[2016-08-28 18:02] andrew8712 commented on #645
I'm having the same issue

[2016-08-30 10:11] #638 closed

[2016-08-30 10:13] seivan commented on #619
Looks like https://github.com/realm/jazzy/pull/640 fix it

[2016-08-30 19:19] willlarche opened #648 "Bug: README: Supported keywords: Objc: Broken link to HeaderDoc user guide"
Apple moved this documentation to 'legacy' so the URL is now different.

Submitting pull request with fix.

[2016-08-31 11:51] seanoshea commented on #620
I'm running into this exact same issue with http://cocoadocs.org/docsets/FuzzyMatchingSwift/0.1.0/Extensions/_ArrayType.html. Source code is available at https://github.com/seanoshea/FuzzyMatchingSwift/blob/develop/FuzzyMatchingSwift/Classes/FuzzyMatching.swift#L37 using the `0.7.0` version of `jazzy`

[2016-08-31 15:39] willlarche commented on #648
Submitted PR [649](https://github.com/realm/jazzy/pull/649)

[2016-09-01 21:16] mhuusko5 commented on #518
This just started happening for me for some reason. On 0.7.0.

[2016-09-07 16:37] picciano commented on #646
I'm confused on the status of this. I see the merge above, but doesn't look like Jazzy version has been updated and am not getting an update through gem. This is still failing with Swift 3/Xcode 8, is there something I need to do to get this to work locally?

[2016-09-07 16:39] rafiki270 commented on #646
I would get we'll have to wait for the next release if you want to use gem ...

[2016-09-07 16:41] rafiki270 commented on #646
also, the next big issue might be the underscore before a method variable or closure

[2016-09-07 16:46] picciano commented on #646
Guess we'll find out soon enough. Xcode 8 GM should be announced in about 15 minutes or so...

[2016-09-07 20:59] aasatt commented on #619
Still not able to get it to work. I am using the full path copied directly from the Project Navigator.

[2016-09-08 14:26] aliak00 opened #650 "using jazzy when podpsec includes dependencies from a private spec repo"
I'm having trouble figuring out how to tell jazzy where the pods are. Is there a config option I'm not seeing somewhere? I get this error when I run jazzy:

[code]

[2016-09-09 00:04] bearclough opened #651 "Comma in Xcode Build Arguments is treated as a delimeter"
When using Jazzy with the following xcodebuild-arguments

`jazzy -x -scheme,TestScheme,-configuration,TestSim,-destination,'platform=iOS Simulator,name=iPhone 6,OS=10.0'`

The issue is that the -destination flag is parsed as 'platform:iOS Simulator' and the rest of the destination string is passed as an xcodebuild-arguement.

I'de be happy to fix if you could point me in the right direction or I c

[2016-09-10 20:00] jessesquires opened #652 "[Help] jazzy crashes with any argument ¯\_(ツ)_/¯"
I'm a ruby novice, so sorry if this is trivial, but I'm not sure what the problem is. 😅

I've looked around for help elsewhere, but didn't have any luck, so opening an issue here.

This looks like it could be an issue in `jazzy` (not likely?), `rouge` (maybe?), or with my setup (probably).

#### Setup

- `jazzy 0.7.0`
- `Xcode 7.3.1`
- `ruby 2.2.5p319 (2016-04-26 revision 54774) [x86_64-darwin15]`

[2016-09-10 20:34] jessesquires commented on #652
Using `ruby 2.2.2` seems to have fixed the issue!

`ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin15]`

Sorry for the noise! 😄

[2016-09-10 20:34] #652 closed

[2016-09-13 22:51] jpsim opened #654 "Check for `available` attribute before logging "no usr" warning"
If a declaration is marked `@available(..., unavailable, ...)` like [this](https://github.com/realm/realm-cocoa/blob/c508dee7e99411e74370de7dda89461c1688c611/RealmSwift/LinkingObjects.swift#L428-L429), it won't have a USR and that's not a jazzy bug. For example:

[code]

makes jazzy log the following:

[code]

---

We can skip the warning log if we find the `available` attribute, which these decla

[2016-09-14 00:32] #654 closed

[2016-09-14 05:08] pcantrell opened #656 "Jazzy doesn’t run on XC 8 GM when Swift version explicitly specified"
I get:

[code]

It appears to be this bug at play: https://github.com/segiddins/xcinvoke/issues/6

[2016-09-14 05:13] jpsim commented on #656
I've been avoiding this by not specifying a `--swift-version`, but rather using SourceKitten's built in toolchain resolution instead.

[2016-09-14 05:14] pcantrell commented on #656
Confirmed, removing `swift_version` fixes it.

[2016-09-14 09:03] agordeev opened #657 "Swift 3.0, Xcode 8: jazzy generates empty docs"
jazzy version: **0.7.1**
Config file:

[code]

I run `jazzy`, it outputs the following:

[code]

However, the documentation contains only README.
Here's how classes look like:

[code]

Am I missing something?

[2016-09-14 14:27] bgalamb opened #658 "Jazzy generated documentation for // TODO: comments"
Hi
we are using Jazzy 0.7 with Xcode 8 GM. We see that in some cases it generated wrong documentation.

"---------------------------------- "
// MARK: - Cache protocol implementation
public var costOfEntries : Double {
        get {
            // TODO: what the cost means for multiple caches?
            return 0
        }
    }
 public var numberOfEntries : Int {
        get {
            // TOD

[2016-09-14 14:40] benrudhart opened #659 "Cannot generate documentation for CocoaPod lib with Swift 3, Xcode 8"
I'm trying to generate documentation for a CocoaPod lib when using Swift 3.0, Xcode 8 and Jazzy 0.7.1.

I specified the podspec via `.jazzy.yaml`. When running `jazzy` it throws the following error:

[code]

I checked the generated log file and it states this:

[code]

These files do exists - I don't know where Jazzy is looking for them.

I created an example project for this issue and pushed it h

[2016-09-14 15:52] vnramachandra commented on #613
Any progress on this? I have provided sample code as well. Thank you.

[2016-09-15 15:59] p2 commented on #619
FYI, it didn't seem to work for me (which is why I found this), however the following works for me with jazzy 0.7.1 and a file `Sources/Keychain/Keychain.swift`:

    exclude: "**/Keychain.swift"

[2016-09-17 14:29] olddonkey commented on #659
Same

[2016-09-21 15:59] ollieatkinson opened #660 "Enums are not documented in my Swift code."
I have the following enum:

[code]

However when I generate the documentation for this each of the cases are marked as undocumented - I am guessing I have the syntax wrong (I used the default apple documentation in Xcode 8) or jazzy is not correctly picking up the case statements.

<img width="362" alt="aspectratio enum reference safari today at 16 57 47" src="https://cloud.githubusercontent.com/a

[2016-09-21 18:36] emaloney opened #661 "Jazzy 0.7.2 crashes with "comparison of Array with Array failed" ArgumentError"
Hello,

I recently updated to Jazzy 0.7.2 and have tried using it to generate documentation for an Xcode 8 project containing Swift 2.3 code. All 578 source files in our project are parsed, but when Jazzy gets to the "building site" stage, Jazzy exits with code `1` and logs:

[code]

Prior to that, I get some USR warnings, eg.:

[code]

Unfortunately, this is a closed-source project so I can't sha

[2016-09-22 06:23] techmehra opened #662 "Unable to install with install jazzy command"

[2016-09-22 18:04] brennanMKE opened #663 "Create docs for Swift from Objective-C for Swift 2.x and 3.x"
Viewing docs for Swift or Objective-C would help teams which are using a framework created with one language but is being used by another. And with the naming convention changes with Swift 3 it would be very helpful to see what an Objective-C method is in Swift 3. (or even Swift 2.x)

This would be a potentially difficult feature to build out unless somehow what Apple provides can be leveraged.

W

[2016-09-22 20:00] FelixSFD opened #664 "xcodebuild succeeds, but no documentation is generated"
I'm trying to generate the documentation for a Swift-only Framework in my workspace with this command:

`jazzy --clean --xcodebuild-arguments -scheme,MyFrameworkScheme,-workspace,MyWorkspace.xcworkspace,-configuration,Release`

and with this `.jazzy.yaml`:

[code]

Xcodebuild is running without errors and all files are parsed. But when the process is done, the Documentation folder is empty. There

[2016-09-22 22:42] gngrwzrd-intel opened #665 "Exclude documentation in source files, not entire files"
I haven't been able to find if this is available, but I'd love to be able to mark something in the source file as ignore or exclude. I know you have a command line option --exclude. But that only ignores entire files. It'd be great if there was something in the doc markup to exclude something. Maybe "!exclude" or something?

I think this would be used a lot. For me personally, I would like to be a

[2016-09-24 12:28] andyb1979 commented on #518
Still getting this issue in Jazzy v0.7.2

Project structure is

MyProjectFramework
   MyProject.xcodeproj
   MyProject
      Umbrellaheader.h
      ASubDir
         AHeader.h
      AnotherSubDir
         AnotherHeader.h

I run the following command line from folder MyProjectFramework:

`jazzy -m 'MyProject' -a 'MyProject' --objc --umbrella-header 'MyProject/UmbrellaHeader.h' --module-version 1.2.0

[2016-09-24 12:48] pcantrell commented on #665
You are looking for `nodoc`, I think:

    /// :nodoc:
    public func foo() -> Bar

[2016-09-24 12:48] #665 closed

[2016-09-26 17:38] brennanMKE commented on #663
I am new to AST so I am going to start learning about it to see what it provides to determine if it is capable of providing useful resources for Objective-C and Swift.

http://clang.llvm.org/docs/IntroductionToTheClangAST.html

[2016-09-29 15:33] rlepinski opened #666 "Module version is not available in templates"
The module version is unavailable in templates:

[code]

Doesn't look like its set when generating the doc.

[2016-09-30 20:39] rnystrom opened #667 "ObjC Import file not found when using SPM directory structure"
We're putting the finishing touches on an Objective-C framework and are trying to prepare for the eventual (maybe?) launch of the Swift Package Manager using the following dir structure:
- IGListKit.xcodeproj
- /Source
  - IGListKit.h
  - PublicFile.h
  - PublicFile.m
  - /Internal
    - PrivateFile.h
    - PrivateFile.m
- /Tests
- /Example
- /docs

Our script setup looks like

[code]

Our umbrell

[2016-10-07 09:00] fruitcoder commented on #660
Currently I copy over what I have in the enum description for the specific cases.

[code]

While I agree that this could be automatically parsed and added to the documentation with jazzy, XCode would still not give you a description when you just alt-click on a specific case. That's why I decided to duplicate the information.

[2016-10-11 13:06] JacobKingDev opened #668 "If Xcode is named something else, make command exits."
My Xcode is called 'Xcode 8' instead of the default 'Xcode' (as I have multiple versions installed). When installing the installer exits on the make command complaining that it can't find '/Applications/Xcode'.

[2016-10-12 11:35] aborren commented on #661
[code]

Encountering the same problem. kUseProductionEnvironment is indeed declared in an '#if' block. If I remove the '#if' block it generates fine.

[2016-10-12 12:06] MrAlek commented on #621
Struggling a bit here too. I'm running `jazzy` without any params in a Swift 2.3 framework project and get HTML docs but the docset folder is empty.

[2016-10-12 14:48] rnystrom commented on #667
ping @jpsim on this. We have to hack around this bug to gen docs for [IGListKit](https://github.com/Instagram/IGListKit).

[2016-10-13 15:31] JanC commented on #609
I have the exact same issue. It looks as if all types from UIKit were unknown. Foundation or custom objects are recognised correctly.

[2016-10-17 08:38] MrAlek opened #670 "Parameter to exclude overridden functions & properties."
Currently, you can use the `:nodoc:` token to exclude specific declarations but in cases where you have to do many overrides (such as a framework of `UIView`s), completely ignoring all overrides in the generated documentation would make life much easier for a framework maintainer.

Generally speaking, this makes sense for a lot of object oriented frameworks where overrides is usually common. Apple

[2016-10-19 08:16] everlof commented on #661
Can confirm that the same has occurred to me.

Saw:
[code]

Running macOS Sierra (10.12)

[2016-10-19 23:41] yarneo commented on #429
+1

[2016-10-20 03:01] garricn commented on #670
I can imagine being frustrated with having to write that a bunch of times. By the way, thanks for mentioning `/// :nodoc:` , it works great!

[2016-10-26 09:19] sauvikatinnofied commented on #657
Is there any update on that issue?

[2016-10-26 10:50] andrew8712 commented on #657
@sauvikatinnofied Are you experiencing that too? I didn't check with the latest `jazzy` version. Did you?

[2016-10-26 15:28] sorenmortensen commented on #429
Still getting this with jazzy `0.7.2`.

[2016-10-26 19:41] LeoNatan commented on #663
It should be theoretically possible, as Xcode displays imported Swift symbols when selecting "View Generated Interface".

[2016-10-27 12:08] jeremiegirault opened #672 "error handling xcodebuild parameters in objc"
I cannot develop in ruby but I noticed that there is a logic problem by using jazzy and got to the source :
https://github.com/realm/jazzy/blob/master/lib/jazzy/sourcekitten.rb#L122

When xcodebuild_arguments are provided in objc mode, they are not appened to this array:

[code]

but only to this one:

[code]

This means that I had to pass all arguments (`--objc <header> -- <all_clang_args>`) in t

[2016-10-31 15:23] Palleas commented on #650
I just ran into this exact issue. Is this something I can help with? I would only need a small nudge toward the right direction in the source code 😁

[2016-10-31 17:14] mhuusko5 commented on #667
I'm also running into this issue with a project with multiple/nested directories containing relevant headers, vs. just `ProjectName/ProjectName`. Temporarily creating `ProjectName/ProjectName`, and copying all headers in there resolves this issue, but then `run_sourceKitten` ends up failing (guessing because mismatch between file location and .xcodeproj?).

[2016-11-02 11:33] bolismauro commented on #476
This works for me
[code]

[2016-11-04 04:39] plummer commented on #299
Just pointing out the sample config file linked is dead.

[2016-11-04 14:58] pcantrell commented on #299
@plummer Thanks. Link fixed in post above.

[2016-11-07 20:53] ScottYelich commented on #657
I am experiencing this... have you managed to get it to work for you?  jazzy v0.7.2 here.

[2016-11-08 22:35] JoshHrach commented on #657
I just encountered this with Jazzy 0.7.2, running Xcode 8.1 with a Swift 3 project on macOS Sierra 10.12.1.

[2016-11-08 22:45] JoshHrach commented on #422
@jpsim Was a fix for this ever implemented? I'm encountering this issue with Jazzy 0.7.2.

[2016-11-10 00:26] jdelaune opened #673 "Duplicate parameters, returns in docs"
Not sure if I'm formatting the docs wrong for jazzy or if there is something else going wrong. They look fine within Xcode. Here's what I have in code and this is what Jazzy produces.

![Jazzy Duplicate Params](http://chargifi-files.s3.amazonaws.com/dev/Screen%20Shot%202016-11-10%20at%2000.17.13.png)

Turns into:

![Jazzy Duplicate Params](http://chargifi-files.s3.amazonaws.com/dev/Screen%20Shot%2

[2016-11-10 11:41] bhargavigostu commented on #488
Facing same issue.. Is there any update on this issue?

[2016-11-10 17:10] wmcbain opened #674 "Jazzy Ignores Xcodebuild Arguments."
**Environment Details**

* macOS 10.12.1
* Jazzy 0.7.2
* Xcode 8.1 8B62

**Configuration File**
[code]

**Expected**
* Jazzy uses defined Xcode arguments to select proper Xcodeproj and target.

**Actual**
* Jazzy ignores defined arguments and fails when it tries to build the documentation.

**Output**

* Command line:
[code]

* Log file:

[code]

[2016-11-15 20:18] isair commented on #661
0.7.2 and 0.7.1 gave the same error for me, but 0.7.0 worked.

[2016-11-15 21:40] sorenmortensen commented on #673
I'm getting the same problem as well.

My code:
<img width="555" alt="screen shot 2016-11-15 at 21 38 29" src="https://cloud.githubusercontent.com/assets/13041332/20325297/fdb0e61a-ab7b-11e6-9bde-9c30964a37a5.png">

Jazzy output:
<img width="819" alt="screen shot 2016-11-15 at 21 38 51" src="https://cloud.githubusercontent.com/assets/13041332/20325298/fdb2c390-ab7b-11e6-8b2e-7ee012f11589.png">

[2016-11-15 22:57] jdelaune commented on #673
So I've found out everything have to be lowercase and the parameters option isn't supported. You need individual parameter values.

[2016-11-16 02:32] jweinst1 commented on #659
same

[2016-11-17 15:12] mhuusko5 opened #677 "Should the latest version of SourceKitten be used?"
It *seems* that jazzy is currently targeting SourceKitten from about 6 months ago. Would it make sense to upgrade/could it potentially fix issues with jazzy/SourceKit crashes (I haven't been able to run it on my proj for months, without crashing)?

[2016-11-18 19:34] bolot commented on #652
I had the same crash, but since I was on `ruby 2.2.2`, my solution was different. According to a comment by @mame https://github.com/bbatsov/rubocop/issues/1510, it appears to be a `rubygems` bug and can be fixed by `[sudo] gem update --system`, which worked for me.

[2016-11-21 13:56] ikkentim opened #678 "HeaderDocs appear in discussions"
I tried the following:
[code]

Generated docs:

I obviously do not my parameters/return values to appear there. I've also tried `@brief` and `@abstract`, but these end up in the docs:

[code]

Also, `@code ... @endcode` does not appear to work? To be honest, I haven't found any HeaderDocs to be working, even though the readme claims a (limited) number of HeaderDocs keywords are supported.

Am I do

[2016-11-22 12:19] CalebeNP commented on #657
Any update?

[2016-11-22 12:52] orta commented on #677
Makes sense, wanna give it a shot?

[2016-11-22 12:55] orta commented on #674
The podspec attribute is overwriting your build settings, might be worth either removing that - or making sure you're on the latest CocoaPods - looks like it isn't building due to a swift version not being set

[2016-11-22 12:57] orta commented on #657
There have been [no releases](https://github.com/realm/jazzy/releases) of Jazzy since this issue was opened, please don't just add "+1"s

You should take it as something you could potentially fix

[2016-11-22 13:23] mhuusko5 commented on #677
Although I appreciate the offer/support, I'm hesitant as I understand the workings of the project so little to the point of not being able to use it/figure out why (old SourceKitten is a total guess; I also think I have the issue of having a non flat source structure that some other issues have mentioned).

That said, I may have some waste time this week to fiddle around with it... @jpsim as a mai

[2016-11-22 16:55] wmcbain commented on #674
Hey as other issues have stated setting `swift_version` causes the following with Xcode 8:

[code]

However removing the podspec key did help and after playing around with Issue 677 I realized my build arguments were wrong as I was targeting a scheme in a workspace rather than an xcodeproj. My updated configuration looks as follows and this builds documentation appropriately:

[code]

**tl;dr** In

[2016-11-22 16:55] #674 closed

[2016-11-23 01:29] istx25 opened #680 "Issue and Pull Request Clean Up"
- [x] Attach all closed issues and PRs to the **[Before](https://github.com/realm/jazzy/milestone/1)** milestone.
- [x] Ensure all PRs have been labeled and assigned _to someone_.
- [x] Create Project for backlog, PRs that need review, etc.
- [x] Ensure all issues have been assigned _to someone_.
- [x] Ensure all issues have been labeled.

[2016-11-23 10:48] aamctustwo commented on #388
This batched format is now the default when using Xcode 8.1's automatic generation of documentation comments.

[2016-11-23 14:45] istx25 commented on #8
What's the progress on this?

[2016-11-23 14:46] istx25 commented on #11
What's the progress on this?

[2016-11-23 14:47] istx25 commented on #13
What's the progress on this?

[2016-11-23 14:50] istx25 commented on #44
I don't think this is practical. If it ever is practical, we can totally re-open the issue.

[2016-11-23 14:50] #44 closed

[2016-11-23 14:51] istx25 commented on #64
I think it's fair to close this issue. We can re-open if necessary though.

[2016-11-23 14:51] #64 closed

[2016-11-23 14:51] istx25 commented on #77
What's the status on this? Can this issue be closed?

[2016-11-23 14:54] istx25 commented on #82
Do we still have plans to do any of this?

[2016-11-23 14:55] istx25 commented on #105
What's the status on this?

[2016-11-23 14:55] istx25 commented on #114
Resolved with #337. Closing.

[2016-11-23 14:55] #114 closed

[2016-11-23 14:56] istx25 commented on #120
What's the status on this? From my understanding this has already been completed?

[2016-11-23 14:57] istx25 commented on #134
Any progress on this?

[2016-11-23 14:58] istx25 commented on #136
Seems that this issue has been resolved so I'm going to close the issue. Lmk if I'm wrong or if we need to reopen the issue.

[2016-11-23 15:00] istx25 commented on #141
From my understanding, this bug is related to SourceKit which is out of our hands. I've tagged the issue with blocked and I'm going to close the issue. Feel free to reopen if you disagree or have more to say about it.

[2016-11-23 15:01] istx25 commented on #190
Any progress on this? @petrmanek @jpsim

[2016-11-23 15:05] istx25 commented on #198
Any progress on this? @jpsim

[2016-11-23 15:06] istx25 commented on #225
Seems resolved to me.

Feel free to re-open if you disagree or if more needs to be done.

[2016-11-23 15:08] istx25 commented on #233
I believe this issue has been resolved as per @p2's last comment. Feel free to re-open if there's more to be done that I missed. Still getting familiar with the project. :)

[2016-11-23 15:10] istx25 commented on #238
From what I can see, I believe this has been resolved? I won't close this one myself because I'm not actually 100% sure. Let me know what y'all think.

[2016-11-23 15:12] istx25 commented on #266
Closing for inactivity since @jpsim asked for clarification and hasn't received a response. Feel free to respond to this now if more help is needed and we'll happily reopen it to continue.

[2016-11-23 15:12] #266 closed

[2016-11-23 15:12] istx25 commented on #287
Any progress on this?

[2016-11-23 15:13] istx25 commented on #300
Any progress on this?

[2016-11-23 15:13] istx25 commented on #301
(from #303)

Doing the same here...

[2016-11-23 15:14] istx25 commented on #302
Any updates on this?

[2016-11-23 15:15] istx25 commented on #305
Any progress on this? @GawenBerger

[2016-11-23 15:16] istx25 commented on #314
I'll try to get around to reviewing #315. Seems to still be open.

[2016-11-23 15:16] istx25 commented on #333
Completed with #343.

[2016-11-23 15:17] istx25 commented on #361
#558 needs to be reviewed but this issue is a little irrelevant/out of date now. Closing and will continue the conversation in that PR.

[2016-11-23 15:17] #361 closed

[2016-11-23 15:17] istx25 commented on #362
Any progress on this?

[2016-11-23 15:19] istx25 commented on #363
Any progress on this?

[2016-11-23 15:20] istx25 commented on #364
Any progress on this?

[2016-11-23 15:21] istx25 commented on #368
Any progress on this? I see @shpakovski's commits but not sure if they resolved this or were merged in. Would love an update. :)

[2016-11-23 15:21] istx25 commented on #372
Any progress on this?

[2016-11-23 15:22] istx25 commented on #382
Any progress on this since Nov 2015?

[2016-11-23 15:22] istx25 commented on #388
Seems to me that this issue has been resolved. Closing.

[2016-11-23 15:23] istx25 commented on #388
Actually, I may have misread. Feel free to re-open if that was the case. My apologies if it is!

[2016-11-23 15:24] istx25 commented on #399
Any progress on this? @segiddins

[2016-11-23 15:24] istx25 commented on #400
Any progress on this since Dec 2015?

[2016-11-23 15:25] istx25 commented on #411
Any progress on this since Dec 2015?

[2016-11-23 15:25] istx25 commented on #413
Any progress on this since Dec 2015?

[2016-11-23 15:28] istx25 commented on #422
Let's organise who's going to implement this so we can get it in a new release. @JoshHrach, would you be interested in completing this?

[2016-11-23 15:29] istx25 commented on #428
I read somewhere else (can't find it though) that this change has been made. I don't have a project I can test Jazzy with yet (putting one together) so interested in what others have to say.

[2016-11-23 15:30] istx25 commented on #429
We'll need to investigate this further. Anyone interested in tackling this?

[2016-11-23 15:31] istx25 commented on #430
Any updates on this?

[2016-11-23 15:32] istx25 commented on #431
Any decisions with this? I think the best (temporary solution [or not]) is to just add the note into the README or somewhere that people will read.

[2016-11-23 15:33] istx25 commented on #439
Seems to me that this has been resolved. Closing for now. Feel free to re-open if necessary.

[2016-11-23 15:35] istx25 commented on #454
Any update on this?

[2016-11-23 15:36] istx25 commented on #465
Any progress on this?

[2016-11-23 15:36] istx25 commented on #476
Any progress on this?

[2016-11-23 15:37] istx25 commented on #479
@TimurKhay, @donie-inhance: Would you be able to share more information? Will be closing in two weeks if there are no new responses.

[2016-11-23 15:38] istx25 commented on #483
Merged in with https://github.com/realm/jazzy/pull/588. Closing.

[2016-11-23 15:38] #483 closed

[2016-11-23 15:39] istx25 commented on #486
Closing due to inactivity. @lagapollo, if you need any more help, feel free to comment and we can re-open the issue or have you file a new issue with the problem. Cheers!

[2016-11-23 15:39] #486 closed

[2016-11-23 15:40] istx25 commented on #487
Converting this issue from a question to a feature request since I agree with @kylebrowning. That would be a cool feature, especially with SPM and non-Xcode proj Swift code.

[2016-11-23 15:42] aamctustwo commented on #388
@istx25 Nope, still an issue. :smile_cat: I was just commenting that that since this is now a default format for Xcode's built in documentation comment generator, it's going to be even more common place.

[2016-11-23 15:42] istx25 commented on #488
Please provide more information and repro steps for @jpsim and I. It would also be awesome if you could include a minimal project that reproduces the issue. Will close for inactivity in 2 weeks if there are no new responses.

[2016-11-23 15:42] istx25 commented on #388
haha thought so, thanks @aamctustwo!

[2016-11-23 15:42] d0n13 commented on #479
Not an issue for me anyway. I never solved it and I'm not too worried at this stage.

[2016-11-23 15:43] istx25 commented on #479
Sounds good. Closing.

[2016-11-23 15:43] #479 closed

[2016-11-23 15:43] Sega-Zero commented on #488
Cannot reproduce this on a test project. Hard to locate the real issue cause.

[2016-11-23 15:44] istx25 commented on #498
Thanks @arn00s. We'll review this asap and see what needs to be done (if something still does).

[2016-11-23 15:45] istx25 commented on #499
#518 needs to be reviewed which may be related to this _issue_. Added it to my list of things to do.

[2016-11-23 15:46] istx25 commented on #502
Closing since the conversation has continued in a PR.

[2016-11-23 15:46] #502 closed

[2016-11-23 15:47] istx25 commented on #507
Hey @meleyal, wanted to bring attention back to this. As @jpsim asked, are you interested in implementing this yourself? Would love to see a PR. :)

[2016-11-23 15:48] istx25 commented on #516
Any progress on this?

[2016-11-23 15:48] istx25 commented on #517
Any progress on this?

[2016-11-23 15:49] istx25 commented on #518
Any updates on this issue?

[2016-11-23 15:50] istx25 commented on #525
Hey @r-flynn! Wanted to bring attention to @jpsim's comment. Would you be interested in helping us address this problem and improve it?

[2016-11-23 15:51] istx25 commented on #529
Would love it if someone could share more information about this issue so we can reproduce it properly and come up with a fix. A minimal test project would also be awesome. Closing in two weeks if there is no activity here. Cheers!

[2016-11-23 15:52] istx25 commented on #533
Any progress on this? Like the idea..

[2016-11-23 15:52] istx25 commented on #535
Any progress on this?

[2016-11-23 15:53] istx25 commented on #536
Since this is not an issue specific to Jazzy, I'm going to close the issue. Feel free to re-open if you disagree.

[2016-11-23 15:53] #536 closed

[2016-11-23 15:54] istx25 commented on #537
I'll try to get around to reviewing these repro steps soon. Sorry for the wait times, @Raja413!

[2016-11-23 15:54] istx25 commented on #538
Any updates on this?

[2016-11-23 15:56] istx25 commented on #488
If it's reproducible on a certain function or place in your code on a real project, try to refactor that out to another project that you can share. We need some concrete data.

[2016-11-23 16:05] 1ec5 commented on #120
No, jazzy doesn't generate Xcode docsets yet.

[2016-11-23 16:07] istx25 commented on #120
My apologies. Thanks for the response @1ec5. Misunderstood.

[2016-11-23 16:07] 1ec5 commented on #136
Are you sure? Last I checked, jazzy generated Swift signatures for Objective-C symbols, but not the other way around.

[2016-11-23 16:08] istx25 commented on #136
I'll look into it. Re-opening for now.

[2016-11-23 16:11] Sega-Zero commented on #488
I got thousands of documented places in my project, so I will need a lot of attempts, since I don't really know what function exactly causes this. I don't have that much time, sorry. If jazzy could have some extra verbosity, I could probably locate the problem piece of code and share it with you.

[2016-11-23 16:22] istx25 commented on #488
I understand. I didn't mean to come off as snippy. I know this is a difficult issue to reproduce concretely but it's imperative in resolving this problem for good. If that's you or I or both of us or everyone, someone, preferably multiple people need to reproduce this issue in multiple (and varied) minimal test projects.

[2016-11-23 20:38] JoshHrach commented on #422
@istx25 I think what @trishayy mentioned above may be a place to start. I tried forking Jazzy to my system but am having issues setting up an environment.

What I also found was information from [this link](https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html) under **Naming Your Product Module**:

The project I'm working with here is an app

[2016-11-23 21:58] istx25 commented on #539
Saw a few PRs merged that mentioned this issue. What's the progress on this?

[2016-11-23 21:58] istx25 commented on #541
Any updates on this?

[2016-11-23 22:00] istx25 commented on #546
I definitely agree with @kballard on this. Has any progress been made?

[2016-11-23 22:00] istx25 commented on #547
I see that #558 needs to be reviewed and merged.

[2016-11-23 22:02] istx25 commented on #548
Has there been any progress on this?

[2016-11-23 22:05] istx25 commented on #552
Hi @lumaxis. Thanks for filing this issue. My apologies that no one has responded to you until now. I totally see where you're coming from. My personal opinion is that I agree with you. It definitely makes sense to only add Other on duplicated categories. With that said, I'd like to rope in @jpsim, @segiddins and @orta to hear they have to say. And PRs are always welcome.

[2016-11-23 22:08] istx25 commented on #553
Hi @neng18. Thanks for reaching out. Would you be able to elaborate more on the issue and where specifically you need assistance? I'll be closing this issue in two weeks if there is no further activity.

[2016-11-23 22:11] istx25 commented on #565
Closing in favour of #556. Feel free to re-open if necessary.

[2016-11-23 22:11] #565 closed

[2016-11-23 22:13] istx25 commented on #617
Hi @p2. Thanks for filing this issue. I don't think this is something we currently have the bandwidth to work on but I'd happily review a PR if you're willing to put something together. Cheers!

[2016-11-23 22:13] istx25 commented on #566
Has any progress been made on this?

[2016-11-23 22:14] istx25 commented on #570
Has anyone been able to reproduce this multiple times? Would love it if someone could put together a formal list of repro steps. Having a hard time. I'm on 10.11.6 (15G1004).

[2016-11-23 22:15] istx25 commented on #583
Has there been any progress on this?

[2016-11-23 22:17] istx25 commented on #591
Has there been any progress on adding this back in?

[2016-11-23 22:18] istx25 commented on #593
I'll look into trying to reproduce this more in the coming weeks.

[2016-11-23 22:26] #604 closed

[2016-11-23 22:28] istx25 commented on #605
@agentk Does @lloydsargent's solution suffice? I also think using React for a theme would be cool. Don't know much about it and still working but definitely seems _cool_ at the very least haha. Closing for now, feel free to re-open in case there's more to say.

[2016-11-23 22:28] loretoparisi commented on #570
@agentk I have to try to reproduce it again.

[2016-11-23 22:29] istx25 commented on #570
Thanks @loretoparisi!

[2016-11-23 22:37] petrmanek commented on #190
@istx25 None at all. I'd be happy to contribute, but I'm not a ruby guy...

[2016-11-23 22:39] istx25 commented on #190
Neither am I! A guy or experienced with Ruby. hahahah. 😉 I too am basically/completely new to Ruby and I got started as of two days ago. Use this as an opportunity to learn and write Ruby. There are plenty of people that will be able to provide feedback and help you in the progress.

[2016-11-23 22:41] istx25 commented on #190
Never let not being experienced with something stop you. 💕 Heck, we could implement the feature together.

[2016-11-23 22:41] istx25 commented on #610
From my understanding, this isn't a problem with Jazzy? Can we close this?

[2016-11-23 22:42] istx25 commented on #611
Hi @marioarbras. We don't currently have the bandwidth to implement this ourselves. We'd be happy to review a PR if you're open to submitting one. Cheers!

[2016-11-23 22:44] istx25 commented on #613
Hi @vnramachandra! Thanks for submitting this issue and providing a test project. My apologies that no one has responded to you until now. I'll read over everything you've provided and respond as soon as I can with more information and assistance.

[2016-11-23 22:46] istx25 commented on #615
Hi @riksof-arqam! Thanks for reaching out. My apologies that no one responded to your support request until now. I've added your request to our backlog queue and I'll respond very soon with some more information. Please feel free to close the issue if help is no longer required or necessary.

[2016-11-23 22:48] istx25 commented on #618
Hi @liuxuan30. We'd be happy to help you with this but to respect separation of concerns, would you be able to file a new issue for this specific question (since it's quite different). Closing this one since @jpsim answered @ilandbt's original question.

[2016-11-23 22:48] #618 closed

[2016-11-23 22:50] istx25 commented on #619
Hi everyone! For some the problem has been resolved and for others it has not. This leads me to believe that there are either two (or more) problems or the original one wasn't actually fixed. Would someone (with more experience on this specific problem) be able to reproduce the problem on the latest version of Jazzy (and tools)? From there we can see what we need to do. :)

[2016-11-23 22:51] istx25 commented on #620
Hi @aramikg and @seanoshea. Thanks for submitting this issue (and adding some additional context, @seanoshea). I'll review all of this and see what we can do.

[2016-11-23 22:53] istx25 commented on #622
Hi @liuxuan30! Thanks for filing this issue. I'll look into the problem more and see what we can do.

[2016-11-23 22:54] istx25 commented on #623
Hi @liuxuan30. Thank you for submitting your question. My apologies that no one has responded to your support request until now. I'm not quite sure why ChartsRealm is missing but from my understanding, multi-Xcode project docs are currently unsupported. I'll do some more digging through.

[2016-11-23 22:56] istx25 commented on #624
Hi @liuxuan30. We'll consider this as a feature request but we currently do not have the bandwidth to implement it ourselves. However, we would happily review a PR if you can implement this and file one. Cheers!

[2016-11-23 22:58] istx25 commented on #625
Hi @csauvage. Thanks for reaching out. My apologies that no one has responded to your support request until now. I'll do some digging and come back to you with what I've found. In the meantime, I'd appreciate it if you could share any more info or reproduction steps (and since it's been a while), what you did in the meantime as a workaround.

[2016-11-23 22:58] istx25 commented on #625
Please feel free to comment as well if help is no longer needed or necessary. We'll assume that it is.

[2016-11-23 22:59] csauvage commented on #625
Didn’t find any right know

[2016-11-23 23:00] istx25 commented on #627
Hi @preraksola! Thanks for reaching out. My apologies that no one has responded to your support request until now. I will review what you've shared and come up with any follow-ups.

[2016-11-23 23:01] istx25 commented on #628
Strange! Thanks for filing this issue. I'll do some digging and come back with what I find.

[2016-11-23 23:03] istx25 commented on #630
I believe this is related to #628. Closing as a duplicate. Will reference this issue in the future where necessary.

[2016-11-23 23:04] istx25 commented on #632
Hi @blochberger. Thanks for filing this issue. We currently do not have the bandwidth to implement this ourselves but we'd happily review a PR that does this. Lmk if you're interested in doing that.

[2016-11-23 23:05] istx25 commented on #633
We'll look into this. Thanks for filing this issue, @AndyIbanez.

[2016-11-23 23:07] istx25 commented on #634
Your English is great. Don't sweat it. 😸

Thanks for reaching out, @kh4iri. My apologies that no one has responded to your support request until now. Regarding your question, Jazzy currently does not support the functionality you're after. It's something we hope to be able to do in the future but you're out of luck as of right now! 😕

[2016-11-23 23:07] #634 closed

[2016-11-23 23:08] istx25 commented on #636
Hi @TitouanVanBelle. Thanks for reaching out about this. I'll do my best to look through the resources you've shared, do some digging and come back with what I come up with. Cheers!

[2016-11-23 23:10] istx25 commented on #639
We've added this issue to our backlog queue. Feel free to submit a PR with the fix.

[2016-11-23 23:11] istx25 commented on #637
Hi @samsonjs. Thanks for filing this issue. My apologies that no one has responded to your support request until now. Unfortunately the image you uploaded before won't load for me. Would you be able to repost it? I will be closing in 2 weeks if there's no further activity.

[2016-11-23 23:13] istx25 commented on #641
Hi @colincornaby. Thank you for filing this issue. My apologies that no one responded to this support request until now. I will do some digging and come back with what I find. I would appreciate it if you'd be willing to share any workarounds you found (since this issue has aged a bit).

[2016-11-23 23:15] istx25 commented on #644
Hi @williamFalcon. Thanks for filing this issue. I would appreciate it if you could share some more details about your setup like which versions of tools you're using and if this can be reproduced using the newest version. Will be closing in two weeks if there's been no further activity.

[2016-11-23 23:15] istx25 commented on #645
Fixed as per #647.

[2016-11-23 23:15] #645 closed

[2016-11-23 23:16] istx25 commented on #646
Fixed as per #647.

[2016-11-23 23:16] #646 closed

[2016-11-23 23:16] istx25 commented on #648
Fixed as per #649.

[2016-11-23 23:16] #648 closed

[2016-11-23 23:17] istx25 commented on #650
Hi there @aliak00 and @Palleas. Is this something you're experiencing on the new version as well?

[2016-11-23 23:18] istx25 commented on #651
Hi @bearclough. Thanks for reaching out. I'm not sure where to start with this issue. I'll start digging but I'd love it if you could as well. I'll come back with whatever I find in a couple weeks!

[2016-11-23 23:18] istx25 commented on #656
Closing.

[2016-11-23 23:20] istx25 commented on #657
In agreement with @orta. Would anyone like to tackle this?

[2016-11-23 23:21] istx25 commented on #658
Not sure where to start with this. Would love it if you could share more info about your setup and a test project if possible. Is the problem present in the latest version?

[2016-11-23 23:21] istx25 commented on #658
Closing in 2 weeks if there's no further activity.

[2016-11-23 23:22] istx25 commented on #659
I believe this is a duplicate of #657. Closing.

[2016-11-23 23:23] istx25 commented on #660
I will do some digging and come back with what I find.

[2016-11-23 23:24] istx25 commented on #661
A few questions before I get started on the issue:

1. Has anyone been able to reproduce this constantly?
2. Has anyone been able to locate where the source of the problem is?

Just in case someone hasn't updated us on their progres.

[2016-11-23 23:25] #662 closed

[2016-11-23 23:27] istx25 commented on #664
Hi @FelixSFD. Thanks for reaching out. My apologies that no one has responded to your support request until now. I will have to do some more research to understand the problem better. Please feel free to close the issue if help is no longer needed or necessary.

[2016-11-23 23:27] istx25 commented on #666
What version?

[2016-11-23 23:27] istx25 commented on #666
Please share a minimal test project that reproduces the issue.

[2016-11-23 23:27] istx25 commented on #666
Closing in 2 weeks if there's no further activity.

[2016-11-23 23:29] istx25 commented on #667
Hi @rnystrom and @mhuusko5. Thanks for reaching out. My apologies that no one responded to your support request until now. Did you ever find a functional workaround? Is the problem present in the latest version? Please let me know. I'll do my own digging in the meantime.

[2016-11-23 23:31] istx25 commented on #668
Symlink the current Xcode version you use to Xcode.app to avoid this issue. A tool like https://github.com/KrauseFx/xcode-install may be able to help you in this situation.

[2016-11-23 23:32] istx25 commented on #670
Thanks for submitting this. I'm going to consider this a feature request. We don't currently have the bandwidth to implement this ourselves but we'd happily review a PR if you can submit one with the change. Cheers! :)

[2016-11-23 23:33] istx25 commented on #672
Hi @jeremiegirault. Thanks for submitting this issue. We'll look into this.

[2016-11-23 23:34] istx25 commented on #673
Closing.

[2016-11-23 23:34] #673 closed

[2016-11-23 23:34] kareman commented on #661
Yes, I can reproduce the problem in this project: https://github.com/kareman/SwiftShell. This code has several `#if` blocks.
I get the following error message:

[code]

[2016-11-23 23:34] csauvage commented on #625
At the beginning it was for one of my client, the project is finished now (without the docs) nevertheless I'd love to find a solution currently working on a similar project (multiple targets, need to create docs)

[2016-11-23 23:35] rnystrom commented on #667
@istx25 yup we added a workaround for the time being https://github.com/Instagram/IGListKit/pull/93/files

But it's not a very robust solution

[2016-11-23 23:35] istx25 commented on #677
This issue has been completed. #679 just needs to be reviewed. Closing.

[2016-11-23 23:36] istx25 commented on #678
(someone correct me if I'm wrong but) I don't believe Jazzy supports all of the keywords. I'll do some digging and come back to you with what I find.

[2016-11-23 23:37] #680 closed

[2016-11-23 23:43] istx25 commented on #667
I'll look into this further. Thanks @rnystrom!

[2016-11-24 00:44] 1ec5 commented on #539
No progress. That's just me referring to this issue when working around it in a library I'm working on.

[2016-11-24 01:21] istx25 commented on #539
Thanks for clarifying!

[2016-11-24 07:07] vnramachandra commented on #613
@istx25 Thank you. Will be looking forward to hear from you.

[2016-11-24 11:34] FelixSFD commented on #664
The issue still persists. Please let me know, if you need more information.

[2016-11-24 11:39] bgalamb commented on #658
Hi. I have prepared a small project from scratch to reproduce the issue. zip attached.
I think the problem is with the parsing of //TODO: -s in the code.
[jazzyBug.zip](https://github.com/realm/jazzy/files/611191/jazzyBug.zip)
Hope it helps.

[2016-11-24 11:57] istx25 commented on #658
Thank you for preparing this, @bgalamb. I'll review everything as soon as I can.

[2016-11-24 11:58] istx25 commented on #664
Thank you for clarifying.

[2016-11-24 13:59] aliak00 commented on #650
Hey @istx25 Yeah, updated to 0.7.2 and tried again. Same thing. Cannot find private specs. Which does make sense because there's no way to tell cocoa pods (through jazzy) where the specs are located. When you run pod repo lint you can specify those private spec with the `--sources` option. But I haven't figured out how to set them through jazzy yet. Or maybe there's a config file for cocoa pods wa

[2016-11-24 16:51] istx25 commented on #650
Hi @aliak00! Thanks for double checking. I'll do some investigation and come back with what I find.

[2016-11-25 04:20] wilddylan opened #683 "Jazzy with pod lib"
Hey, i want to make a doc for my pod lib, you can find it [here](https://github.com/WildDylan/NetworkSDK). i use
[code]
for gen, but it's not work.

error log:

[code]

Can you help me?

[2016-11-25 04:26] WildDylan commented on #683
Update:
This is the log:

[code]

[2016-11-25 17:20] istx25 commented on #683
Hi @WildDylan! Thanks for reaching out. I'm going to do some digging but in the meantime, I recommend confirming that “Use Legacy Swift Language Version” in Build Settings is properly setup for the version of Xcode you're using. It's possible one of your dependencies (or your project) isn't properly setup for whatever reason which is causing problems for Jazzy.

[2016-11-26 00:21] jpsim commented on #629
The issue here isn't related to `Postcondition`, as that keyword is supported. See https://github.com/realm/jazzy/blob/v0.7.2/lib/jazzy/jazzy_markdown.rb#L22-L45

I think the problem is related to how [redcarpet](https://github.com/vmg/redcarpet) parses the Markdown in this case.

Maybe it doesn't consider the entire block to actually be a valid single list entry? Would be worth trying to parse ju

[2016-11-26 00:22] jpsim commented on #631
That's pretty odd... Maybe [redcarpet](https://github.com/vmg/redcarpet) is to blame here too? Not sure.

[2016-11-26 00:23] jpsim commented on #635
The link is now http://bustoutsolutions.github.io/siesta/api/Extensions/String.html#/s:FE6SiestaSS20configurationPatternFT3forCS_7Service_FV10Foundation3URLSb

and appears to render correctly:

![image](https://cloud.githubusercontent.com/assets/474794/20636911/72ba2334-b32b-11e6-8d37-6c4a71503d19.png)

Is this solved @pcantrell? Or did you work around the problem some other way?

[2016-11-26 00:26] jpsim commented on #635
The source for the link seems to have an identical documentation comment as the original source link you shared: https://github.com/bustoutsolutions/siesta/blob/1.0.0/Source/Siesta/ConfigurationPatternConvertible.swift#L36-L57

So I'm assuming this has been fixed?

[2016-11-26 00:42] jpsim commented on #621
Hi all, without full steps to reproduce the issues you're running into, it's difficult for us to say what you may be missing in order to produce Dash docsets.

Short of having those details, I can point you to the integration specs that generate the docs for a variety of projects: https://github.com/realm/jazzy/blob/master/spec/integration_spec.rb

To pick one example, the [misc_jazzy_features spe

[2016-11-26 00:58] jpsim commented on #609
Thanks for the sample project @alexmx! That helps a lot. Although it will certainly be tricky to replicate that functionality.

When I make Xcode generate the Swift interface to your `BestClass.h` header, Xcode kicks off 57 separate requests to SourceKit, in which the order and timing of these requests very much matters.

The first 2 requests for generating the interface return something similar t

[2016-11-26 01:25] jpsim commented on #663
I sat down with @brennanMKE over coffee in early October to go over what it would take to make this happen. I unfortunately never wrote it down here, but I'll try to summarize now, starting with how things work currently.

# Current state of affairs

## 1. How SourceKit is dynamically linked

SourceKit is dynamically found and linked at runtime based on a number of different search priorities expl

[2016-11-26 01:39] jpsim commented on #141
Not exactly out of our hands, just more work!

[2016-11-26 01:39] jpsim commented on #8
No one's done any work on this as far as I can tell.

[2016-11-26 01:40] jpsim commented on #11
No one's done any work on this as far as I can tell.

[2016-11-26 01:40] jpsim commented on #13
No one's done any work on this as far as I can tell.

[2016-11-26 01:41] istx25 commented on #141
Oh okay! Sweet, my apologies.

[2016-11-26 01:42] jpsim commented on #77
No, there's a ton we could do to not just teach users how to use Jazzy, but how to even write standard Objective-C or Swift documentation comments.

Linking to Erica Sadun's blog post: http://ericasadun.com/2015/06/14/swift-header-documentation-in-xcode-7/

or her book: https://itunes.apple.com/us/book/swift-documentation-markup/id1049010423?mt=11

or NSHipster's article: http://nshipster.com/swif

[2016-11-26 01:42] istx25 commented on #629
Just assigned this ticket to you. I'll let you take over here. 💃

[2016-11-26 01:43] jpsim commented on #82
Maybe? This is such a fuzzy request, it's hard to say exactly when this would be "complete" or even what we could do to improve the current situation. I'm terrible at web design, so I don't know.

[2016-11-26 01:49] jpsim commented on #105
Custom Categories (#281) provide a way to control the grouping in the sidebar, which can be used to mirror the folder structure of a project, but is much more flexible than that.

ReSwift's docs uses this to great effect IMO:
* jazzy configuration file for `custom_categories`: https://github.com/ReSwift/ReSwift/blob/3.0.0/.jazzy.json#L13-L63
* Output: http://reswift.github.io/ReSwift/master/

![im

[2016-11-26 01:49] istx25 commented on #77
Totally! Thanks for sharing these resources. I think we should also move some of the documentation out of the `README.md` and into the Wiki and go into more depth about certain topics.

[2016-11-26 01:49] jpsim commented on #134
Let's not do this.

[2016-11-26 01:49] #134 closed

[2016-11-26 01:50] istx25 commented on #82
Same, though I'm sure we could reach out to open source contributors who are and invite them to contribute to Jazzy. I don't have a lot of experience with web design but it's something I would like to work on learning and getting better at. We can put it on the back burner for now.

[2016-11-26 01:52] istx25 commented on #105
Sounds good to me. I think the current functionality is a good middle ground for now. We can leave this feature on the back burner and (when we get around to it), write up a road map that could include this automatic functionality at a future time.

[2016-11-26 01:52] istx25 commented on #134
SGTM.

[2016-11-26 01:52] jpsim commented on #198
The "Show on GitHub" feature #208 helped provide something _like_ this, but this specific feature itself was never built.

[2016-11-26 01:53] jpsim commented on #225
Reopening since it'd still be useful to do for Swift properties.

[2016-11-26 01:53] istx25 commented on #198
We could put it on the back burner for now?

[2016-11-26 01:54] jpsim commented on #233
No, I think @p2's excitement was more for the language feature than what this ticket is tracking.

[2016-11-26 01:54] jpsim commented on #238
No, this hasn't been resolved. The log output from the initial comment is still desirable I think.

[2016-11-26 01:55] istx25 commented on #233
I realized that afterwards. My apologies - sounds good though.

[2016-11-26 01:55] jpsim commented on #287
No progress on this to report.

[2016-11-26 01:55] jpsim commented on #300
No progress on this to report.

[2016-11-26 01:56] jpsim commented on #301
Just because the PR attempting to fix this was outdated doesn't mean the issue goes away 😅

[2016-11-26 01:56] jpsim commented on #302
No progress to report.

[2016-11-26 01:57] jpsim commented on #305
Yeah, basically need a repro case to move forward with this /cc @GawenBerger @p2.

[2016-11-26 01:58] jpsim commented on #333
This is still very much a bug: https://realm.io/docs/swift/latest/api/Classes/Realm.html#/s:vVC10RealmSwift5Realm13Configuration11descriptionSS

![image](https://cloud.githubusercontent.com/assets/474794/20637305/d1f27880-b338-11e6-8cc0-89039ac510e5.png)

[2016-11-26 01:59] jpsim commented on #362
None to report.

[2016-11-26 02:00] istx25 commented on #333
I see, sorry about that!

[2016-11-26 02:00] jpsim commented on #363
None to report.

[2016-11-26 02:00] jpsim commented on #364
None to report.

[2016-11-26 02:01] jpsim commented on #368
No, I think @shpakovski's commits were contained to that fork.

[2016-11-26 02:02] jpsim commented on #372
No progress to report. One way to improve performance _might_ be to avoid ruby when generating the Mustache templates or Markdown. Then again, these libraries are broadly used and have surely been optimized, so maybe not.

[2016-11-26 02:03] jpsim commented on #382
Nope.

[2016-11-26 03:58] jpsim commented on #399
Probably not, he would've shared something here.

[2016-11-26 03:59] jpsim commented on #400
Not really possible given how jazzy works.

[2016-11-26 04:00] jpsim commented on #411
doesn't look like it

[2016-11-26 04:00] jpsim commented on #413
The prognosis is still correct.

[2016-11-26 04:01] jpsim commented on #428
No, I think extensions are still grouped by file.

[2016-11-26 04:02] jpsim commented on #430
No.

[2016-11-26 04:05] jpsim commented on #431
We should definitely list grouped parameters as an unsupported format. Fixing case sensitivity should be super simple for someone motivated to do so.

[2016-11-26 04:06] jpsim commented on #439
Nope. Jazzy will still generate duplicate symbols. That's expected, and mostly harmless other than the logged warning, but still not ideal.

[2016-11-26 04:07] jpsim commented on #454
It'd be useful to check to see if this is still an issue.

[2016-11-26 04:09] jpsim commented on #465
These terms just need to be added to this list: https://github.com/realm/jazzy/blob/v0.7.2/lib/jazzy/jazzy_markdown.rb#L22-L45

[2016-11-26 04:09] jpsim commented on #476
Bug still exists.

[2016-11-26 04:20] jpsim commented on #605
@lloydsargent can you share an example output from your theme? Why not make a PR adding it to jazzy?

[2016-11-26 04:31] jpsim commented on #630
Hmm, not obvious to me that this is related to #628. Unless you're certain, @istx25 can you reopen this one?

[2016-11-26 04:36] jpsim commented on #656
@istx25 not specifying `swift_version` is a workaround, not a solution.

[2016-11-26 04:37] jpsim commented on #659
Seems entirely unrelated to #657. Reopening.

[2016-11-26 04:39] pcantrell commented on #656
https://github.com/segiddins/xcinvoke/pull/7 may fix it, but hasn’t been merged yet — I think because @segiddins wanted somebody to test it on XC 5…?

[2016-11-26 04:40] jpsim commented on #668
Sorry for this being closed. Jazzy shouldn't require Xcode to be installed at `/Application/Xcode.app`, so I'm not sure why this happened to you.

Could you please elaborate on how this happened?

By "the installer", do you mean rubygems? Are you installing jazzy by running `gem install jazzy`? If that's what's failing, could you please share the full log output? Thanks!

[2016-11-26 04:43] jpsim commented on #677
@istx25 I prefer not to close issues until a fix lands in `master`. That way, others looking for similar issues will find it. So let's keep this open.

[2016-11-26 04:43] jpsim commented on #680
Thanks for doing this, @istx25! Must have been tedious!

[2016-11-26 04:57] jpsim commented on #516
No, solving this amounts to finding a way to sort consistently across Ruby versions.

[2016-11-26 04:57] jpsim commented on #517
Still needs to be done.

[2016-11-26 04:59] jpsim commented on #533
Still up for grabs.

[2016-11-26 05:01] jpsim commented on #538
wanna get chummy with libclang?

[2016-11-26 05:03] jpsim commented on #120
@istx25 note the difference between a "Dash" docset and an Xcode docset. They're different formats.

[2016-11-26 05:04] jpsim commented on #136
I still haven't figured out how to perform the swift->objc translation.

[2016-11-26 05:07] jpsim commented on #541
None whatsoever.

[2016-11-26 05:15] jpsim commented on #546
There's no doubt about it, if Xcode supports a doc format, we should strive to support it too.

Moving the implementation to CommonMark is still a major project though, and would probably incur some regressions, given that redcarpet supports certain useful non-standard Markdown features that our users rely on, like mixed HTML/Markdown.

[2016-11-26 05:44] istx25 commented on #400
Since it's _not possible_, I'm going to add the blocked label and close the issue. No sense keeping it open if we'll never get around to it or do it.

[2016-11-26 05:44] #400 closed

[2016-11-26 05:47] istx25 commented on #439
Thanks for clarifying.

[2016-11-26 05:48] istx25 commented on #605
SGTM! @lloydsargent @agentk @jpsim

[2016-11-26 05:49] istx25 commented on #630
Reopened just in case. I'll do some more digging in the near future.

[2016-11-26 05:54] istx25 commented on #668
My apologies @jpsim @xKINGYx - will do better in the future.

[2016-11-26 05:56] groue commented on #661
Same here:

[code]

(output from http://api.cocoadocs.org:4567/error/GRDB.swift/0.90.1)

[2016-11-26 05:56] istx25 commented on #680
No worries, @jpsim! Definitely took a while but I think it was an overall good use of my time. I think at times I got in automation mode since there was >500 PRs and issues to review. My apologies for any that were incorrectly closed or assumptions wrongly made. Will improve for the future.

[2016-11-26 05:58] istx25 commented on #120
Yup! My apologies.

[2016-11-26 06:01] groue commented on #661
The consequence of this bug are serious: some CocoaPod just don't have any reference documentation online anymore. No reference, and broken links from other documentation resources.

[2016-11-26 06:03] groue commented on #661
This bug is a **crasher**. I advise that it is repriorized, and that the CocoaPods team is notified when it is fixed.

[2016-11-26 06:11] jpsim commented on #190
No Ruby experience necessary. This feature could be written entirely in Swift, since it falls squarely in the purview of [SourceKitten](https://github.com/jpsim/SourceKitten).

[2016-11-26 06:11] jpsim commented on #610
This is a problem with jazzy because it's a problem with one of jazzy's dependencies (xcinvoke).

[2016-11-26 06:12] istx25 commented on #190
the _purr view_ of [SourceKitten](https://github.com/jpsim/SourceKitten). 😆

[2016-11-26 06:13] istx25 commented on #190
But sounds good to me. Even better. I have Swift experience so I'm even more comfortable implementing this at some point if no one else grabs it.

[2016-11-26 06:15] istx25 commented on #610
Didn't realize [xcinvoke](https://github.com/segiddins/xcinvoke) was open source. Definitely. I'll add it to my list of items to get around to at some point. We can file an issue/PR on that repository so we can get it closed here. 😸

[2016-11-26 06:16] jpsim commented on #633
This was fixed in SourceKitten (at some point). I don't know if the version currently used by jazzy includes the fix or not.

[2016-11-26 06:17] istx25 commented on #633
So we should be able to close this once https://github.com/realm/jazzy/pull/679 is merged in.

[2016-11-26 06:18] istx25 commented on #633
Just to be safe.

[2016-11-26 06:19] jpsim commented on #639
This would be a great feature. Until that's supported, you can document with `/// :nodoc:` to omit the docs.

[2016-11-26 06:19] jpsim commented on #637
This is a duplicate of (several?) other issues tracking adding support for non-standard Markdown.

[2016-11-26 06:21] jpsim commented on #660
The top comment isn't standard doc comment syntax. To document the enum members, you need to add doc comments to each.

[2016-11-26 06:22] istx25 commented on #637
Since you have a little more familiarity with the issues, do you mind linking to some of those duplicates and then we can close this issue? No point keeping several open. We should consolidate the info and feature requests and use one as a tracker, imo.

[2016-11-26 06:23] jpsim commented on #678
Try newline between directives:

[code]

[2016-11-26 06:23] istx25 commented on #660
I'll hand off this issue to @jpsim. He knows more about the issue than I do. Cheers!

[2016-11-26 06:27] jpsim commented on #633
As long as we can confirm it resolves @AndyIbanez's case, yes.

[2016-11-26 06:28] istx25 commented on #610
Sounds good!

[2016-11-26 06:37] jpsim commented on #666
None of the templates have `{{module_version}}`. @rlepinski is this a feature request? Would you like jazzy to make the module version available to Mustache templates?

[2016-11-26 07:20] svdo commented on #661
I have the same issue with my [RichString](https://github.com/svdo/swift-RichString) CocoaPod. It has a few `#if os(iOS)` and `#if os(macOS)` in there. The commit where it started to fail is c21ab54fab4cb21b4e54e00884cf672a72be67d2. In that commit, I moved some of the platform-dependent code into one file, instead of having several files that only belonged to one target (and hence did not need a `

[2016-11-26 07:31] p2 commented on #305
I haven't had this issue since I removed the empty Swift file (empty save for an `import UIKit`, which was only there trying to circumvent an Xcode 7 unittest issue).

[2016-11-26 08:15] MrAlek commented on #621
Our issue is solved at least. It magically started working as we added more stuff into our framework. Haven't had a single problem since.

[2016-11-26 10:01] ollieatkinson commented on #660
Ok, is this a bug in Xcode and it's documentation tooling then?

[2016-11-26 13:19] GawenBerger commented on #305
I told you everything you need to know earlier in this post, as p2 also said you just need any project with an empty swift file (or at least no func/class declaration, which mean an empty file with `import` still cause the crash).

[2016-11-26 17:09] jpsim commented on #660
What makes you think this is a bug anywhere? You're using syntax that isn't documented anywhere as a valid way to document enums and their members.

[2016-11-26 17:11] jpsim commented on #661
@orta could this have happened after the recent changes to use `swift_version` from CP trunk?

[2016-11-26 17:11] jpsim commented on #305
Ah, this is likely a duplicate of the other issue(s) where we're tracking better handling of empty projects.

[2016-11-26 17:19] ollieatkinson commented on #660
To clarify this documentation is automatically generated by Xcode when you press `CMD + alt + /` above the enum. I use it to document functions, variables etc too.

[2016-11-26 17:36] jpsim commented on #660
I see. Ok, that does change things. Thanks for clarifying that. Jazzy could certainly use that documentation if the individual members don't have doc comments.

[2016-11-26 17:48] rlepinski commented on #666
@istx25 version 0.7.2.

@jpsim yes feature request. None of the templates use it but the command line options accept the module version so it would be nice to expose it for moustache templates.  Sorry for not providing more information when I originally created the ticket.

[2016-11-26 18:06] jpsim commented on #666
Sure, that's easily exposable. Let's just add it to [doc.rb](https://github.com/realm/jazzy/blob/master/lib/jazzy/doc.rb) much like `language` is currently exposed.

[2016-11-26 20:51] jpsim commented on #661
I could reproduce this by running `jazzy` in the root of https://github.com/svdo/swift-RichString. I'm looking into it.

[2016-11-26 20:57] jpsim commented on #661
I could trace it back to 5802a19, which added a third sorting field (`usr`) but not all declarations have a USR (like when `#if` conditional compilation blocks are used). It's an easy fix.

[2016-11-26 21:12] #661 closed

[2016-11-26 21:12] jpsim commented on #661
Fixed.

[2016-11-26 21:15] jpsim opened #687 "Danger integration broken"
Thoughts on what could be causing this @orta? https://travis-ci.org/realm/jazzy/builds/179101307

[code]

[2016-11-26 21:24] juangamnik commented on #141
Phew, great. Was a bit anxious, that that's it (especially as I had no time yet to look into it and it doesn't look better in the near future)

[2016-11-27 07:57] svdo commented on #661
That was quick, great job @jpsim!!

Any idea when this is going to be released? I assume  @orta only uses released versions of Jazzy, and I'd love the docs for my pod to work again... :)

[2016-11-27 16:16] segiddins commented on #399
Nope, sorta lost interest and got busy with CocoaPods 1.0

[2016-11-27 16:26] segiddins commented on #661
@svdo orta typically has cocoadocs pointing to a commit of jazzy rather than a released version, so making a PR to https://github.com/CocoaPods/cocoadocs.org might be the fastest way to get this working ;)

[2016-11-27 16:27] segiddins commented on #610
Help reviewing that PR would definitely make getting it merged/released go faster ;)

[2016-11-27 16:59] svdo commented on #661
Done!
https://github.com/CocoaPods/cocoadocs.org/issues/488

[2016-11-27 21:06] garricn commented on #659
I believe I'm having the same issue.

[2016-11-27 22:26] agentk commented on #605
With @lloydsargent's permission, I don't mind creating a PR to include the theme.

[2016-11-28 00:13] lloydsargent commented on #605
You have my permission.

[2016-11-28 00:15] agentk commented on #605
Cheers, I'll work on that tonight and ping you in the PR for review.

[2016-11-28 00:16] agentk commented on #605
Is there anything significant about the name `cana`?

[2016-11-28 02:38] WildDylan commented on #683
Hey, thanks for your suggestion, i tried this.
<img width="1400" alt="qq20161128-0 2x" src="https://cloud.githubusercontent.com/assets/2519544/20654630/09adf56e-b556-11e6-84f0-e03bc9c2a8f9.png">

but also get error:

[code]

And the xcodebuild log:

[code]

whitch one should i use for `Use Legacy Swift Language Version`?

<img width="534" alt="qq20161128-1 2x" src="https://cloud.githubusercontent.

[2016-11-28 02:56] WildDylan commented on #683
Can't build when change to `YES `

[2016-11-28 03:29] WildDylan commented on #659
#683 same issue

[2016-11-28 07:14] norio-nomura commented on #663
I guess that SourceKitten would be able to load multiple version of SourceKit same time, because Xcode loads them from both of `Swift_2.3.xctoolchain` and `XcodeDefault.xctoolchain` same time.

[2016-11-28 10:18] agentk commented on #605
I have added and push the canna theme to: https://github.com/agentk/jazzy/tree/theme-canna.

And I think I should have been clearer about the the issue I opened. The `canna` theme only differs from the `apple` theme in the `jazzy.css.scss` file by removing the colour theming support and and changing the section styling. It would probably be better to introduce support for theme 'subclassing' to al

[2016-11-28 12:38] orta commented on #683
Try add the swift version to the parameters in the terminal - Jazzy/CocoaPods has no idea which version of swift you're using
[code]

[2016-11-28 17:50] JoshHrach commented on #454
I generated documentation last Wednesday. We have extensions for Date, UILabel, UIDevice, and UIViewController. All have the same level of documentation. Only the Date extension is showing up in our documentation.

[2016-11-28 21:25] lloydsargent commented on #605
1. > Is there anything significant about the name canna?

It is the name of a plant/flower (Ms Google can show you what it looks like) that is dear to me as well as the name of my business, Canna Software.

2. > And I think I should have been clearer about the the issue I opened. The canna theme only differs from the apple theme in the jazzy.css.scss file by removing the colour theming support and

[2016-11-29 00:46] liuxuan30 commented on #621
@jpsim As I said earlier:
[code]

[2016-11-29 00:47] liuxuan30 commented on #623
Thanks!

[2016-11-29 00:48] liuxuan30 commented on #618
OK, will do.

[2016-11-29 00:49] liuxuan30 opened #688 "Does custom_categories support reg expression?"
one question, it seems like custom_categories does not support reg expression?
Let's say I have many classes with some prefix: some starts with Line, some starts with Bars:

BarChartView.swift,
BarChartData.swift,
LineChartView.swift,
LineChartDataSet.swift

I want to group them into Line Type and Bar Type,
[code]
It won't have any effect. Instead, I have manually list all the classes. Am I wrong?

[2016-11-29 02:05] WildDylan commented on #683
@orta thanks, but it's not work. My swift version is `3.0.2`.
Add `--swift-version`, will caught an error `xcrun not found`

[2016-11-29 02:13] pcantrell commented on #683
@WildDylan Sounds maybe like #656, which is waiting for https://github.com/segiddins/xcinvoke/pull/7 to be merged.

[2016-11-29 02:24] WildDylan commented on #683
@pcantrell thanks, so i use `jazzy --podspec NetworkSDK.podspec` without `--swift-version`.
When  segiddins/xcinvoke#7 can be merge?

[2016-11-29 18:56] mikelehen commented on #678
We ran into this as well.  It'd be nice if Jazzy was a little more tolerant of newlines being absent.

[2016-11-29 19:11] ikkentim commented on #678
Also, would love support for `@code ... @endcode`, I dug into the code and it seems jazzy doesn't support it.

I ended up using a few quick regex replaces to add newlines into my comments and format code blocks like so:
[code]
and then replace these before letting jazzy do it's job:
[code]

[2016-11-29 20:42] mikelehen opened #689 "Tolerate extra leading spaces after * in multiline comments."
When parsing a comment with a style like this:

[code]

Jazzy ends up producing documentation like:

It would be great if Jazzy would be tolerate extra leading whitespace.

[2016-11-29 22:57] istx25 commented on #688
Hi @liuxuan30. Thanks for reaching out. I don't believe `custom_categories` supports regular expressions but I'm going to rope in @jpsim. I'm pretty new so he may have more to say.

[2016-11-29 22:59] istx25 commented on #618
@liuxuan30, replied on there. from my limited understanding, but maybe @jpsim will have more to say.

[2016-11-30 01:14] liuxuan30 commented on #688
If not supported yet, I guess it would be a good feature to have.. typing multiple names are killing me

[2016-11-30 12:23] svdo commented on #656
Now CocoaDocs is broken because if this :( CocoaPods automatically adds swift version to podspec, so it's not possible to "not specify swift version" :( Hope the PR on xcinvoke gets merged quickly. If not, we should consider switching to a fork of xcinvoke (or remove it entirely??).

[2016-11-30 13:45] segiddins commented on #656
@svdo or you can help verify the xcinvoke PR...

[2016-11-30 14:38] svdo commented on #656
Xcode 5 doesn't run on my computer :(

[2016-11-30 22:01] pcantrell commented on #656
Sam just cut a new xcinvoke release (0.3.0) that may fix this.

[2016-12-01 02:27] xohozu opened #693 "Is there multi-language supports?"
A few days ago, I want to translate some existing awesome open-source framework's documentation into native language in-place. If keeping the original documentation words, jazzy will produce not friendly (or ugly) html pages.

Does there exist some ways I missing to generate multi-language supports for jazzy, like source code have two version, Objective-C & Swift, which can switch quickly by a but

[2016-12-01 19:30] jpsim commented on #610
@segiddins @pcantrell is this supported with xcinvoke 0.3.0?

[2016-12-01 19:30] jpsim commented on #656
Fixed in #691.

[2016-12-01 19:30] #656 closed

[2016-12-01 19:57] segiddins commented on #610
Nope, still haven't gotten review on the alternate toolchain PR

[2016-12-01 20:05] jpsim commented on #610
I wasn't even aware there _was_ such a PR. I'll take a look.

[2016-12-01 20:06] jpsim commented on #610
Heh, actually my comment above indicates that I _was_ aware of it, I just forgot.

[2016-12-01 21:44] jpsim commented on #618
I don't think `custom_categories` supports globbing or wildcard expansion, or anything like that, but I could be wrong and I'm too lazy to look up the implementation, and apparently so's everyone else since no one's replied.

[2016-12-01 22:22] jpsim commented on #663
Yeah, this was introduced in Xcode 8 as `SourceKit.framework`, which is itself mostly written in Swift and I surmise probably has a decent amount in common with `SourceKittenFramework.framework`. Unlike `sourcekitd.framework`, that component isn't open source.

[2016-12-06 01:18] joninsky commented on #683
I got a little closer with

`jazzy --podspec PBBluetooth.podspec --swift-version 3.0.1`

“Use Legacy Swift Language Version” set to "No"

[2016-12-06 22:12] AnthonyOliveri commented on #564
For anyone wondering how to implement @jpsim's suggestion, here is a simple example of how to combine API docs for a framework and one of its Cocoapods dependencies using bash.

[code]

[2016-12-07 18:43] istx25 commented on #683
I don't believe Jazzy has this support right now so please feel free to file another issue with this feature request, @joninsky. 😸 💃 💯

[2016-12-07 19:51] jpsim commented on #659
It'd be helpful when people post that they're having a problem, that they would share enough information for a jazzy contributor to look further into it. Such as steps to reproduce. It looks like there's a lot more info in #683 so I'll read up on that one.

[2016-12-07 19:52] jpsim commented on #454
@JoshHrach is this with jazzy 0.7.3? What steps exactly could I follow to trigger this issue?

[2016-12-07 19:56] jpsim commented on #605
Part of the reason why the flow for adding themes isn't super fluid and effortless is that we've only added one theme so far! If there were more themes to add, we'd find more areas to improve that experience 😉.

That's why I'm excited at the potential of adding a new theme!

So @agentk / @lloydsargent are either of you able to make a PR adding this `canna` theme?

[2016-12-07 20:02] jpsim commented on #621
Thanks, I had missed that. Although there's no `ChartsRealm` folder.

Trying to adapt the steps to generate docs, the docset was properly generated.

Here are the steps I've taken to try to reproduce this:

[code]

[2016-12-07 20:03] jpsim commented on #623
It doesn't look like the `ChartsRealm` directory exists. Perhaps it was removed? Could you update this thread with the latest information? Thanks!

[2016-12-07 20:04] jpsim commented on #623
Also see my comment in https://github.com/realm/jazzy/issues/621#issuecomment-265557247 for some related details.

[2016-12-07 20:05] jpsim commented on #689
@mikelehen if you'd like to fix this, the code that parses these kinds of comments lives in SourceKitten and is entirely written in Swift, which should make it easier if you don't have any Ruby experience.

https://github.com/jpsim/SourceKitten/blob/0.15.2/Source/SourceKittenFramework/String+SourceKitten.swift#L538-L559

[2016-12-07 20:06] jpsim commented on #688
We'd love a PR, @liuxuan30!

[2016-12-07 20:07] jpsim commented on #693
No, jazzy doesn't have the ability to split documentation into different language variants like you're proposing.

That'd be an amazing feature to add though! Would you be interested in building this functionality yourself, @xohozu?

[2016-12-07 20:10] jpsim commented on #683
Yes, jazzy _does_ actually support emoji and other multi-byte characters in documentation comments, even function or variable names, etc.

That doesn't prevent bugs from creeping in though, and it looks like @joninsky has provided adequate steps to reproduce. @istx25 would you be interested in looking further into this?

[2016-12-08 00:47] jpsim commented on #637
Sorry I haven't found the time to dig around for this yet. It's still on my todo list.

[2016-12-08 02:24] liuxuan30 commented on #623
@jpsim it's there:
<img width="412" alt="image" src="https://cloud.githubusercontent.com/assets/4375169/20995197/645e0bac-bd30-11e6-8f34-748145d7af11.png">

[2016-12-08 03:20] jpsim commented on #623
No, it doesn't appear to be there: https://github.com/danielgindi/Charts

![image](https://cloud.githubusercontent.com/assets/474794/20996371/03339fdc-bcb2-11e6-994c-68f4bbaa122b.png)

Is there a previous release I should be checking out?

[2016-12-08 03:34] liuxuan30 commented on #623
Sorry, it seems like it has been a while after I ask this and the structure changed.
However, please use ChartsDemo or ChartsDemo-OSX as example.

The idea is the same, Charts is one project along with two other projects like ChartsDemo-OSX, and we want to generate doc for all of them, not just Charts.

[2016-12-08 06:59] jpsim commented on #623
Reading back the initial comment in this thread, you're asking for functionality that doesn't exist in Jazzy currently.

Today, jazzy only builds docs for a single module at a time. However, you can run `sourcekitten doc` multiple times and merge their output json, and pass that result to `jazzy --sourcekitten-sourcefile` to do this yourself. See https://github.com/realm/jazzy/issues/564#issuecomm

[2016-12-09 06:37] liuxuan30 commented on #623
OK, thanks!

[2016-12-09 06:37] #623 closed

[2016-12-09 14:58] dirtyhenry commented on #657
#664 seems to be a duplicate.

I have the same issue. One complementary information: only classes generated at compile-time by Xcode from my Core Data model appears in jazzy output. If I get it out of my target, the documentation is empty again.

[2016-12-09 19:16] ericleich commented on #407
I ran into the same issue, and then uninstalling activesupport-3.2.18 fixed it for me.

I can't explain why jazzy wouldn't try to use activesupport-4.2.4 in the first place though.

[2016-12-10 22:59] SDGGiesbrecht commented on #429
As of **0.7.3**, this is still a problem.

The following is an update‐to‐date, specific and consice description:

Jazzy treats generic type parameters as undocumented symbols. This results in an incorrect (deceptively low) documentation coverage percentage being displayed.

The undocumented.json output contains entries of the form:

[code]

Compare this [source](https://github.com/SDGGiesbrecht/SD

[2016-12-11 01:04] SDGGiesbrecht commented on #429
I submitted a [pull request with a fix](https://github.com/realm/jazzy/pull/696).

Until it is accepted, you can clone my fork at https://github.com/SDGGiesbrecht/jazzy, checkout the fix-429-generic-types branch, build jazzy from source ([Instruction are under “Development”](https://github.com/realm/jazzy)) and run the modified version.

[2016-12-11 03:59] SDGGiesbrecht commented on #673
This has been annoying me for a while. @istx25, you are correct that the problem is related to casing. However, Swift’s own API Design Guidelines use capitalized forms.

See [here](https://swift.org/documentation/api-design-guidelines/#write-doc-comment) under “Write a documentation comment...”
&nbsp;&nbsp;&nbsp;&nbsp;→ “More Detail”
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;→ “Optionally, c

[2016-12-11 23:30] samsonjs commented on #637
Sorry for the dead image link up there. Just for reference [here's what I'm talking about](http://static.samhuri.net/jazzy.png). The special Markdown sections are duplicated in the body text so you end up with the same info repeated for each method, like parameters, return value, complexity, etc.

[2016-12-12 18:10] istx25 commented on #429
Awesome, thanks for filing the PR. I'll get someone to look at it stat. :)

[2016-12-12 19:09] #529 closed

[2016-12-12 19:09] #553 closed

[2016-12-12 19:10] #644 closed

[2016-12-12 19:14] istx25 commented on #664
Closing as a duplicate of #657.

[2016-12-12 19:14] #664 closed

[2016-12-13 00:16] SDGGiesbrecht opened #699 "Unsafe characters end up in documentation filenames."
Swift function names allow (and require in the case of the colon) characters that are dangerous to use in filenames and URLs. Jazzy naïvely uses these function names when it assigns filenames to the HTML it outputs. This results in problems when one attempts to host the documentation.

For example, the following code is valid Swift:

[code]

But the resulting file is `/(_:_:).html`, which is a dis

[2016-12-13 00:57] jpsim commented on #699
There are a number of open issues tracking better handling of file/URL generation for invalid characters. Such as #146, #361, #547, #558. No PR has quite handled this generically, cleanly and comprehensively enough to be accepted IMO.

[2016-12-13 02:35] SDGGiesbrecht commented on #699
Well, right now GitHub Pages fails to load any of my documentation unless I manually remove the offending files, leaving broken links in my wake. So I’m somewhat impatient to see it fixed.

I’ve read the other threads you mentioned @jpsim, and I have a possible solution with them all in mind. I’ll explain it here for posterity in a minute and then try my hand at a pull request, but I realize this

[2016-12-13 03:50] SDGGiesbrecht commented on #699
Design Considerations:

**1. Sanitized filenames should only accessible with a configuration option for now.** Because...
(a) Any sanitization scheme inevitable reduces human readability, and that is sometimes undesirable.
(b) Many projects do not expose any functions that trigger problems. Where that is case, there is no sense in messing with human readability for no reason.
(c) Documentation tha

[2016-12-13 06:55] #429 closed

[2016-12-15 20:38] JesseBlack82 commented on #657
I have verified that the problem doesn't exist with jazzy 0.7.3

[code]

The output is the same as the first comment in the issue, but does have documentation for more than just the README.md.

[2016-12-15 23:36] SDGGiesbrecht commented on #637
@samsonjs, a similar issue involving parameters and returns has now been fixed. However, I’m not sure what you mean by “complexity, etc.” being duplicated. (I only see complexity once in your image).

Please run the development version of Jazzy to see if there are any problems left. To do so, simply run the following commands inside the same folder where you would normally run `jazzy`.

[code]

If

[2016-12-15 23:46] samsonjs commented on #637
@SDGGiesbrecht Correct you are are about complexity not being duplicated, my mistake. And the current development version is behaving as expected for returns and params. Thanks!

[2016-12-15 23:46] #637 closed

[2016-12-15 23:54] SDGGiesbrecht commented on #629
@blochberger, you are using non‐standard Markdown. Specifying a language like ` ```swift ` is a [GitHub extension](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown).

As far as Xcode rendering it properly anyway, I think you are just lucky.

Try it without the `swift` marker and see what happens. Syntax coloring is automatic in both Xcode and Jazzy anyway.

[2016-12-16 00:18] SDGGiesbrecht commented on #431
Parameters are now supported both uppercase and lowercase, both grouped and separate. Build from source (see [here](https://github.com/realm/jazzy/issues/637#issuecomment-267476495)) or wait for the next release.

[2016-12-16 00:18] #431 closed

[2016-12-16 00:36] SDGGiesbrecht commented on #428
There is nothing random here. Methods and properties (within a given scope) are in precisely the order they appear in source.

You can manipulate this order to your hearts content by arranging individual declarations within their respective file and arranging whole files in the Xcode project under Build Phases → Compile Sources. Drag the files around in the list to sort them.

If you are using the

[2016-12-16 05:44] SDGGiesbrecht commented on #670
A word of warning about `/// :nodoc:`: It is Jazzy‐only. Quick Help does not understand it.

I used to use `/// :nodoc:` for overrides, but then I realized Quick Help displays “:nodoc:” to anyone who ⌥‐clicks the symbol or looks at the Quick Help tab. Duplicating the documentation is admittedly annoying, but that’s still the only thing that satisfies Quick Help.

(`/// :nodoc:` is, however, perfec

[2016-12-16 09:38] dirtyhenry commented on #657
The problem still exists with my project: https://github.com/Bootstragram/Piggy.
I just get the README.md documented even it I get a very similar output to the one in the 1st comment, and a very similar `.jazzy.yaml` as well.

[2016-12-16 18:36] JesseBlack82 commented on #657
@dirtyhenry I don't see many documentation comments in that repo.  Does adding `min_acl: private` to your `.jazzy.yaml` get you all the documentation you are looking for?

[2016-12-16 20:30] jpsim commented on #629
Actually @SDGGiesbrecht that _shouldn't_ be it, since we use recarpet with `fenced_code_blocks: true`: https://github.com/realm/jazzy/blob/v0.7.3/lib/jazzy/jazzy_markdown.rb#L89

And according to their readme: https://github.com/vmg/redcarpet#and-its-like-really-simple-to-use

[2016-12-17 00:03] SDGGiesbrecht commented on #629
I went back and tried it myself.

You are right. My suggestion only stops “swift” from creeping in. It does not solve the line breaking.
[code]
is better than:
[code]
but still doesn’t match behaviour elsewhere:
[code]

I was wrong about two syntax colouring too. Syntax coloring doesn’t exist in Quick Help. And for Jazzy, specifying the language *is* required.

[2016-12-17 00:53] SDGGiesbrecht commented on #629
I think the following means either recarpet has a bug, or at least recarpet cannot be used to parse callouts as if they were lists.

⁂

I tracked it to [`sourcekitten.rb`, line 262](https://github.com/realm/jazzy/blob/master/lib/jazzy/sourcekitten.rb#L262).

Printing before and after...
[code]
...shows the problem happens there...
[code]

Printing the parameters of [`jazzy_markdown.rb`, line 262](

[2016-12-17 01:33] SDGGiesbrecht commented on #465
All current callouts are now supported. (2016‐12‐16)

[2016-12-17 01:33] #465 closed

[2016-12-17 02:09] jessesquires commented on #465
cc @rnystrom

[2016-12-18 16:15] dirtyhenry commented on #657
Adding `min_acl: private` fixed my problem. Even undocumented, I was still expecting getting the list of classes, protocols, structs, etc. I hadn't considered this parameter. Thanks @JesseBlack82 for your help.

[2016-12-18 17:37] JesseBlack82 commented on #657
@dirtyhenry No problem.  Everything is `internal` by default, and isn't getting added to the documentation.  If you would like to exclude private types, functions and methods, you can use `min_acl: internal`.

[2016-12-18 23:43] 1ec5 opened #706 "Superclass in Objective-C class declaration is unlinked"
The declaration for an Objective-C class has any protocols autolinked, but the superclass is never autolinked. For example, [this declaration](https://www.mapbox.com/ios-sdk/api/3.4.0-beta.5/Classes/MGLPolygon.html) reads:

[code]

“MGLMultiPoint” should link to the MGLMultiPoint class reference, but it remains unlinked. By contrast, “MGLOverlay” does link to the MGLOverlay protocol reference.

Th

[2016-12-18 23:56] 1ec5 commented on #362
#707 implements the `+[RLMRealm defaultRealm]` and `-[RLMRealm writeCopyToPath:encryptionKey:error:]` syntaxes without regressing the `RLMRealm.configuration` syntax.

[2016-12-19 03:08] iamamused commented on #672
Having a similar issue trying to pass the workspace and schema:

[code]

[2016-12-19 19:44] jpsim commented on #657
I think #238 would help a lot in improvement the user experience when the ACLs are too private for what Jazzy is documenting.

Is there anything tracked in this issue that wouldn't be covered by that? I think this issue may have been overloaded a bit with more than just one problem. @dirtyhenry's issue seems to have been due to not having any public ACLs (or too high of a min ACL, depending on how

[2016-12-19 19:45] jpsim commented on #706
Thanks for reporting and fixing this promptly @1ec5!

[2016-12-19 19:50] jpsim commented on #672
What happens when you run `xcodebuild -workspace Example.xcworkspace -scheme Example`?

[2016-12-20 15:16] pronebird commented on #608
Set `--framework-root MediumSDKObj-C`, that helped me to solve the same issue.

[2016-12-20 18:25] sfyz commented on #609
I think I'm running into a similar issue... If I just create a Single View Controller project in Objective-C and add this method to, say, the ViewController class:

`- (void)doSomethingWithBool:(BOOL)somebool withString:(NSString*)somestring withInt:(int)someint withColor:(UIColor*)somecolor;`

I'll see this Swift syntax in the documentation:

`func doSomething(withBool somebool: Any!, withString

[2016-12-20 18:58] sfyz opened #709 "Cross-references to other methods?"
I can't find a way to cross-reference other methods within the documentation. Is this possible in Swift or Objective-C?

I'm currently trying to document an Objective-C codebase and I can't find a way to ref other methods (though I think properties work). It appears that you can reference another class either implicitly (` 'MyOtherClass' `) or explicitly (`<MyOtherClass>`) and the xref works fine,

[2016-12-20 19:12] jpsim commented on #609
Yes, that's the same issue. See https://github.com/realm/jazzy/issues/609#issuecomment-263036449

[2016-12-20 19:13] jpsim commented on #709
This is in the process of being added in #707, originally tracked in #362. So I'll be closing this as a duplicate. But thanks for the suggestion!

[2016-12-20 19:13] #709 closed

[2016-12-20 19:21] sfyz commented on #709
Oh wow. I missed that when I filed the issue, but great to hear the news! thx.

[2016-12-21 10:29] 1ec5 opened #711 "`render_item': no implicit conversion of String into Array (TypeError)"
84babadf5fbb36a1abeab6856ab81c7566945023 from #710 causes jazzy to fail to generate Mapbox iOS and macOS SDK documentation.

Steps to reproduce:

1. Check out mapbox/mapbox-gl-native@f431b1b73ba6181cbdc35ae712e9ad1f1cca4f98
1. Run `make idocument OUTPUT=~/Desktop/docs` or `make xdocument OUTPUT=~/Desktop/docs`

[code]

~~Meanwhile, running `make idocument` (for the iOS SDK) on the same commit seem

[2016-12-21 12:37] 1ec5 commented on #362
More syntaxes we should autolink:

* [ ] `+defaultRealm`
* [ ] `-writeCopyToPath:encryptionKey:error:`

[2016-12-21 18:02] #711 closed

[2016-12-21 23:56] 1ec5 commented on #706
Fixed in #713. 🎉

[2016-12-21 23:57] #706 closed

[2016-12-22 03:35] SDGGiesbrecht commented on #699
The configuration option `use_safe_filenames` and the corresponding flag `--use-safe-filenames` are now available. Until 0.7.4 is released, you can build and run from source (in your project directory):
[code]
Any other flags you normally use (such as `--clean`) can be added to the second last line.

[2016-12-22 03:35] #699 closed

[2016-12-22 03:35] SDGGiesbrecht commented on #146
The configuration option `use_safe_filenames` and the corresponding flag `--use-safe-filenames` are now available. Until 0.7.4 is released, you can build and run from source (in your project directory):
[code]
Any other flags you normally use (such as `--clean`) can be added to the second last line.

[2016-12-22 03:36] SDGGiesbrecht commented on #361
The configuration option `use_safe_filenames` and the corresponding flag `--use-safe-filenames` are now available. Until 0.7.4 is released, you can build and run from source (in your project directory):
[code]
Any other flags you normally use (such as `--clean`) can be added to the second last line.

[2016-12-22 03:36] SDGGiesbrecht commented on #547
The configuration option `use_safe_filenames` and the corresponding flag `--use-safe-filenames` are now available. Until 0.7.4 is released, you can build and run from source (in your project directory):
[code]
Any other flags you normally use (such as `--clean`) can be added to the second last line.

[2016-12-22 03:36] #547 closed

[2016-12-23 15:35] 0xced commented on #541
I just tried again with jazzy 0.7.3 and the *Empty Type Definitions entry in the sidebar with a broken link* issue seems solved. All the other issues are still not addressed.

[2016-12-24 00:55] 1ec5 opened #714 "Quotation marks in code blocks are converted to <q> tags"
jazzy automatically converts quotation marks inside code blocks into `<q>` tags. Though the code looks more sophisticated as a result, it doesn’t necessarily compile. For example, see the Mapbox iOS SDK’s [MGLCircleStyleLayer](https://www.mapbox.com/ios-sdk/api/3.4.0-beta.6/Classes/MGLCircleStyleLayer.html) documentation, which places a three-backtick code block in the class’s description to provi

[2016-12-24 00:55] 1ec5 commented on #630
#714 is one contributing factor to the unexpected behavior reported in this issue.

[2016-12-24 19:01] 1ec5 opened #715 "Autolink inside guides, readme"
References to classes, methods, etc. should be autolinked inside the readme and guides just like in an abstract.

/cc @captainbarbosa

[2016-12-25 11:15] lukaskollmer opened #716 "Create documentation for entire Xcode project"
Hi,

I'd like to use jazzy to create documentation for my entire Xcode project, not just an framework.
Is that possible?

Thanks!

[2016-12-25 15:31] andersio opened #717 "Extension constraints including conditional conformance"
Not sure if I have missed something — it seems Jazzy does not generate a section title for extensions with different constraints to differentiate themselves from each other. Is that only possible by manually adding `// MARK: -`?

[2016-12-26 05:05] andersio opened #718 "Parameter documentation is not stripped from the description."
[It seems Jazzy somehow let parameter docs in this specific format slip through](http://reactivecocoa.io/reactiveswift/docs/latest/Protocols/SignalProtocol.html#/s:Fe13ReactiveSwiftRxS_14SignalProtocolwx5ErrorzO6Result7NoErrorrS0_13observeValuesFFwx5ValueT_GSqPS_10Disposable__):

[code]

That's said the parameter docs were parsed correctly. Just that it wasn't stripped from the description afterwa

[2016-12-26 19:07] SDGGiesbrecht commented on #718
This has been fixed. (It is a duplicate of #431 and #673). It is just waiting for the next release. If you want to use the fixed version now, see [here](https://github.com/realm/jazzy/issues/637#issuecomment-267476495) for instructions on building from source.

[2016-12-26 19:07] #718 closed

[2016-12-26 19:23] SDGGiesbrecht commented on #717
You are correct. There is no automation for this yet.

Using `// MARK: -` is exactly how I do it right now. Compare [this source](https://github.com/SDGGiesbrecht/SDGLogic/blob/3d5e3a29abef0081c53e5c41475a31fc0bf31503/Sources/SDGLogic/Other/RawRepresentable.swift#L13) and [this output](https://sdggiesbrecht.github.io/SDGLogic/Extensions/RawRepresentable.html) (2016‐12‐26).

I have even added [this

[2016-12-26 20:25] andersio commented on #718
Glad to know. Thanks. 😸

[2016-12-30 13:16] awedeebawe commented on #529
@istx25 I noticed, that when I pass scheme with whitespace (e.g "MyTarget Dev"), the build succeeds, but the jazzy-fication fails with the same reason the OP found.
When I pass scheme like "MyTarget", the build succeeds, and the parsing - too.

May be SourceKitten doesn't parse the escaped whitespace properly.

[2016-12-30 15:27] istx25 commented on #529
Hi @awedeebawe, would you be able to file a new issue with a test project that reproduces this problem as well as reference this issue? From there we can evaluate the problem and find a fix!! :)

[2017-01-06 02:00] #362 closed

[2017-01-06 17:32] bgalamb commented on #658
Hi. I had some time to perform some investigation on this topic...
In some case the document which comes out from SourceKit is expressing TODO: comments in a different way. By echoing the stdout variable form doc_builder.rb line 76    `build_docs_for_sourcekitten_output(stdout, options)`

different structures were found for TODO: comments :

             {
              "key.kind" : "source.lang.s

[2017-01-06 19:24] jpsim commented on #658
This is used for structuring and organizing declarations in sections. For example, see Realm Swift's API docs that make use of this: https://realm.io/docs/swift/latest/api/Classes/Realm.html

![image](https://cloud.githubusercontent.com/assets/474794/21730013/9e950058-d402-11e6-8a0e-3bd5bb3ec32d.png)

[2017-01-07 09:26] #539 closed

[2017-01-08 09:42] 1ec5 commented on #714
This looks to be some kind of weird interaction between rouge and redcarpet, but I can’t quite figure out what the issue is.

In the meantime, I came up with a workaround in mapbox/mapbox-gl-native#7629 that turns the `<q>` tags into plain text on page load using JavaScript. That PR is specific to the theme we’re using for the Mapbox iOS/macOS SDK documentation. Would you accept a PR that works ar

[2017-01-08 12:24] dimpiax commented on #491
[code]

[2017-01-08 22:29] dimpiax commented on #487
@istx25 any progress?

[2017-01-08 23:36] istx25 commented on #487
We have not actively started working on this feature, afaik. Feel free to take on the feature if you'd like to though.

[2017-01-08 23:37] dimpiax commented on #487
On which technology this feature can be written?

[2017-01-08 23:59] istx25 commented on #487
SourceKitten is written in Swift and Jazzy is written in Ruby. I'm not exactly sure where these changes need to be made but definitely feel free to look into that or @jpsim could probably put you in the right direction.

[2017-01-09 00:00] dimpiax commented on #487
Who knows, maybe I will find some time for implementing this useful feature.
@jpsim could you provide me some details about?

[2017-01-09 04:22] grosch commented on #619
Using version 0.7.3 I listed this in my .jazzy.yaml file:

source_directory: .
exclude: ./ExpandableDatePicker/Time\ Zone/Short/ShortTimeZoneDelegate.swift

And when I run jazzy, it still says parsing ShortTimeZoneDelegate.swift.  I've also tried without the path listed and just used the filename, but that made no difference.

[2017-01-09 04:25] grosch commented on #619
I also just tried what p2 did, using "**/*TimeZoneDelegate.swift" and that didn't work either.

[2017-01-09 04:40] grosch opened #722 "Ignore specific functions"
Is it possible to  put some type of comment into the method doc that tells jazzy to ignore it?  For example, in a custom UITableViewController I've overridden viewDidLoad.    I need the view controller to be documented, but I don't want viewDidLoad appearing in my generated docs for obvious reasons.

[2017-01-09 04:53] 1ec5 commented on #120
appledoc splits the Xcode docset generation process into three steps:

https://github.com/tomaz/appledoc/blob/12dd17471508624bd9d0b0006aa5d9da9959cc0f/Generating/GBDocSetOutputGenerator.m
https://github.com/tomaz/appledoc/blob/12dd17471508624bd9d0b0006aa5d9da9959cc0f/Generating/GBDocSetInstallGenerator.m
https://github.com/tomaz/appledoc/blob/12dd17471508624bd9d0b0006aa5d9da9959cc0f/Generating/GBD

[2017-01-09 08:06] 1ec5 commented on #13
Invoking a command like this:

[code]

yields output like this:

[code]

We can construct a URL based on one of these file path–apple_ref combinations:

https://developer.apple.com/documentation/CoreLocation/Reference/CLLocation_Class/index.html#//apple_ref/occ/cl/CLLocation

which redirects to:

https://developer.apple.com/reference/corelocation/cllocation#//apple_ref/occ/cl/CLLocation

The query

[2017-01-09 14:38] segiddins commented on #722
`/// :nodoc:`

[2017-01-09 16:29] harlanhaskins opened #723 "Generate Badges for Documentation"
I'd love to be able to generate a badge I can link to in my README.
I'd be willing to implement it if y'all think it'd be a welcome addition. 👍

[2017-01-09 17:01] 1ec5 commented on #723
It would be cool if the badge could indicate the documentation coverage as a percentage, like the default theme's navigation bar does.

[2017-01-09 18:58] SDGGiesbrecht commented on #487
I’m not familiar with RemObjects Fire, but I use jazzy with the Swift Package Manager.

[code]

Making a different type of project look enough like a package to let the Swift Package Manager generate the Xcode project may be relatively simple. Try something like this as a bare‐bones starting point:

[code]

With real paths, the above script is already sufficient to run jazzy, provided the project

[2017-01-09 19:14] grosch commented on #722
Thank you!

[2017-01-09 19:14] #722 closed

[2017-01-10 17:43] jpsim opened #726 "Support search in 'apple' theme"
Search support was added to the 'fullwidth' theme in #725, but is still not exposed in the front-end of the 'apple' (default) theme.

[2017-01-10 18:36] jpsim commented on #723
Great idea!

[2017-01-10 18:37] jpsim commented on #714
Yeah, I think that's a worthwhile hack to get in place for others to use.

[2017-01-10 18:38] jpsim commented on #13
Nice finds @1ec5!

[2017-01-10 18:51] jpsim commented on #487
If your project supports the Swift Package Manager, you don't need an Xcode project to generate docs for it. For example:

[code]

Which generates this: https://static.realm.io/jazzy_demo/Vapor

At some point, I'll build a more direct way to do this with a single command using jazzy.

But right now, it's not too complicated, just three commands: `swift build`, `sourcekitten doc`, `jazzy`.

[2017-01-10 18:52] kylebrowning commented on #487
@jpsim Link is 404

[2017-01-10 18:53] jpsim commented on #487
it's still uploading. Shouldn't take more than another 60 seconds.

[2017-01-10 19:29] kylebrowning commented on #487
This doesnt work with iOS, tvOS, or watchOS executables because swift build only builds executables for the host system.

[2017-01-10 19:43] jpsim commented on #487
@kylebrowning my comment above explicitly stated that this is an option of your project supports the Swift Package Manager...

[2017-01-10 20:09] harlanhaskins commented on #723
Alright, then I'll get started on this. Is there any issue with downloading badges from http://shields.io?

[2017-01-10 20:10] jpsim commented on #723
I don't think so.

[2017-01-10 20:13] harlanhaskins commented on #723
Great, so the flow I'm looking for is:

- Determine documentation percentage (which is displayed on the main site)
- Make a request to `https://img.shields.io/badge/documentation-<percentage>-<color-depending-on-percent>.svg`
- Store that in the `docs/` folder in a consistent place, and allow the user to point to that svg file with a link to wherever they host their docs?

[2017-01-10 20:16] harlanhaskins commented on #723
I'm thinking:

| Percentage | Color |
|------------|-------|
| 100% | brightgreen |
| 85% < x < 100% | green |
| 60% < x < 85% | yellowgreen |
| 30% < x < 60% | yellow |
| 10% < x < 30% | orange |
| < 10% | red |

Works?

[2017-01-10 20:45] harlanhaskins commented on #723
Should this be dependent on `options.hide_documentation_coverage`? What should we do if that's set?

[2017-01-10 20:48] jpsim commented on #723
That's a good point. Let's not generate this if `hide_documentation_coverage` is set, because this feature requires Internet access, so it'd be nice to have some sort of way to disable it if you're offline and need to generate docs.

[2017-01-10 20:50] harlanhaskins commented on #723
Right, is there a way to check that? I'm using `Open::URI` for it.

[2017-01-10 20:52] harlanhaskins commented on #723
Actually, `open()` will return `nil` if the user isn't connected. Then we can just not serialize an image.

[2017-01-10 21:18] SDGGiesbrecht commented on #487
@kylebrowning, the package just has to *build* on the host system; it need not actually *run*.

For *some* iOS (et al.) frameworks, the Swift Package Manager may still be a reasonable hack until something better comes along. The amount of work it involves depends on the particular project and how many iOS‐only symbols it deals with.

Function implementations the host system cannot build can be sur

[2017-01-10 21:22] jpsim commented on #723
IMO we should fail if we can't generate the badge, since once we have this, some may rely on it being available when building their docs.

[2017-01-10 21:25] harlanhaskins commented on #723
Is there an existing way to handle failures and clean up? I have the base feature implemented.

[2017-01-10 21:26] harlanhaskins commented on #723
Also, I can't seem to get it building -- I have sqlite3 installed from brew, but I still get

[code]

[2017-01-10 21:26] harlanhaskins commented on #723
And I can successfully `sudo gem install sqlite3`

[2017-01-10 21:27] jpsim commented on #723
Nothing existing, no. Building from a podspec also often requires a network connection and we just fail catastrophically if the network couldn't be reached.

[2017-01-10 21:30] jpsim commented on #723
How are you building? `bundle install && bundle exec rake build` should do the trick...

[2017-01-10 21:31] harlanhaskins commented on #723
That's from `bundle install` 😢

[2017-01-10 21:33] jpsim commented on #723
Maybe ruby experts have an idea? /cc @segiddins

[2017-01-10 22:37] friedbunny opened #728 "Dedupe shared theme resources"
Search added some new external dependencies and #626 brought up the question of what to do with those and other shared theme resources:

1. Continue storing copies in individual themes.
2. Refactor, such that shared resources live in one place but are somehow made accessible to each theme.

Candidates for option 2: jquery, lunr, typeahead, and potentially jazzy’s search logic.

[2017-01-10 23:45] segiddins commented on #723
If `gem install sqlite3 -v '1.3.13'` succeeds but `bundle install` fails, thats a bundler issue, if not it's an issue with your ruby installation (likely not looking with the correct library search paths).

[2017-01-10 23:47] harlanhaskins commented on #723
I'm using `ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin16]` and `sqlite3 3.16.2 2017-01-06 16:32:41`

[2017-01-11 12:48] galorlanczyk opened #729 ""show in GitHub" button"
Hi,

I am new to jazzy, I generated docs for my project and all is created fine.
Now I saw on other jazzy docs a button under each variable named "Show in Github" that directs the user to the GitHub implementation.
Any help would be appreciated!

Thanks,
Gal

[2017-01-11 16:03] 1ec5 commented on #729
These links show up if you specify the `github-file-prefix` option.

[2017-01-11 16:28] galorlanczyk commented on #729
Can you help me with a small example how to use this? couldn't find this tag in the documentation.

Thanks a lot

[2017-01-11 16:45] friedbunny commented on #729
`jazzy --help` says:

Here’s how [realm-cocoa](https://github.com/realm/realm-cocoa/blob/2caec0737ab5bf6365ccb19c685a7643505d6e55/build.sh#L261) and [Mapbox](https://github.com/mapbox/mapbox-gl-native/blob/4ce8d3e4e313fd436d2c8bc233d44ab90d23c64d/platform/ios/scripts/document.sh#L41) use this flag.

[2017-01-11 17:30] galorlanczyk commented on #729
@1ec5 @friedbunny Thanks a lot!

[2017-01-11 17:30] #729 closed

[2017-01-12 12:57] Mozahler commented on #657
I was having this issue with version 0.7.3.  I specify min_acl: private in my .yaml, yet entire classes were missing.
The missing content appeared after adding to the jazzy command line:
--clean

[2017-01-12 18:14] 1ec5 opened #730 "Custom category index page should list guides"
Any guides that are part of a custom category should show up in that category’s index path. Currently, if you specify a custom category that contains only guides, [its index page shows up empty](https://www.mapbox.com/ios-sdk/api/3.4.0-beta.7/Guides.html).

/cc @captainbarbosa @friedbunny

[2017-01-12 21:53] bolismauro opened #731 "Jazzy.yml scheme with spaces"
I'm trying to create a jazzy.yml file that contains a custom scheme to use in `xcodebuild`. The problem is that the scheme has a whitespace

I tried the following
`xcodebuild_arguments: [-workspace,Project.xcworkspace,-scheme,Scheme iOS]`
`xcodebuild_arguments: [-workspace,Project.xcworkspace,-scheme,SchemeiOS]`
`xcodebuild_arguments: [-workspace,Project.xcworkspace,-scheme,Scheme_iOS]`
`xcodebuil

[2017-01-12 23:08] esopher opened #732 "Extensions to Core Data managed classes in Xcode 8/Swift3/iOS10 are skipped if "--skip-undocumented" is used"
When using Core Data in Xcode 8/Swift 3/iOS 10, the class files for entities no longer need to be generated, but when extending an entity class (NSManagedObject), (and documenting it), Jazzy skips the extension if "--skip-undocumented" is used. Presumably this is because the parent class is not documented, and in fact doesn't exist, at least not in a .swift file in the project?

To reproduce this,

[2017-01-13 01:51] jpsim commented on #731
jazzy shells out to [SourceKitten](https://github.com/jpsim/SourceKitten), so if you figure out how your `xcodebuild_arguments` get converted to a `sourcekitten` command, you can invoke it directly, which will log the location of the xcodebuild log file:

[2017-01-13 14:07] bolismauro commented on #731
Alright it was a combination of mistakes I've made. Nothing related to jazzy.
I close this

[2017-01-13 14:07] #731 closed

[2017-01-13 18:09] rameezhandel commented on #657
I was trying to generate document using jazzy with Xcode8.2 & swift 3.0, its always generating the document only for 3 files which is in 3 different targets. And when i try to run the command: "jazzy -x -workspace,MyProject.xcworkspace,-scheme,MyProject" it just hangs for a long time & no response.

[2017-01-14 00:37] rcbello commented on #723
I encountered the same error and I had these lines on the mkmf.log file:

Undefined symbols for architecture i386:
  "_sqlite3_libversion_number", referenced from:
      _t in conftest-265d8e.o
ld: symbol(s) not found for architecture i386

Undefined symbols for architecture i386:
  "_sqlite3_libversion_number", referenced from:
      _t in conftest-265d8e.o
ld: symbol(s) not found for architectur

[2017-01-15 19:03] harlanhaskins commented on #723
@rcbello Thank you! It's working for me and I can test my patch.

[2017-01-16 01:25] ekimia commented on #619
same problem here trying to exclude a directory. Tried with the config file and the `exclude` flag

[2017-01-16 15:57] zsstrehli commented on #658
I created a Pull request for this issue (thanks @bgalamb), please review:
https://github.com/realm/jazzy/pull/733

We want to use Jazzy for enterprise project and this is one of the two blocking errors.
Thanks in advance!

[2017-01-16 18:37] grosch commented on #619
I never got this to work, but I put the :nodoc: option in the public methods of the file I wanted excluded and that worked for me.

[2017-01-16 23:15] wittedhaddock opened #734 "`jazzy` could not parse compiler arguments from `xcodebuild` output."
Using `jazzy version: 0.7.3` XC 8.1, if I execute `jazzy` in the root directory of my xcodeproj, I get

[code]

Suggested elsewhere is the removal of my existing `./docs/` directory and running `jazzy --min-acl internal` which yields the same above error output.

[2017-01-17 08:43] chenny408 commented on #597
I'm having the same issue, is there a solution for this?

[2017-01-17 19:21] jpsim commented on #734
@wittedhaddock it would help if you posted the log output:

[2017-01-17 20:20] #723 closed

[2017-01-18 00:38] wittedhaddock commented on #734
@jpsim For sure!

FYI running `sudo jazzy` resolves the problem. Looks like it's just a perm issue, probably a poor first installation on my end?

[code]

[2017-01-18 01:11] jpsim commented on #734
Yes, that seems to be the problem.

[2017-01-18 01:30] wittedhaddock commented on #734
Thank you!

[2017-01-18 01:30] #734 closed

[2017-01-18 14:05] nrbrook opened #735 "Crash"
I've just installed and run, but it is crashing:

[code]

[2017-01-18 19:37] jpsim commented on #735
From the README:

parameters to jazzy:

   of `macosx`)

Looks like you're missing `--umbrella-header` and `-framework-root`

[2017-01-18 22:59] rcbello commented on #141
Hi, I am not sure if there is already a fix on the way for this issue but I am using this fix on my copy of jazzy.
In sourcekitten.rb, I modified `self.make.doc.info` to
[code]
from
[code]

I just moved the check and handling of undocumented structure to come after adding its declaration.
I have zero experience in Ruby so I'm putting it here to see if this is the right change or if this is the rig

[2017-01-19 12:21] nareshkommana opened #736 "Could not parse compiler arguments from `xcodebuild` output."
`Running xcodebuild
Could not parse compiler arguments from `xcodebuild` output.
Please confirm that `xcodebuild` is building a Swift module.
Saved `xcodebuild` log file: /var/folders/h_/3nl4prlj0fd73l47kfrl8zy00000gp/T/xcodebuild-6D8CD983-607D-48C4-9777-2625E9D3B2F2.log
Failed to generate documentation
/Library/Ruby/Gems/2.0.0/gems/jazzy-0.7.3/lib/jazzy/executable.rb:36:in `execute_command': /Lib

[2017-01-19 18:42] jpsim commented on #736
@nareshkommana did you look at the log saved in `/var/folders/h_/3nl4prlj0fd73l47kfrl8zy00000gp/T/xcodebuild-6D8CD983-607D-48C4-9777-2625E9D3B2F2.log`, as the error message indicated?

Could you please post the contents of the log here so we can tell you why this failed?

[2017-01-23 10:57] nareshkommana commented on #736
Build settings from command line:
    CODE_SIGN_IDENTITY =
    CODE_SIGNING_REQUIRED = NO

=== CLEAN TARGET FMDB OF PROJECT _Pods WITH THE DEFAULT CONFIGURATION (Release) ===

Check dependencies
The file “FMDB.xcconfig” couldn’t be opened because there is no such file. (/Users/nareshbabukommana/WorkSpace/Voltron/Voltron-iOSSDK/Voltron-iOSSDK-Github/Voltron-iOSSDK-Github_Express/Target Support File

[2017-01-23 18:07] jpsim commented on #736
There's your problem.

[2017-01-24 10:11] vnramachandra opened #738 "Jazzy throwing RunTimeError for watchOS framework."
Hi Guys,

   I am facing issue while compiling documents for watchOS SDK. I have updated the jazzy version to the latest version 0.7.2. Following is the error.

/usr/local/lib/ruby/gems/2.2.0/gems/jazzy-0.7.3/lib/jazzy/executable.rb:36:in `execute_command': /usr/local/lib/ruby/gems/2.2.0/gems/jazzy-0.7.3/lib/jazzy/SourceKitten/bin/sourcekitten ["doc", "--objc", "/Volumes/Development/Projects/Proje

[2017-01-24 13:17] nareshkommana commented on #736
@jpsim
From log I observed that it is searching for **FMDB.xcconfig** from
**Path1** : **/Users/nareshbabukommana/WorkSpace/Voltron/Voltron-iOSSDK/Voltron-iOSSDK-Github/Voltron-iOSSDK-Github_Express/**Target Support Files/FMDB/FMDB.xcconfig

but **FMDB.xcconfig** is present in
**Path2** : **/Users/nareshbabukommana/WorkSpace/Voltron/Voltron-iOSSDK/Voltron-iOSSDK-Github/Voltron-iOSSDK-Github_Expres

[2017-01-24 23:26] jpsim commented on #738
any chance you can share the project where this is failing with us? Or log the output of the `sourcekitten` invocation here?

[2017-01-25 04:35] vnramachandra commented on #738
Sure, I will share the project in a while.

[2017-01-25 05:01] vnramachandra commented on #738
[MyFramework.zip](https://github.com/realm/jazzy/files/728676/MyFramework.zip)

Here in the project, we have created aggregate called 'Universal' which builds universal Apple Watch framework and also inserted jazzy code which we are trying to generate documentation for. However, we are still observing the issue. Please have a look at it and let me know if you need any further details.

Thanks,
Ram

[2017-01-25 07:58] melbic commented on #368
I'm stuck with the @code problem as well. @shpakovski could you please create a pull request to merge your fix into jazzy?

[2017-01-25 22:54] jpsim commented on #738
This works:

[code]

[2017-01-30 20:44] sundeepgupta opened #742 "Generating Objective-C docs for the auto-generated MyFramework-Swift.h header"
I have a pure swift framework that I'm trying to generate Objective-C docs for. I realize this is not supported yet. But, I noticed that when the SDK is built, in the framework directory located in the derived data directory, a MyFramework-Swift.h file is being created. This header file includes documentation comments from my Swift code. So, I'm wondering how I can use this to generate Objective-C

[2017-01-31 14:32] sundeepgupta commented on #742
Here's a sample of the generated .h file:

[code]

[2017-01-31 20:37] grangej opened #743 "Support using non-default Swift toolchains"
I am seeing this error but when i run the same xcodebuild I get no errors from Xcode. I get 0% documentation.

`A compile error prevented NotificationURLLinkDelegate.viewControllerForLinkURL(notification:) from receiving a unique USR. Documentation may be incomplete. Please check for compile errors by running `xcodebuild`

[2017-01-31 20:56] jpsim commented on #743
@grangej what are the steps to reproduce this?

[2017-01-31 21:41] grangej commented on #743
@jpsim I am running against a pure swift framework. I have tried both with and without specifying the Xcode build options.

Currently I have the following build :

jazzy -x -workspace,IdentityOperations.xcworkspace,-scheme,IdentityOperations

[2017-01-31 21:46] jpsim commented on #743
can you share the affected project? (IdentityOperations)

[2017-01-31 22:27] grangej commented on #743
Unfortunately not , I will try to reproduce in something simple.

Sent from my iPhone 6 Epic! (tm)

[2017-02-01 17:28] TitouanVanBelle commented on #636
Hi @istx25. Anything new regarding this?
Cheers!

[2017-02-02 19:07] grangej commented on #743
Ok, I have reproduced error with a simple framework.

https://github.com/grangej/Logger

Here is the output:

`Running xcodebuild
Parsing Logger.swift (1/5)
Parsing CrashlyticsRecorder.swift (2/5)
Parsing ErrorProtocal.swift (3/5)
Parsing SumoLogger.swift (4/5)
Parsing SuplexLogger.swift (5/5)
A compile error prevented Logger.log(logMessage:logPrefix:) from receiving a unique USR. Documentation ma

[2017-02-02 19:35] jpsim commented on #743
Looks like you're trying to use a Swift 3 toolchain to build a Swift 2 codebase...

Try specifying the correct Swift toolchain:

[code]

[2017-02-02 19:49] grangej commented on #743
@jpsim ! Thank you ! Can I specify this in the .jazzy.yaml ?

[2017-02-02 20:28] jpsim commented on #743
Once https://github.com/segiddins/xcinvoke/pull/5 is merged, you'll be able to do this:

[code]

[2017-02-03 17:08] Sega-Zero commented on #488
Not having that kind of trouble on version 0.7.3 👍

[2017-02-03 18:32] #488 closed

[2017-02-04 13:49] shpakovski commented on #368
@melbic I don’t think those fixes are good for production, so they are not worth PR. Sorry for the slow reply!

[2017-02-07 02:44] vicng opened #744 "Can't generate Obj-C docs for CF_SWIFT_NAME getter macro"
Jazzy crashes when generating Obj-C docs for headers that specify the `CF_SWIFT_NAME` macro with a getter format (described on this [page](https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/InteractingWithCAPIs.html)).

Example of header:

[code]

Output:
[code]

[2017-02-07 06:44] allenhsu commented on #399
+1 for supporting podspec in Objective-C

[2017-02-08 19:22] jpsim commented on #744
Thanks for reporting this. Could you share more? Ideally steps we can run to reproduce, or the output from the SourceKitten invocation? Thank!

[2017-02-08 20:52] vicng commented on #744
Steps to reproduce:
1) Create new Swift single-view application (named "JazzySandbox")
2) Add Obj-C header file "Test.h" and click the button to automatically create the bridging header file.
3) Paste the following into "Test.h":

[code]

4) In "JazzySandbox-Bridging-Header.h", add:
`#import "Test.h"`

5) In the "JazzySandbox" project folder, run this command in Terminal:
[code]

If you comment ou

[2017-02-08 23:00] jpsim commented on #744
Thanks for sharing those detailed steps, it really helps!

Looks like you found a bug in Apple's SourceKit framework 😄

I'll explain how I troubleshooted this in case it helps you or others debug this without me in the future.

The output from your first comment shows the `sourcekitten` command that was invoked and failed.

[code]

What I did was open SourceKitten's Xcode project and specify the "

[2017-02-08 23:15] jpsim commented on #744
An Xcode project to repro this, in case it's helpful:

[Jazzy744.zip](https://github.com/realm/jazzy/files/762200/Jazzy744.zip)

[2017-02-09 10:06] huguesbr commented on #716
@lukaskollmer I don't think it's an issue. I'm using it to document my app.

from Jazzy docs:

[code]

By default `Jazzy` will document `public` API as it's mainly used for framework documentation. But you can change the level of the ACL to `private` or `internal` to fit your needs.

You can also set this variable in a `.jazzy.yaml` to avoid typing it each time
Here is my `.jazzy.yaml`:

[code]

[2017-02-09 18:12] jpsim commented on #716
Looks like @lukaskollmer is asking for a way to document multiple modules (whether frameworks, apps, test bundles, etc.). Jazzy fundamentally builds docs on a per-module basis.

Although it's not too hard to get it to document multiple modules at once. You basically need to combine the json output from multiple `sourcekitten doc` commands and feed it to `jazzy --sourcekitten-sourcefile` much like

[2017-02-09 18:12] jpsim commented on #716
Hopefully that answers your question @lukaskollmer

[2017-02-09 18:12] #716 closed

[2017-02-09 19:52] bgalamb commented on #658
The same weird wrongly generated TODO can be seen here too, which is referenced in the root readme at part "Section description abstracts"

http://reswift.github.io/ReSwift/master/Classes/Store.html

[2017-02-13 09:17] #606 closed

[2017-02-20 17:43] friedbunny opened #747 "Bump minimum Ruby version to v2.1.0?"
As of jazzy v0.7.4, the effective minimum Ruby version became v2.1.0 — https://github.com/realm/jazzy/commit/b0e5c4b7cfa05c41d43feb3b3e2ca2c9efbcd410#diff-598546a0c342527401dade0e669b6772R431 switched to `Psych.safe_load()`, which was added in v2.1.0.

It would be trivial to fix Ruby 2.0.0 support:

[code]

... but, given that Ruby 2.0 has been deprecated [for a year](https://www.ruby-lang.org/en/

[2017-02-20 17:47] kkaefer commented on #747
2.0 seems to be the version that is installed by default on macOS.

[2017-02-20 17:59] friedbunny commented on #747
For clarity/posterity, here is the error you encounter when running jazzy v0.7.4 with Ruby 2.0.0:

[code]

[2017-02-21 16:52] jemmons opened #749 "Generating Docset Feed XML?"
Does Jazzy generate Docset Feed XML for Dash (as described [here](https://kapeli.com/docsets#dashdocsetfeed))? I don't see it, but maybe there's some combination of options I'm missing?

If not, is there any reason this couldn't be generated, say in the `docsets` directory? It seems like all we'd need to make the file is the `module_version` and the relative location of the docset tgz, both of whi

[2017-02-21 22:36] segiddins commented on #749
https://github.com/realm/jazzy/blob/master/lib/jazzy/docset_builder.rb#L33
I think jazzy should do it if given a version and a root URL

[2017-02-22 03:19] SDGGiesbrecht opened #750 "Symbols in Uncompiled #if Directives List Missing Or Erroneous Declarations"
**Edit:** As of 0.8.3

Documentation for symbols in `#if` statements is no longer lost, but:

1. The declaration section for such symbols is unpredictable. Sometimes the declaration is lost completely, other times it displays the declaration of a parent symbol instead.

2. There is nothing in the output that demarcates under which compiler conditions a symbol is or is not present. (And `// MARK: -

[2017-02-22 13:43] johnmckerrell opened #751 "Undocumented property of extension that implements a protocol gets previous comment in the file"
When running jazzy against the following Swift file, the property `shouldBeHidden` on the `Jazzy` struct extension gets documented with "Make some noise". If I remove the documentation comment on the property in the protocol definition then it no longer shows up at all (which I think is the correct thing as the property on the extension is not documented). Interestingly if I add a normal comment,

[2017-02-22 16:17] jemmons commented on #749
Yup! I was missing `root_url`. Thanks for the help!

[2017-02-22 16:17] #749 closed

[2017-02-22 17:40] friedbunny opened #752 "Custom theme path expansion crashes w/Ruby 2.4"
Using a custom theme with jazzy v0.7.4 and Ruby v2.4.x results in a crash [here](https://github.com/realm/jazzy/blob/0e77e46b041295009835788b5e29a88831006f07/lib/jazzy/config.rb#L298):

[code]

This is because newer versions of Ruby strictly disallow `return` from within a block, such as:

[code]

/cc @1ec5

[2017-02-22 17:52] 1ec5 commented on #752
Nice, this will avoid issues like #711 in the future.

[2017-02-22 20:18] rlaguilar commented on #625
Hi @istx25. I'm having the same issue here. When I try to generate the docs for [this project](https://github.com/rlaguilar/doc-test), it doesn't generate the docs for the iOS app. I'm using the command:

`jazzy --min-acl internal`

[2017-02-23 00:27] sealz commented on #650
Having the same (similar?) issue here. I've got a cocoapod that is in a private repo that has a dependency on yet another cocoapod in the same private repo. When I try and reference the podspec using the `--podspec` flag it complains that it cannot find the specification for the private repo dependency.

Something along the lines of the `--sources` flag that @aliak00 mentioned in a previous commen

[2017-02-23 18:17] dougdoe commented on #650
I also just found this thread and am having the same issue.

@aliak00, were you able to workaround this problem? If so, can you share your solution?

[2017-02-23 20:06] sealz commented on #650
My workaround was to not use the `--podspec` argument and instead use the `--xcodebuild-arguments` flag with the same arguments I would use to get the project to build when using `xcodebuild`. I'm not exactly sure what the tradeoff here is, but it seems to build and generate the documentation as expected.

My `.jazzy.yaml` looks like this:

[code]

[2017-02-24 05:21] SDGGiesbrecht commented on #487
I didn’t let that stop me. [Workspace](https://github.com/SDGGiesbrecht/Workspace) can now stitch the Swift Package Manager, iOS, and Jazzy together.

To see a demonstration, paste the following script into Terminal, and *voilà*—instant documentation. (Assuming Xcode 8.2.1 is on the local device.)

[code]

@kylebrowning, let me know if there are additional project‐specific hurdles still in the wa

[2017-02-24 22:16] SDGGiesbrecht opened #754 "Separate “undocumented.json” from “docs”?"
Right now, CI, validation, change tracking, etc. that use tools like `diff` or `git diff` need to go to extra work to explicitly ignore each `undocumented.json` (and the docset `.tgz` that contains one), because `source_directory` causes output differences unrelated to the source code.

Also, is it wise to print the user’s username and file structure without notifying them—particularly into docume

[2017-02-27 01:35] pcantrell commented on #754
The original rationale was to make it easy for developers — and especially for developer tools — to open the offending file.

It's the same reason why compilers, linters, and other build tools often emit full paths, though granted they usually send those paths to the console and not a file.

[2017-02-27 23:18] SDGGiesbrecht commented on #754
Yes, that makes sense.

Would it be reasonable to output `undocumented.json` separately from the `docs` folder, or at least stop producing duplicates inside the `.docset` and `.tgz`?

That would make it easier for those of us who want to prevent inadvertent publishing of `undocumented.json`.

[2017-03-02 15:01] cassdeckard opened #755 "Conflicting type declarations issues when project is under /private"
We have a project we are using `jazzy` to generate docs for, and it normally works fine but if the project is checked out to any directory descendent of `/private`, we get the following error per each class:
[code]
And all members for every class are documented as being global in addition to members of their respective classes.

This is easily reproducible just by creating a basic Xcode project wi

[2017-03-02 20:54] DevelopingMe commented on #734
I am having the same issue... I tried running sudo jazzy and rendering the same error message. Is there any videos on how to run Jazzy?

[2017-03-05 03:26] pcpLiu opened #756 "Could not parse parameters correctly with '_' underscore in name"
Hi,

I met a problem that when I named the parameters of a function with `_` underscore in it. The generated doc could not be parsed correctly. I tried to use escape like `\_`, but not working.

[code]

Generated doc:
![image](https://cloud.githubusercontent.com/assets/3357328/23584243/65c98434-0129-11e7-9ee2-127a3496b624.png)

Is there any way to solve this or I have to use camel case?

[2017-03-06 06:15] SDGGiesbrecht commented on #756
Good catch, @pcpLiu.

There are several aspects to your question.

## Best Practice

The [Swift API Design Guidelines](https://swift.org/documentation/api-design-guidelines/) strongly recommend camel case:

[code]

It would be wise to do so whenever possible. That being said, I realize in some cases there are good reasons for deviating from the guidelines, such as the following usage case that wil

[2017-03-07 00:26] pcpLiu commented on #756
Thanks for the great explanations!

Guess I'll follow the guidelines.

[2017-03-07 00:26] #756 closed

[2017-03-08 23:52] #752 closed

[2017-03-09 00:26] #747 closed

[2017-03-09 00:39] jpsim commented on #734
@DevelopingMe please file an issue with steps to reproduce so we can help you.

[2017-03-09 19:44] jpsim commented on #750
Ideally, you'd only ever need a single set of output documentation, which would indicate which parts are available under which conditions (e.g. platforms & versions).

[2017-03-09 19:45] AtharvaVaidya commented on #608
I'm facing this issue as well.

[2017-03-09 19:50] jpsim commented on #751
Thanks for filing this, and with enough detail to investigate what's happening. The issue is likely in [SourceKitten](https://github.com/jpsim/SourceKitten) though.

[2017-03-09 19:51] #518 closed

[2017-03-09 19:52] jpsim commented on #754
I'd vote for keeping it in the output directory (`docs/` by default) but not copying them into the `.docset` and `.tgz`.

[2017-03-09 19:54] jpsim commented on #755
lol, really? If this is actually a bug, it's one of the more interesting ones I've seen. Let's investigate.

[2017-03-09 19:54] jpsim commented on #608
Full steps to repro would be appreciated.

[2017-03-09 20:42] SDGGiesbrecht commented on #750
@jpsim, that’s what I suspected. I will turn this into a bug report.

I do not have time to implement it at the moment. I’m reasonably content for now with the workaround above, but I will leave the issue open because the reaction emoticons indicate that the bug is affecting others as well.

[2017-03-09 20:44] AtharvaVaidya commented on #559
I'm still having this issue.

[2017-03-09 21:05] AtharvaVaidya commented on #643
How'd you solve this?

[2017-03-09 21:25] jpsim commented on #750
By the way, generating docs with `--podspec` will generate them for all supported platforms and merge them together, which is what you see on http://cocoadocs.org.

[2017-03-09 21:25] jpsim commented on #559
@mobdim @AtharvaVaidya if you see mangled arguments, you're probably missing the `--`

[2017-03-09 22:34] SDGGiesbrecht commented on #750
Thanks, @jpsim.

Unfortunately `--podspec` does not work in my case, because it would...
- not handle Linux ([my current workaround](https://github.com/SDGGiesbrecht/Workspace/blob/b53c3d0bb22a9d7a2756b1fc151d8a5e2c7325e9/Documentation/Documentation%20Generation.md#linux) does), and
- require enforcing CocoaPods support.

It also does not handle debug vs release, etc. (Though my way doesn’t either

[2017-03-09 23:23] jpsim commented on #750
Sure, I was mostly sharing in case you wanted to study the implementation 😄

[2017-03-09 23:37] mattdeckard commented on #755
Yep it's pretty weird. It really seems to only be in subdirectories of `/private` too. I tried creating another root-level directory with all of the same permission bits (including the extended attributes) and the same problem did not occur with its subdirectories.

[2017-03-09 23:41] SDGGiesbrecht commented on #750
@jpsim, Ah, I see now. Thank you.

[2017-03-09 23:41] jpsim commented on #755
Does the same thing happen when running `sourcekitten doc` directly? I'd suspect so, but even then it's surprising.

btw, I've been using jazzy with Jenkins since first writing it 2+ years ago without issue, so 🤷‍♂️

[2017-03-16 00:51] mootpointer commented on #537
I think I've run into a similar issue, I can help with repro if that's useful.

[2017-03-17 16:03] mattdeckard commented on #755
@jpsim Sorry, just got around to trying this.

Running `sourcekitten doc` on the project in `/var/test` doesn't produce any errors, but it does produce different JSON output than running on the same project in my home directory. The output when run in `/var/test` does seem to have duplicate entries which I'm sure is what is leading to jazzy getting confused. So this appears to be an issue with sou

[2017-03-18 07:55] 5SMNOONMS5 opened #758 "can't parse compiler arguments from `xcodebuild` output"
**Version**
[code]

**OS**
macOS Sierra

**Description**
This was my original code
[code]
And then it appeared error message
[code]
I fix it by replace my scheme from **GCFramework-iOS** into **GCFrameworkIOS**，because I will have other OS version framework , so have any idea how to let jazzy parse hyphen character in --xcodebuild-arguments

[2017-03-21 18:27] jpsim commented on #537
Hi @mootpointer, yes a repro case would be helpful

[2017-03-21 18:28] jpsim commented on #758
It's not that jazzy isn't parsing hyphens, it's that your scheme name `GCFramework-iOS` differs from your module name `GCFrameworkIOS`. Although that's only an educated guess based on the information you provided.

[2017-03-21 19:31] ThatsJustCheesy opened #759 "Crash With ObjC Methods Following Some Odd Naming Rules"
Who likes random corner-cases?! ;)

Jazzy will crash with a SourceKit error under the following (very odd) circumstances:
* SDK is macOS and AppKit is imported into the current file
* This file contains a class interface (with or without a prefix)
* In this interface, there is a _class_ method with the following naming scheme:
[code]
Where _classname_ is the name of the defining class with prefix

[2017-03-21 20:38] jpsim commented on #759
Could you please run that again with `export SOURCEKIT_LOGGING=3` before running `jazzy --objc --sdk macosx --umbrella-header myfile.h`? This is likely a SourceKit/swiftc bug and having those extra logs might help you get sufficient information to file an issue over at https://bugs.swift.org

[2017-03-21 21:17] ThatsJustCheesy commented on #759
I just dug through the log that that spit out, and as it turns out, the problematic methods are being imported into Swift as `launch()` and `launch(withParam:)`, while the others are being imported without modification (e.g. `pingSpecialProcess(withParam:)`). I don't know whether any AppKit classes define a method called `launch()` (I'm not a heavy user of Swift), but if they do, that might be the

[2017-03-21 21:19] jpsim commented on #759
Apple likely won't do much unless you can translate what you're seeing into a bug that they can reproduce with only Apple-provided tools (e.g. `swiftc` or Xcode).

[2017-03-21 23:52] ThatsJustCheesy commented on #759
Sorry for the noob-ish question, but… isn't SourceKit a closed-source Apple thing? So, what good would filing a Swift bug do? Or am I completely wrong and SourceKit is in fact controlled by the open-source Swift initiative in some way?

[2017-03-22 00:21] jpsim commented on #759
It's open source 😄

https://github.com/apple/swift/tree/master/tools/SourceKit

[2017-03-22 02:16] ThatsJustCheesy commented on #759
Great to know, and thanks for being so helpful!
I've filed the bug as [SR-4311](https://bugs.swift.org/browse/SR-4311). I'll close this now, as it isn't directly related to Jazzy. Thanks again.

[2017-03-22 02:16] #759 closed

[2017-03-22 02:27] jpsim commented on #759
Thanks for filing that!

[2017-03-22 06:46] 1ec5 commented on #120
From the [Xcode 8.3 release notes](https://developer.apple.com/library/prerelease/content/releasenotes/DeveloperTools/RN-Xcode/Chapters/Introduction.html#//apple_ref/doc/uid/TP40001051-CH1-SW160):

[2017-03-22 06:46] #120 closed

[2017-03-22 11:27] 5SMNOONMS5 commented on #758
Thanks for the response 。I used **GCFrameworkIOS** after faced this problem，My original scheme and module all name  **GCFramework-iOS**

[2017-03-22 16:57] jpsim commented on #120
Well that keeps things simple!~

[2017-03-23 05:33] SDGGiesbrecht commented on #754
May I try to implement this, or is more review required first?

[2017-03-23 05:50] jpsim commented on #754
If you want to do this, go for it!

[2017-03-23 09:32] 5SMNOONMS5 commented on #758
@jpsim. lol sorry, it was my mistake, I tried roll back via git and I used underline for the module name.

[2017-03-23 09:32] #758 closed

[2017-03-23 12:46] ankitthakur opened #760 "Jazzy Doc is not working. Giving sourcekitten error"
Hi team,

I am using XCode 8.2.1. Currently working on creating dynamic framework in Objective-C. Project is using workspace for Cocoapods.

Below is the script, we are using.

[code]

And we are getting below error.

[code]

I have installed Jazzy using Homebrew.

[2017-03-23 19:01] jpsim commented on #760
What happens when you run the sourcekitten command directly? How about when you run after running `export SOURCEKIT_LOGGING=3`?

[2017-03-23 23:39] andyjohns commented on #476
I get this error too. (using latest jazzy v0.7.5) is there any way to tell what file/class/method is causing the error? I could at least adjust the doc comment if I could find where it's coming from.

[2017-03-23 23:57] SDGGiesbrecht commented on #754
This is now implemented on `master`.

[2017-03-23 23:57] #754 closed

[2017-03-24 00:11] SDGGiesbrecht commented on #476
I think this is the same as #629. It has been investigated in more detail there.

@andyjohns, for callouts (such as `returns`, `parameter`, or `note`), only single‐line entries work right now.

[2017-03-24 01:34] ankitthakur commented on #760
I am using XCode to run command. Please share, how to use 'sourcekitten' command.

[2017-03-24 16:53] jpsim commented on #760
Please run the following:

[code]

Followed by your script:

[code]

and post the entirety of the response. I can't tell you what SourceKitten command is equivalent because the error you posted which includes the full command is cut off.

[2017-03-25 02:00] ankitthakur commented on #760
[code]

[2017-03-25 09:01] jonathanff commented on #760
Having same issue trying to make it work with Objective-C
 jazzy --objc

/Users/jonathanfuentesflores/.rvm/gems/ruby-2.2.2@global/gems/jazzy-0.7.5/lib/jazzy/executable.rb:36:in `execute_command': /Users/jonathanfuentesflores/.rvm/gems/ruby-2.2.2@global/gems/jazzy-0.7.5/lib/jazzy/SourceKitten/bin/sourcekitten ["doc", "--objc", "''", "--", "-x", "objective-c", "-isysroot", "/Applications/Xcode.app/

[2017-03-25 16:16] jpsim commented on #760
Wow, ok that's a massive generated command. @ankitthakur please run this, sharing the complete output, and if a log file is included, please share that too:

[code]

[2017-03-26 00:23] MKGitHub commented on #760
I have the same issue running jazzy --min-acl internal --author 'MK'

`Running xcodebuild
Could not parse compiler arguments from `xcodebuild` output.
Please confirm that `xcodebuild` is building a Swift module.
Saved `xcodebuild` log file: /var/folders/lw/91zv18tc8xlf330059bj2wsh0000gn/T/xcodebuild-E621AA4E-950D-49A4-809F-5ABCE1DD3E1A.log
Failed to generate documentation
/Users/mk/.rvm/gems/ruby-

[2017-03-26 00:45] IsaiahJTurner commented on #570
Some combination of this fixed it for me:
`PATH="$HOME/bin:$PATH"`
`sudo gem uninstall activesupport` (multiple versions installed)
`brew update ruby`
`brew link --overwrite ruby`
`sudo gem install jazzy`
`brew upgrade ruby`
`sudo gem update`
`sudo gem install activesupport`
No idea which combination it was. All I know is it works now.

[2017-03-26 02:28] jpsim commented on #760
@MKGitHub please share the contents of the log file so I can have enough information to help you: `/var/folders/lw/91zv18tc8xlf330059bj2wsh0000gn/T/xcodebuild-E621AA4E-950D-49A4-809F-5ABCE1DD3E1A.log`

[2017-03-27 06:05] ankitthakur commented on #760
@jpsim : Below are the commands and logs which I have tried as per your suggestion. Still we are getting the same issue:

[code]

[2017-03-27 12:22] yishuiliunian opened #762 "Build Success but jazzy crashed!!"
build with shell

[code]
the ternimal outpu is

[code]

but the log show it is build success

[code]

[2017-03-27 20:30] santieduardo opened #763 "Help me please"
`Building native extensions.  This could take a while...
ERROR:  Error installing jazzy:
	ERROR: Failed to build gem native extension.

    current directory: /Library/Ruby/Gems/2.0.0/gems/redcarpet-3.4.0/ext/redcarpet
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/bin/ruby -r ./siteconf20170327-6279-1cduu7i.rb extconf.rb
creating Makefile

current directory: /Library/Ruby/Gems/2.0.0/g

[2017-03-27 20:59] segiddins commented on #763
Building redcarpet (one of Jazzy's dependencies) seems to have failed

[2017-03-27 23:35] santieduardo commented on #763
I have redcarpet installed already, but I still can't install the jazzy :(

[2017-03-29 20:05] jpsim commented on #570
Thanks for sharing what worked for you @IsaiahJTurner.

[2017-03-29 20:05] #570 closed

[2017-03-29 20:09] jpsim commented on #760
@ankitthakur that's not at all the command I asked you to run. Please run the commands I posted in https://github.com/realm/jazzy/issues/760#issuecomment-289221763

[2017-03-29 20:10] jpsim commented on #762
That's a very short log. Did you truncate it? Seems you didn't include the part that made jazzy fail 🤔

[2017-03-29 20:13] jpsim commented on #763
@santieduardo could you please follow the steps from #409 and report back?

[2017-03-30 04:53] MESIRD opened #764 "Occur an error while generating doc with .jazzy.yaml"
I want to generate an Objective-C document for my personal project, but I get an error everytime when I run `jazzy` command.
I use the .jazzy.yaml sample of Realm(ObjC), and make some changes on it.
mine looks like below:
[code]
in the root dir of my `MyJazzyProject` project, I run `jazzy`, and this is what I get.
[code]

[2017-03-30 10:08] yishuiliunian commented on #762
@jpsim  ， i run it again, and attach the log file. please check it.
[code]
[xcodebuild-A67010FC-7412-4E61-99D4-B521B1BD39C6.txt](https://github.com/realm/jazzy/files/881773/xcodebuild-A67010FC-7412-4E61-99D4-B521B1BD39C6.txt)

[2017-03-30 18:56] jpsim commented on #764
The `.jazzy.yaml` file shouldn't be the jazzy command to run, but rather a YAML representation of jazzy's configuration options. Please replace the contents of the file with:

[code]

and run `jazzy` again.

[2017-03-31 02:58] MESIRD commented on #764
@jpsim
Thank you for your reply, I've revised the .jazzy.yaml as you said above, and now I encounter a new issue, which is the same problem as #760 .

I've followed your suggestion to run `jazzy` after executing
[code]
but it is still the same error.

[code]

[2017-03-31 03:11] jpsim commented on #764
How about running this?

[code]

[2017-03-31 03:15] MESIRD commented on #764
@jpsim
The output is:

[code]

[2017-03-31 03:19] jpsim commented on #764
All SourceKitten is doing is forwarding those arguments to libclang, and libclang is crashing. You should send the arguments that libclang needs to parse your headers.

[2017-03-31 03:55] MESIRD commented on #764
@jpsim
Thank you so much, and finally I make it.
This is my config file:

[code]

[2017-03-31 03:55] #764 closed

[2017-04-03 11:52] mgrebenets commented on #650
Is the `--podspec FILEPATH` used purely for building or also changes the way documentation is generated?

We commit our `Pods` directory with the project, so running `pod install` is not an issue for us.

I'm still curious though if I get some cool documentation features if `jazzy` is able to follow the URLs to dependency pods.

[2017-04-04 03:23] jpsim commented on #650
Specifying a podspec will automatically populate some of the other values (e.g. author) and it'll also generate docs for all supported platforms of the podspec, merging them together.

But it won't create links to external docs, or document modules other than the one you're documenting. We're tracking linking to external docs in #13.

[2017-04-06 02:24] mgrebenets opened #765 "Downloading coverage badge fails in 0.7.4 and above"
Hi there, I've installed `0.7.5` recently and noticed that `jazzy` fails when trying to download a coverage badge.

[code]

This doesn't just happen on TeamCity build server, but also on my development machine, which has more connectivity to outside world.

Our build agents have very restricted connectivity to external resource, so I wonder if badge downloading (and any other n/w calls) could be c

[2017-04-06 19:20] johnfairh commented on #765
Don't know if this helps but you can do "jazzy --hide-documentation-coverage" -- this prevents download of the badge but also means the coverage % is not displayed in the docs.

[2017-04-06 19:55] jpsim commented on #765
I think this is how connectivity errors from downloading the badge are reported.

I was briefly wondering if the fact that you're on Ruby 2.2.2 had any effect, but I just ran jazzy locally with that version of Ruby and it downloaded the badge just fine.

[2017-04-06 22:15] mgrebenets commented on #765
@johnfairh that would work, but we actually need the coverage %. We grep it from index HTML and use as a metrics value :)

@jpsim I guess that's related to our internal n/w and all kinds of security limitations around it. What is the shield URL? I could try to curl it directly or try to pull it from Ruby script and potentially find a workaround.

[2017-04-06 22:18] jpsim commented on #765
Here's how the URL is generated: https://github.com/realm/jazzy/blob/v0.7.5/lib/jazzy/doc_builder.rb#L265-L266

[2017-04-07 22:02] khallmark commented on #636
I'm getting this error also @istx25. Anything we can do?

[2017-04-11 08:06] ben-ole opened #767 "PlantUML support"
How is it about integrating plantUML to easily support UML diagrams in markdown sections?

[2017-04-13 23:04] jpsim commented on #636
Someone needs to debug more in-depth to see what clang flags are needed to support this.

[2017-04-15 10:45] ilyapuchka opened #768 "Lazy properties documentation includes unneeded code"
When documenting lazy properties jazzy can include it's actual code as part of it's declaration documentation.

Example - https://github.com/krzysztofzablocki/Sourcery/blob/master/docs/Classes/TypesReflectionBox.html#L176 In this example `=` is included as part of declaration documentation.

If the property body is defined in the same line it will be completely included in the declaration document

[2017-04-15 18:00] jpsim commented on #628
Fixed in #766.

[2017-04-15 18:00] #628 closed

[2017-04-19 00:19] jessesquires commented on #667
Is this the same issue as #518 ?

[2017-04-19 10:42] zsstrehli commented on #660
@istx25 Everyone agrees here that this is a real bug, I think labels should be updated. Thanks!

[2017-04-19 12:38] mgrebenets commented on #765
So I can see that the badge downloading was added in `0.7.5` compared to `0.7.3`.

Interestingly, I can successfully run `curl` like so:

[code]

Even behind the proxy.

But when I run `jazzy` command, it fails with the error I posted in the issue description.

As if it can't resolve the host name.
Could it be that `Net::HTTP.start` doesn't respect HTTP proxy env vars by default?
I have all 4 env

[2017-04-20 13:05] muffe opened #769 "Warnings with "unknown" source"
Hey there,

in the project I'm currently working on we have a few strange jazzy warnings of undocument code.
The problem is, the undocumented.json isn't really telling me where.

[code]

Every line in the AppDelegate.swift is properly documented, so I'm kind of out of ideas right now.

[2017-04-20 15:49] Nelyus commented on #608
I have the same error with:
[code]

However it works by specifying the full sdk path:
[code]

[2017-04-21 11:21] reitzig opened #771 "Parameter parsing needs to strip quotes"
On the shell, it's prudent to enclose parameter strings into double quotes. While `--author`
deals with them in the expected fashion, passing

	--author_url "<URI>"

to Jazzy leads to a rather graceless exception because the URI parsing method is called with `"<URI>"` instead of `<URI>`. I assume that other parameters have the same issue with the quotes ending up in the wrong places.

[2017-04-21 13:01] reitzig opened #772 "Inconsistent base directory for relative paths in YAML config file"
I have noticed that `output` and `readme` seem to be relative to the config file but `documentation` and `abstract` are relative to the current working directory.

My setup:

[code]

Since I want it to be run from `myproject`, script `makedoc.sh` is essentially this:

[code]

Running `doc/makedoc.sh` from `myproject`, I need to configure like so:

[code]

This is quite confusing. All paths should

[2017-04-21 16:46] segiddins commented on #771
This sounds like an issue with your shell rather than with jazzy

[2017-04-23 16:45] mikeKane opened #773 "Wont parse container app just extension with errors sync_2(param:f:)` has no USR"
I am running Jazzy on a Swift only project.  I am running  jazzy --min-acl private however I get build problems, and it never parses the container app just the extension.

[code]

[2017-04-23 16:47] mikeKane commented on #773
Same error occurs with the internal flag

`$ jazzy --min-acl internal
Running xcodebuild
Parsing Cx.swift (1/2)
Parsing PT.swift (2/2)
`sync_2(param:f:)` has no USR. First make sure all modules used in your project have been imported. If all used modules are imported, please report this problem by filing an issue at https://github.com/realm/jazzy/issues along with your Xcode project. If this token

[2017-04-23 16:50] mikeKane commented on #773
Also is there a way to exclude files?

[2017-04-24 06:58] ankitthakur opened #774 "Giving error while referring to Public nested files"
<img width="1105" alt="screen shot 2017-04-24 at 12 24 43 pm" src="https://cloud.githubusercontent.com/assets/75362/25325407/0f0f8750-28e9-11e7-8bef-cdb3b1625bbd.png">
I am having files in public folder, and using synx(https://github.com/venmo/synx), I have organized XCode groups with file system folders.

But when I am compiling the creating jazzy doc, it is giving error that public file is not f

[2017-04-24 07:12] reitzig commented on #771
I used bash like so:

[code]

(Whichever the cause, I use a config YAML now which does not have the problem.)

[2017-04-24 08:07] reitzig commented on #77
Fully agreed. Without looking into the setup of ReSwift, I'd not gotten anywhere. In particular, the custom categories feature is not even mentioned!

[2017-04-24 08:17] reitzig opened #775 "Linking to documentation pages should be easier"
Say I have a file `My Guide.md` that I include in a custom category. I have to name it thus to that I get `My Guide` in the menu of the resulting doc.
(Side note: Instead of using the file name, use the first headline as page title?)

Now, linking to this guide should be as easy as writing

	[this guide](My Guide)

or maybe

	[this guide](My Guide.md).

Instead, we currently have to do

	[this gui

[2017-04-24 13:29] reitzig commented on #190
Definitely! This is basically expected if you come over from the Java world.

[2017-04-24 13:38] reitzig opened #776 "Drop references to inaccessible types"
Say I have a setup similar to this:

[code]

I do not want the documentation of `FooBar` to reference `Foo` unless `--min-acl` is set accordingly. Currently, Jazzy just copies (?) the declaration line (but does not link `Foo` since the documentation is created for that protocol).

[2017-04-24 13:41] reitzig opened #777 "Drop comments from declarations"
Say I have something like this:

[code]

I don't want this comment to appear in the (public) documentation. Jazzy currently just copies (?) the declaration line, including the comment.

[2017-04-24 15:05] mikeKane commented on #773
Excluding the above files it generates ok, however jazzy still wont parse anything but my extension.
Running the command
 jazzy --min-acl internal

Any ideas?

[2017-04-24 15:20] #773 closed

[2017-04-24 15:21] mikeKane opened #778 "Not parsing the container app, just the extension"
Running the command jazzy --min-acl internal it will still not parse the classes in my main project. It finishes with 0 errors, and the README.md file gets parsed fine.

Any ideas?

[2017-04-24 15:32] reitzig commented on #715
Autolinking does not work in abstract for me, either.

[2017-04-24 15:37] reitzig opened #779 "Add configuration to drop certain callouts depending on the access level setting"
I don't necessarily want information like author and date of symbols in public documentation.

Therefore, I'd need to tell Jazzy to just drop `- Author:` and `- Date:` callouts unless `--min-acl internal` (or lower).

[2017-04-24 15:47] reitzig opened #780 "Spurious section headers in custom categories"
I collect symbols in custom categories. Despite the fact that they are all `public`, I get "Public" headers in the index list.

Exhibit A:
![screen shot 2017-04-24 at 17 45 23](https://cloud.githubusercontent.com/assets/4246780/25345661/e6e33c86-2915-11e7-8443-1ab4b4b03d67.png)

Exhibit B:
![screen shot 2017-04-24 at 17 45 31](https://cloud.githubusercontent.com/assets/4246780/25345662/e6e7ed26-29

[2017-04-24 15:59] reitzig commented on #780
Ah, my bad; these are `// MARK:` comments in our code. But why on earth are they included in these indices? They are far away from the declarations they accompany here in the index, and are used to organize *files*, not documentation categories.

I think `MARK`s should be dropped from category indices.

The bigger gaps coincide with the beginnings of new files. That also makes little sense in cust

[2017-04-24 16:36] mikeKane commented on #778
Xcode 8.3.2/Swift 3.1

[2017-04-25 09:21] johnfairh commented on #779
Right now I think the best way for you to do this is via css: take a copy of whichever theme you are using and add a "display: none" rule for "aside-author" & "aside-date", give jazzy --theme.

[2017-04-25 09:33] johnfairh commented on #778
Hard to be certain without seeing the project but I think this is because the app + the extension are separate swift modules.  So to get everything you would need to invoke sourcekitten twice, once for each module, then combine the sourcekitten output and pass that combined file to jazzy.

Say your app is MyApp + the extension MyAppToday.

Then `sourcekitten doc --module-name MyApp > myapp_sk.json

[2017-04-25 14:54] mikeKane commented on #778
Thanks!!!!!!

[2017-04-25 15:00] mikeKane commented on #778
With that command, how come it doesnt read the .yaml any longer?

I wish to exclude files.

[2017-04-25 15:18] #778 closed

[2017-04-25 20:32] Laptopmini opened #781 "Jazzy/SourceKitten fails to parse compiler arguments from `xcodebuild` output."
Using the following command
[code]

I get the following output
[code]

When I check the log, it ends with the following
[code]

It seems that it is failing to parse the arguments passed in for `xcodebuild`. After reading #758, @jpsim seems to claim that "C99 [does not allow] for module names including hyphens".

My module name includes a hyphen, are you sure this is true? Is it possible to resolve

[2017-04-25 21:03] Laptopmini commented on #781
As instructed in #764, I ran the following commands
[code]
Yielding the same output as above, with a successful build.

I'm not at liberty to upload the full log file at this time, I hope I have provided enough information. Thanks for any help.

[2017-04-25 21:17] jpsim commented on #765
added in d895379: `jazzy --no-download-badge`

[2017-04-25 21:48] Laptopmini commented on #781
I attempted to duplicate the scheme using the name `MyAppTemp` and run jazzy using the new hyphen-less scheme, with no success.

I have doubts the hyphen is the problem at this point.

[2017-04-25 22:16] Laptopmini commented on #781
I've found the source of my problem. The wrong workspace was being used, my bad.

I ran into other problems, I will be opening a separate ticket as the information above is not relevant anymore.

[2017-04-25 22:27] Laptopmini commented on #781
My mistake, I thought I had found the origin of the problem, but it was just resolved by a clean build.

This problem still remains. I am very confused at this point.

[2017-04-25 22:29] jpsim commented on #781
Jazzy expects the module name to match the scheme name, so if they don't match, you'll need to explicitly specify the module name:

[code]

[2017-04-25 22:46] Laptopmini commented on #781
That worked! Making progress!

I am getting to the following
[code]

Followed by an error
[code]

Which seems to be cause by "invoking Jazzy with a nonexistent custom theme"
according to https://github.com/realm/jazzy/issues/550#issuecomment-233789879

For which the root cause seems to be because the "readme's example command uses a custom theme, so new users pasting example commands without too m

[2017-04-25 22:46] #781 closed

[2017-04-26 06:43] reitzig commented on #768
Related: #776, #777